@import '../../sass/settings.scss';

div.columns.ma-left-label-sidebar {
    padding-left: 0;
    padding-right: 0;
}
div.columns.ma-left-label-input-sidebar {
    padding-right: 0;
}

@mixin sidebar-content {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(#{$sidebar-width} - #{$sidebar-content-width});
  background-color: $ma-white;
  width: $sidebar-content-width;
  overflow: auto;
}
