{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "entry"
            }
        ],
        [
            "minify",
            {
                "builtIns": false
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        },
                    }
                ]
            ],
            "inputSourceMap": true,
        }
    }
}
