{
	extends: ["eslint:recommended"],
	plugins: ["html"],
	parser: "babel-eslint",
	"parserOptions": {
        "sourceType": "module"
    },
	env: {
		"browser": true,
		"node": true,
		"commonjs": true,
		"es6": true,
		"jasmine": true
	},
	rules: {
		"linebreak-style": ["error", "unix"],
		"no-console": "warn"
	}
}