*.DS_Store
/pub/System/FlatSkinPlugin/fonts/*
/pub/System/FlatSkinPlugin/css/*
/pub/System/FlatSkinPlugin/js/*
/bower_components/*
/node_modules/*
/grunt.json
/pub/System/FlatSkinPlugin/src/scss/qwiki/_qwiki-font.scss
/pub/System/FlatSkinPlugin/src/scss/qwiki/qwiki-font.html
