node_modules/*
pub/System/FlatSkin/css/flatskin.*
pub/System/FlatSkin/css/flatskin_wrapped.*
pub/System/FlatSkin/js/flatskin.*
pub/System/FlatSkin/js/foundation.*
pub/System/FlatSkin/fonts/opensans/*
.sass-cache/*
