@import "foundation/functions";
@import "fdn-vars";

// grid properties
$total-columns: 12;
$row-width: 100%;


// colors
$qw-body-bg: #f2f2f2;
$qw-content-bg: #fff;
$qw-info-color: $primary-color;
$qw-draft-color: $alert-color;
$qw-edit-color: $warning-color;
$qw-approved-color: $success-color;
$qw-content-padding: rem-calc(30);


// default border values borders
$qw-border-bg: #dbdbd9;
$qw-border-width: 1px;


// contextual borders (default values if no context is set)
$qw-context-border-width: 5px;
$qw-context-border-color: $secondary-color;


// breadcrumbs
$qw-breadcrumb-bg: $qw-content-bg;
$qw-breadcrumb-color: #7b7b7b;
$qw-breadcrumb-hover-color: #f2f2f2;
$qw-breadcrumb-border-color: #f2f2f2;
$qw-breadcrumb-border-color: $qw-border-bg;
$qw-breadcrumb-border-width: $qw-border-width;


// topbar(s)
$qw-top-one-height: 40px;
$qw-top-one-bg: $qw-content-bg;
$qw-top-one-color: #555;
$qw-top-one-border-color: $qw-border-bg;
$qw-top-one-border-width: $qw-border-width;

$qw-top-two-height: 50px;
$qw-top-two-bg: $body-bg;

$qw-top-height: $qw-top-one-height + $qw-top-two-height;


// pace
$qw-pace-bg: #29d;
$qw-pace-h: 2px;
$qw-pace-t: 0;


// weblist (will be removed soon)
$qw-weblist-divider-color: #333;
$qw-weblist-font-size: 0.8rem;
$qw-weblist-link-color: $qw-info-color;
$qw-weblist-link-color-hover: darken($qw-weblist-link-color, 30%);
$qw-weblist-intend: rem-calc(15);


// tabs
$qw-tab-active-color: white;
$qw-tab-active-style: bold;


// attachtable
$qw-attachtable-link-color: $body-font-color;
$qw-attachtable-link-hover-color: $body-font-color;
$qw-attachtable-link-bg-color: darken($body-bg, 10%);


// login
$qw-login-border-top: 5px solid $qw-approved-color;
$qw-login-bg: $qw-content-bg;
$qw-login-form-box-shadow: 2px 0 10px $qw-approved-color;
$qw-login-header-box-shadow: 1px 0 10px $qw-approved-color;


// offcanvas areas
// leftbar, rightbar, searchbar
$qw-leftbar-width: 250px;
$qw-leftbar-border-width: $qw-border-width;
$qw-leftbar-border-color: $qw-border-bg;

$qw-searchbar-bg: $qw-content-bg;
$qw-searchbar-active-bg: $body-bg;
$qw-searchbar-border-width: $qw-border-width;
$qw-searchbar-border-color: $qw-border-bg;

$qw-search-bg: $body-bg;
$qw-search-border-width: $qw-border-width;
$qw-search-border-color: $qw-border-bg;

$qw-rightbar-bg: $qw-content-bg;
$qw-rightbar-active-bg: $body-bg;
$qw-rightbar-border-width: $qw-border-width;
$qw-rightbar-border-color: $qw-border-bg;


// document head (DocumentForm in view ctx)
$qw-document-head-border-width: $qw-border-width;
$qw-document-head-border-color: $qw-border-bg;
