@import "foundation/functions";

// grid properties
$total-columns: 12;
$row-width: 100%;


// screen sizes
$qw-small-range: (0, rem-calc(768));
$qw-medium-range: (rem-calc(769), rem-calc(1200));
$qw-large-range: (rem-calc(1201), rem-calc(1440));
$qw-xlarge-range: (rem-calc(1441), rem-calc(1920));
$qw-xxlarge-range: (rem-calc(1921));

// foundation colors
$primary-color: #236aa2;
$secondary-color: #ccc;
$alert-color: maroon;
$success-color: #70af57;
$success-color-hover: #61964b;
$warning-color: #dd6936;
$info-color: #a0d3e8;


// colors
$qw-body-bg: #edeff0;
$qw-content-bg: #fff;
$qw-info-color: $primary-color;
$qw-draft-color: $alert-color;
$qw-edit-color: $warning-color;
$qw-approved-color: #70af57;
// colors: generic interaction elements
$qw-button1-bg-color: $primary-color;
$qw-button1-bg-hover-color: #287ab8;
$qw-button1-bg-active-color: #1e5b8a;
$qw-button1-shadow-color: #164263;

$qw-button2-bg-color: white;
$qw-button2-bg-hover-color: #e1e2e3;
$qw-button2-bg-active-color: #bbbcbd;
$qw-button2-shadow-color: $qw-button2-bg-hover-color;

$qw-backbtn-bg-color: $qw-button2-bg-hover-color;
$qw-backbtn-bg-hover-color: $qw-button2-bg-hover-color;
$qw-backbtn-bg-active-color: $qw-button2-bg-active-color;
$qw-backbtn-shadow-color: $qw-button2-bg-active-color;

$qw-link-bg-color: #e7edf3;
$qw-link-fg-color: $primary-color;
$qw-link-bg-hover-color: #cfdae6;
$qw-link-bg-active-color: $primary-color;
$qw-link-fg-active-color: white;
$qw-link-inlay-bg-color: white;

$qw-closebtn-bg-color: $qw-link-bg-color;
$qw-closebtn-fg-color: $qw-link-fg-color;
$qw-closebtn-bg-hover-color: $qw-link-bg-hover-color;
$qw-closebtn-bg-active-color: $qw-link-bg-active-color;
$qw-closebtn-fg-active-color: $qw-link-fg-active-color;

$qw-input-bg-color: #f0f0f0;
$qw-input-placeholder-color: #a3a3a3;
$qw-input-fg-color: black;

// colors: menu/topbar elements
$qw-topbtn-bg-color: #d9dbdb;
$qw-topbtn-shadow-color: #e6e7e8;
$qw-topbtn-fg-color: #65686e;
$qw-topbtn-bg-hover-color: white;
$qw-topbtn-fg-hover-color: black;
$qw-topbtn-bg-active-color: white;
$qw-topbtn-fg-active-color: #306a96;

$qw-menu-closed-fg-color: $qw-topbtn-fg-color;
$qw-menu-closed-fg-hover-color: $qw-topbtn-fg-hover-color;
$qw-menu-closed-fg-active-color: $qw-topbtn-fg-active-color;
$qw-menu-open-fg-color: white;
$qw-menu-open-bg-color: $qw-topbtn-fg-active-color;
$qw-menu-open-inlay-bg-color: #28587d;
$qw-menu-open-inlay-bg-hover-color: #154060;
$qw-menu-open-active-bg-color: $qw-menu-open-inlay-bg-hover-color;

$qw-bread-bg-color: $qw-topbtn-bg-color;
$qw-bread-shadow-color: $qw-topbtn-shadow-color;
$qw-bread-fg-color: $qw-topbtn-fg-color;
$qw-bread-bg-hover-color: $qw-topbtn-bg-hover-color;
$qw-bread-fg-hover-color: $qw-topbtn-fg-hover-color;
$qw-bread-bg-active-color: $qw-topbtn-bg-active-color;
$qw-bread-fg-active-color: $qw-topbtn-fg-active-color;

$qw-iconbtn-bg-color: transparent;
$qw-iconbtn-shadow-color: transparent;
$qw-iconbtn-fg-color: $qw-topbtn-fg-color;
$qw-iconbtn-bg-hover-color: $qw-topbtn-bg-hover-color;
$qw-iconbtn-fg-hover-color: $qw-topbtn-fg-hover-color;
$qw-iconbtn-bg-active-color: $qw-topbtn-bg-active-color;
$qw-iconbtn-fg-active-color: $qw-topbtn-fg-active-color;

$qw-split-bg-color: $primary-color;
$qw-split-bg-hover-color: #287ab8;
$qw-split-bg-active-color: #1e5b8a;
$qw-split-shadow-color: #164263;


// wat
$qw-content-padding: rem-calc(30);


// font defaults
$qw-body-font-color: #222;
$qw-font-weight-normal: normal;


// default border values borders
$qw-border-bg: #d9dbdb;
$qw-border-width: 1px;


// contextual borders (default values if no context is set)
$qw-context-border-width: 3px;
$qw-context-border-color: $secondary-color;


// topbar(s)
$qw-top-one-height: 50px;
$qw-top-one-bg: $qw-body-bg;
$qw-top-one-color: #555;
$qw-top-one-border-color: #e6e7e8;
$qw-top-one-border-width: $qw-border-width;

$qw-top-two-height: 55px;
$qw-top-two-bg: $qw-body-bg;

$qw-top-height: $qw-top-one-height + $qw-top-two-height;


// breadcrumbs
$qw-breadcrumb-bg: #d9dbdb;
$qw-breadcrumb-color: #65686e;
$qw-breadcrumb-hover-bg: darken( $qw-top-one-bg, 5% );
$qw-breadcrumb-border-color: #f2f2f2;
$qw-breadcrumb-border-color: $qw-body-bg;
$qw-breadcrumb-border-width: $qw-border-width;
$qw-breadcrumb-radius: 5px;
$qw-breadcrumb-height: $qw-top-one-height - 10px;
$qw-breadcrumb-offset-top: 5px;
$qw-breadcrumb-border-size: 25px - $qw-breadcrumb-offset-top;
$qw-breadcrumb-spacing: 3px;


// weblist (will be removed soon)
$qw-weblist-divider-color: #333;
$qw-weblist-font-size: 0.8rem;
$qw-weblist-link-color: $primary-color;
$qw-weblist-link-color-hover: darken($qw-weblist-link-color, 30%);
$qw-weblist-intend: rem-calc(15);


// tabs
$qw-tab-active-color: white;
$qw-tab-active-style: bold;


// attachtable
$qw-attachtable-link-color: $qw-body-font-color;
$qw-attachtable-link-hover-color: $qw-body-font-color;
$qw-attachtable-link-bg-color: darken($qw-body-bg, 10%);


// login
$qw-login-border-top: 5px solid $qw-approved-color;
$qw-login-bg: $qw-content-bg;
$qw-login-form-box-shadow: 2px 0 10px $qw-approved-color;
$qw-login-header-box-shadow: 1px 0 10px $qw-approved-color;


// offcanvas areas
// leftbar, rightbar, searchbar
$qw-leftbar-width: 250px;
$qw-leftbar-bg: #306a96;
$qw-leftbar-border-width: $qw-border-width;
$qw-leftbar-border-color: $qw-border-bg;

$qw-searchbar-bg: $qw-content-bg;
$qw-searchbar-active-bg: $qw-body-bg;
$qw-searchbar-border-width: $qw-border-width;
$qw-searchbar-border-color: $qw-border-bg;
$qw-searchbar-close-btn-bg: $qw-closebtn-bg-color;
$qw-searchbar-close-btn-color: $primary-color;
$qw-searchbar-result-bg: $qw-content-bg;
$qw-searchbar-result-hover-bg: $qw-closebtn-bg-color;

$qw-search-bg: $qw-content-bg;
$qw-search-border-width: $qw-border-width;
$qw-search-border-color: $qw-border-bg;
$qw-search-close-btn-width: 60px;

$qw-rightbar-bg: $qw-content-bg;
$qw-rightbar-active-bg: $qw-body-bg;
$qw-rightbar-border-width: $qw-border-width;
$qw-rightbar-border-color: $qw-border-bg;


// document head (DocumentForm in view ctx)
$qw-document-head-border-width: $qw-border-width;
$qw-document-head-border-color: $qw-border-bg;
