[data-accordion] section {
  > .heading {
    text-transform: uppercase;
    font-weight: bold;
    color: darken($body-bg, 25%);
    display: block;
    width: 100%;
    padding: rem-calc(10 5);
    cursor: pointer;

    &:hover {
      background: darken($body-bg, 10%);
      color: darken($body-bg, 25%);
    }

    .adorner {
      @extend .fa;
      @extend .right;
      padding-right: rem-calc(14);
    }

  }

  &:first-child {
      margin-top: 5px + $qw-top-two-height;
      border-top: 1px solid $qw-border-bg;
  }

  > ul {
    @include side-nav(
      $divider-color: $qw-weblist-divider-color,
      $font-size: $qw-weblist-font-size,
      $link-color: $qw-weblist-link-color,
      $link-color-hover: $qw-weblist-link-color-hover
    );

    transition: max-height 0.3s ease-in-out;
    overflow-y: hidden;
    padding: 0 0;

    li {
      margin: 0;
      list-style: none;
      a:not(.button) {
        padding: 0.25rem 0.875rem;
      }
    }

    ul {
      padding-left: 0;
      > li > a {
        padding-left: 0;
      }
    }
  }

  &.active {
    > .heading {
      color: darken($body-bg, 50%);
    }

    > .heading > .adorner {
      @extend .fa-chevron-down;
    }

      > ul {
      height: 100%;
      max-height: 1000px;
    }
  }

  &:not(.active) {
    > .heading > .adorner {
      @extend .fa-chevron-left;
    }

    > ul {
      max-height: 0;
    }
  }
}
