.qw-joinedtab {
  float: left;
  margin-right: $button-tny;
  height: 100%;

  > a {
    @include button( $padding: $button-sml, $bg: $secondary-color );
    padding: $button-sml $button-tny;
    height: inherit;
    font-size: rem-calc(13);
    border-top-left-radius: $qw-tab-radius;
    // border-top-right-radius: $qw-tab-radius;

    &:before {
      font-family:"qwiki-font";
      font-size: 1.75rem;
      line-height: 1rem;
      vertical-align: text-top;
      margin-right: $button-tny;
    }
  }

  &.approved {
    > a {
      border-top-right-radius: $qw-tab-radius;

      &:before {
        @extend .icon-page-free;
      }
    }

    &.active > a,
    &:not(.active) > a:hover {
      background: $qw-approved-color;
      color: white;
    }
  }

  &.unapproved {
    > a:before {
      @extend .icon-page-draft;
    }

    &.active > a,
    &:not(.active) > a:hover {
      background: $qw-edit-color;
      color: white;
    }

    &:hover,
    &.active {
      > a {
        background: $qw-edit-color;
        color: white;
      }

      > .sub-tab {
        background: $qw-joined-draft-hover-color;
        border-color: $qw-edit-color;
        color: white;

        > a:before {
          color: white !important;
        }
      }
    }
  }

  > .sub-tab {
    transition: background 0.2s ease-in-out,
                border-color 0.2s ease-in-out;
    background: darken($secondary-color, 5%);
    border: 3px solid $secondary-color;
    float: right;
    height: inherit;

    > a {
      display: block;
      height: inherit;
      font-size: rem-calc(13);
      line-height: normal;
      font-weight: normal;
      color: white;

      padding-top: $button-tny;
      padding-left: $button-tny;
      padding-right: $button-tny;

      &:before {
        font-family:"qwiki-font";
        font-size: 1.75rem;
        line-height: 1rem;
        vertical-align: text-top;
        margin-right: $button-tny;
        transition: margin-right 0.1s linear;
      }

      &:hover {
        color: white;
      }

      &:not(:hover) {
        &:before {
          margin-right: 0;
          color: #333 !important;
        }

        .expander {
          max-width: 0;
        }
      }

      .expander {
        display: block;
        width: auto;
        max-width: rem-calc(500);
        overflow-x: hidden;
        float: right;
        transition: max-width 0.1s ease-in-out;
        white-space: nowrap;
      }
    }

    &.edit > a:before {
      @extend .icon-edit;
      color: white;
    }
  }
}

// printing, further topic actions, language selector, etc
.qw-action-button {
  @include button( $padding: $button-tny, $bg: $secondary-color );
  margin-bottom: 0px;
  background: transparent;
}
