.qw-attachtable {
  @include side-nav(
    $link-color: $qw-attachtable-link-color,
    $link-color-hover: $qw-attachtable-link-hover-color,
    $link-bg-hover: $qw-attachtable-link-bg-color
  );

  .fa {
    margin-top: rem-calc(5);
  }
}
