.nav.qw-breadcrumb {
  list-style: none;
  overflow: hidden;
  margin-top: $qw-breadcrumb-offset-top;
  max-height: $qw-breadcrumb-height;

  > li {
    float: left;

    &:first-child {
      border-left: none;

      a {
        padding-left: 20px !important;
        padding-right: 10px !important;

        border-top-left-radius: $qw-breadcrumb-radius;
        border-bottom-left-radius: $qw-breadcrumb-radius;
      }
    }

    &:last-child {
      a {
        color: $qw-breadcrumb-color;
        // cursor: default;
        // pointer-events: none;
        border-top-right-radius: $qw-breadcrumb-radius;
        border-bottom-right-radius: $qw-breadcrumb-radius;

        &:after {
          border-left: none;
          background: transparent;
        }

        &:before {
          border-left: 30px solid transparent;
        }
      }
    }

    > a {
      color: $qw-breadcrumb-color;
      height: $qw-breadcrumb-height;
      text-decoration: none;
      padding: 8px 10px 5px 35px;
      background: $qw-breadcrumb-bg;
      position: relative;
      display: block;
      float: left;

      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 15px solid $qw-breadcrumb-bg;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 100%;
        z-index: 2;
      }

      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 15px solid $qw-breadcrumb-border-color;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        margin-left: $qw-breadcrumb-spacing;
        left: 100%;
        z-index: 1;
      }

      &:hover {
        background: $qw-breadcrumb-hover-bg;

        &:after {
          border-left-color: $qw-breadcrumb-hover-bg;
        }
      }
    }
  }
}
