ul.qw-breadcrumb {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;

  @media #{$mobile-only} {margin-top: 0;}
  @media #{$small-up} {margin-top: $qw-breadcrumb-offset-top;}

  > li {
    float: left;
    margin-left: $qw-breadcrumb-spacing;
    height: $qw-breadcrumb-height;
    line-height: $qw-breadcrumb-height;

    &:first-child {
      border-left: 0;
      margin-left: 0;
      padding-top: 1px; // for some reason this one is aligned differently than all others

      a {
        border-top-left-radius: $qw-breadcrumb-radius;
        border-bottom-left-radius: $qw-breadcrumb-radius;
        font-size: 1rem;
      }
    }

    &:last-child {
      a {
        color: $qw-breadcrumb-color;
        cursor: default;
        pointer-events: none;
        border-top-right-radius: $qw-breadcrumb-radius;
        border-bottom-right-radius: $qw-breadcrumb-radius;
        background: transparent;

        &:after {
          border-left: 0;
          background: transparent;
        }

        &:before {
          border-left: 30px solid transparent;
        }
      }
    }

    > a {
      color: $qw-breadcrumb-color;
      font-size: rem-calc(12);
      font-family: $body-font-family;
      background: $qw-breadcrumb-bg;
      text-decoration: none;
      padding: rem-calc(0 10 0 25);
      position: relative;
      display: inline-block;

      &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 10px solid $qw-breadcrumb-bg;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
      }

      &:before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 10px solid $qw-breadcrumb-border-color;
        position: absolute;
        top: 0;
        margin-left: $qw-breadcrumb-spacing;
        left: 100%;
        z-index: 1;
      }

      &:hover {
        background: $qw-breadcrumb-hover-bg;

        &:after {
          border-left-color: $qw-breadcrumb-hover-bg;
        }
      }
    }
  }

  li.no-pointer-events, li.no-pointer-events ~ .qw-breadcrumb-web {
    background: transparent;

    > a {
      background-color: transparent;
      color: $qw-breadcrumb-title-color;
      font-size: rem-calc(22);
      padding-left: rem-calc(5);

      &:after {
        border-left-width: 0;
      }

      &:before {
        border-left-width: 0;
      }
    }
  }

  > li.qw-breadcrumb-ellipsis {
    position: relative;
  }

  > li.qw-breadcrumb-ellipsis ul {
    visibility: hidden;
    position: fixed;
    top: $qw-breadcrumb-offset-top + $qw-breadcrumb-height;
    z-index: 200;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: block;
      border-top: solid $qw-breadcrumb-spacing $qw-breadcrumb-border-color;
      background: $qw-breadcrumb-bg;

      > a {
        color: $qw-breadcrumb-color;
        height: $qw-breadcrumb-height;
        text-decoration: none;
        padding: 8px 10px 5px;
        display: block;
      }

      &:hover {
        background: $qw-breadcrumb-hover-bg;
      }
    }

    > li:first-child a {
      border-top: 0;
      border-top-left-radius: $qw-breadcrumb-radius;
      border-top-right-radius: $qw-breadcrumb-radius;
    }
  }

  > li.qw-breadcrumb-ellipsis:hover > ul {
    visibility: visible;
  }

  > li.qw-breadcrumb-topic {
    float: none;

    > a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
      color: $qw-breadcrumb-topic-color;
      font-size: 1rem;
    }
  }

  > li.qw-breadcrumb-home > a {
    font-size: 1.5rem;
    padding: rem-calc( 0 0 0 10 ) !important;
    max-height: $qw-breadcrumb-height;

    > i {
      position: relative; display: inline-block; width: 2.2rem; height: $qw-breadcrumb-height;

      &:before {
        line-height: $qw-breadcrumb-height;
        position: absolute; top: 0; left: 0;
      }
    }
  }
}
