.qw-close-btn {
  @include button( $radius: true, $bg: $qw-closebtn-bg );

  padding: rem-calc(12 10 10 10);
  font-size: 1rem;
  line-height: 1rem;
  color: $qw-closebtn-fg;

  font-family:"QWikiSymbol";
  &:before {
    content: $icon-remove;
    font-size: rem-calc(20);
  }

  &:hover {
    background: $qw-closebtn-hover-bg;
  }
  &:active {
    background: $qw-closebtn-active-bg;
  }

  &.arrow-left {  @extend .icon-arrow-left; }
  &.arrow-right { @extend .icon-arrow-right; }

  &.arrow-left, &.arrow-right {
    padding: rem-calc(12 18);
  }
}

.qw-prio1-btn {
  @include button( $radius: true, $bg: $qw-button1-bg-color );

  padding: rem-calc(12 14);
  font-size: rem-calc(14);
  line-height: 1;
  border: 1px solid transparent;

  &:hover {
    background-color: $qw-button1-bg-hover-color;
  }
  &:active {
    background-color: $qw-button1-bg-active-color
  }

  &.topbar-save {
    background: $qw-save-btn-bg;
    color: $qw-save-btn-color;

    &:hover {
      background: $qw-save-btn-hover-bg;
      color: $qw-save-btn-hover-color;
    }

    &:active {
      background: $qw-save-btn-active-bg;
      color: $qw-save-btn-active-color;
    }
  }
}

.qw-prio2-btn {
  @include button( $radius: true, $bg: $qw-button2-bg-color );

  padding: rem-calc(12 14);
  font-size: rem-calc(14);
  line-height: 1;
  color: #333;
  border: 1px solid $qw-button2-bg-hover-color;

  &:hover {
    background-color: $qw-button2-bg-hover-color;
  }
  &:active {
    background-color: $qw-button2-bg-active-color;
  }

  &.topbar-cancel {
    background: $qw-cancel-btn-bg;
    color: $qw-cancel-btn-color;
    border: 1px solid $qw-save-btn-color;

    &:hover {
      background: $qw-cancel-btn-hover-bg;
      color: $qw-cancel-btn-hover-color;
    }

    &:active {
      background: $qw-cancel-btn-active-bg;
      color: $qw-cancel-btn-active-color;
    }
  }
}

.qw-prio3-btn {
  @include button( $radius: true, $bg: $qw-button3-bg-color );

  padding: rem-calc(6 14);
  font-size: 1.5rem;
  line-height: 1;
  color: $qw-button3-fg-color;

  &:hover {
    background-color: $qw-button3-bg-hover-color;
  }
  &:active {
    background-color: $qw-button3-bg-active-color;
  }
}

.qw-prio1-btn, .qw-prio2-btn, .qw-prio3-btn {
  &.stretch {
    min-width: 100%;
  }
}

.qw-kvp-compare-btn {
  border-top: 1px solid $qw-border-bg;
  padding-top: $qw-content-padding/2;
  min-width: 100%;

  > a {
    display: block;
    background: #fff;
    transition: background 0.3s ease-in-out;
    border: 1px solid $qw-border-bg;
    padding: rem-calc(0 6 6 6);
    color: $body-font-color;
    text-decoration: none;
    vertical-align: middle;

    i {
      font-size: 2rem;
      margin-right: rem-calc(6);
    }

    &:hover {
      background: $qw-border-bg;
    }

    &:active {
      background: darken($qw-border-bg, 10%);
    }
  }
}

.qw-login-btn {
  @include button( $radius: true, $bg: $qw-button1-bg-color, $full-width: true );

  padding: rem-calc(14);
  font-size: rem-calc(14);
  line-height: 1rem;
  border: 1px solid transparent;
  max-height: 46px;

  &:hover {
    background-color: $qw-button1-bg-hover-color;
    border-bottom: 1px solid $qw-button1-shadow-color;
  }
  &:active {
    background-color: $qw-button1-bg-active-color
  }
}

.qw-reset-login-btn {
  @include button( $radius: true, $bg: $qw-body-bg, $full-width: true );

  font-size: rem-calc(12);
  line-height: 1;
  color: #333;
  border: 1px solid $qw-button2-bg-hover-color;
  padding-left: 0;
  padding-right: 0;
  max-height: 46px;

  &:hover {
    background-color: $qw-button2-bg-hover-color;
  }
  &:active {
    background-color: $qw-button2-bg-active-color;
  }
}

.qw-back-btn {
  @include button( $radius: true, $bg: $qw-backbtn-bg-color );

  padding: rem-calc(13 14 13 12);
  width: 14px;
  height: 14px;
  font-size: 1rem;
  line-height: 1;
  color: #333;

  color: $qw-backbtn-color;
  background: $qw-backbtn-bg-color;

  font-family: 'QWikiSymbol';
  @extend .icon-arrow-left;

  &.forward {
    @extend .icon-arrow-right;
  }

  &:hover {background-color: $qw-backbtn-bg-hover-color;}
  &:active {background-color: $qw-backbtn-bg-active-color;}

  &.blue {
    color: $qw-backbtn-blue-color;
    background: $qw-backbtn-blue-bg-color;

    &:hover {background-color: $qw-backbtn-blue-bg-hover-color;}
    &:active {background-color: $qw-backbtn-blue-bg-active-color;}
  }

  &.primary {
    color: white;
    background: $qw-button1-bg-color;

    &:hover {background-color: $qw-button1-bg-hover-color;}
    &:active {background-color: $qw-button1-bg-active-color;}
  }
}

.qw-add-btn {
  @extend .qw-symbol-btn;
  @extend .add;
}

.qw-edit-btn {
  @extend .qw-symbol-btn;
  @extend .edit;
}

.qw-remove-btn {
  @extend .qw-symbol-btn;
  @extend .remove;
}

.qw-symbol-btn {
  @include button( $radius: true, $bg: $qw-add-bg-color );

  padding: rem-calc(6 3 0 3);
  width: 34px;
  height: 34px;
  font-size: 2rem;
  color: #333;

  color: $qw-add-color;
  background: $qw-add-bg-color;

  font-family: 'QWikiSymbol';

  &:hover {background-color: $qw-add-bg-hover-color;}
  &:active {background-color: $qw-add-bg-active-color;}

  &.add {
    @extend .icon-add;
  }

  &.edit {
    @extend .icon-edit;
  }

  &.remove {
    @extend .icon-remove;
  }

  &.small {
    width: 24px;
    height: 24px;
    font-size: 1.25rem;
  }

  &.tiny {
    width: 14px;
    height: 14px;
    font-size: 1rem;
  }
}

input[type="text"].qw-input {
  background: $qw-input-bg-color;
  color: $qw-input-fg-color;
  border: 1px solid $qw-input-bg-color;
  border-radius: $global-radius;
  box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;

  // WebKit
  &::-webkit-input-placeholder {
    color: $qw-input-placeholder-color;
  }

  // FF 4-18
  &:-moz-placeholder {
    color: $qw-input-placeholder-color;
    opacity:  1;
  }
  
  // FF 19+
  &::-moz-placeholder {
    color: $qw-input-placeholder-color;
    opacity:  1;
  }

  // IE 10+
  &:-ms-input-placeholder { 
    color: $qw-input-placeholder-color;
  }
}

.qw-split-btn {
  @include button( $radius: true, $bg: $qw-split-bg-color );
  @extend .icon-checkmark-circle;

  padding: rem-calc(11);
  font-size: rem-calc(14);
  line-height: 1rem;
  border: 1px solid transparent;
  width: auto;
  text-align: left;

  &.expand {
    min-width: 100%;
  }

  &:before {
    font-family: 'QWikiSymbol';
    font-size: rem-calc(20);
    margin-left: rem-calc(-5);
    margin-right: rem-calc(10);
    vertical-align: middle;
  }

  &:hover {
    background-color: $qw-split-bg-hover-color;
    border-bottom: 1px solid $qw-split-shadow-color;
  }

  &:active {
    background-color: $qw-split-bg-active-color;
  }

  > [data-adorner] {
    @extend .icon-arrow-down;
    font-family: 'QWikiSymbol';
    &:before {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    border-left: 1px solid white;
    float: right;
    margin: rem-calc(-12 -12 -15 0);

    $pt: 10px;
    padding: 0 15px;
    padding-top: $pt;
    height: 43px - $pt;

    &:hover {
      background: darken($qw-split-bg-hover-color, 5%);
      border-top-right-radius: $global-radius;
    }
  }

  + ul {
      z-index: 999;
  }

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid white;

    > [data-adorner] {
      @extend .icon-arrow-up;
    }
  }
}

.qw-person {
  @include label(
    $padding: rem-calc(12 14),
    $text-size: rem-calc(14),
    $bg:$qw-button2-bg-color,
    $radius:4px
  );
  
  @extend .icon-user;
  font-size: rem-calc(14);
  line-height: 1;
  color: #333;
  border: 1px solid $qw-button2-bg-hover-color;

  &:before {
    margin-left: rem-calc(-5);
    margin-right: rem-calc(10);
  }
}

ul[data-drop] {
  position: absolute;
  left: -10000px;
  background-color: $qw-split-bg-color;
  list-style: none;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  margin: 0;

  > li {
    width: 100%;

    &:hover { background: $qw-split-bg-hover-color; }
    &:active { background: $qw-split-bg-active-color; }
    &:last-child { margin-bottom: rem-calc(10); }
  }

  > li a {
    display: inline-block;
    font-size: 0.8rem;
    padding: rem-calc(8 15);
    min-width: 100%;
    color: white;
  }
}

// .qw-btn-grp {
//   @include button-group-container( $styles: true, $float: false );
//   > li {
//     @include button-group-style( $radius: false, $even: false, $float: left );
//   }
// }
