// Codemirror Flat Theme

body.context-edit {
  .CodeMirror-gutters {
    background-color: $qw-content-bg;
  }
}

#cke-toolbar-container {
  > .CodeMirror-toolbar {
    height: $qw-top-two-height;
    background: $qw-top-one-cke-bg;
    border: none;

    .cm-btn {
      &.btn-base {
        $pad: 7px;
        $mar: 9px;
        display: inline-block;
        width: $qw-top-two-height - 2*$pad - 2*$mar !important;
        height: $qw-top-two-height - 2*$pad - 2*$mar !important;
        cursor: pointer;
        margin: $mar 0;
        padding: $pad;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #666666;
        border-radius: $global-radius;

        &:first-child {
          margin-left: 10px;
        }

        &:hover {
          background-color: #8c8c8c;
        }
  
        &:active {
          background-color: #e0e0e0;
        }

        &.btn-undo {
          background-image: url(../assets/icons/cm_undo.png);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.btn-redo {
          background-image: url(../assets/icons/cm_redo.png);
          margin-right: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.btn-find {
          background-image: url(../assets/icons/cm_search.png);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.btn-replace {
          background-image: url(../assets/icons/cm_replace.png);
          margin-right: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.btn-help {
          background-image: url(../assets/icons/cm_help.png);
          float: none;
        }
      }
    }
  }
}
