.info-color { color: $qw-info-color; }
.info-bg { background : $qw-info-color; }
.info-border { border-color: $qw-info-color; }

.draft-color { color: $qw-draft-color; }
.draft-bg { background : $qw-draft-color; }
.draft-border { border-color: $qw-draft-color; }

.edit-color { color: $qw-edit-color; }
.edit-bg { background : $qw-edit-color; }
.edit-border { border-color: $qw-edit-color; }

.approved-color { color: $qw-approved-color; }
.approved-bg { background : $qw-approved-color; }
.approved-border { border-color: $qw-approved-color; }
