a.craCompareAdd,
.craCompareAdd {
    background-color:#cfc;
}
a.craCompareChange2,
.craCompareChange2 {
    background-color:#cfc;
}
a.craCompareDelete,
.craCompareDelete {
    background-color:#fcc;
    text-decoration:line-through;
}
a.craCompareChange1,
.craCompareChange1 {
    background-color:#fcc;
    text-decoration:line-through;
}
table.craSideBySide {
	border:none;
	border-collapse:collapse;
}
table.craSideBySide .craCell {
	vertical-align:top;
	width:50%;
	padding:6px;
}
.craTableCellSeparator {
	width:1px;
	background-color:#666;
}
div.craInterweave {
	padding-left:13px;
}
div.craInterweaveDiff {
	position:relative;
	left:-13px;
	border-left:#ccc solid 6px;
	padding-left:10px;
}
