html body {
  background: $body-bg;
  overflow-x: hidden !important;
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
}

[data-offcanvas] {
  transition: transform 0.3s ease-in-out;
}
