.qw-commentbar {
  position: fixed;
  right: 0;
  background: $qw-kvpbar-bg;
  z-index: 100;
  transform: translate3d( 100%, 0, 0 );
  transition: opacity 0.5s ease-in-out,
              transform 0.3s ease-in-out;

  @media #{$mobile-only} {
    top: $qw-top-one-height-mobile;
    height: calc( 100% - #{$qw-top-one-height-mobile});
  }

  @media #{$small-up} {
    top: $qw-top-one-height;
    height: calc( 100% - #{$qw-top-one-height});
  }

  $p: percentage(1/12);
  @media #{$mobile-up} {
    width: 100%;
  }

  @media #{$medium-only} {
    width: calc(6 * #{$p} - #{$qw-content-padding});
  }

  @media #{$large-only} {
    width: calc(4 * #{$p} - #{$qw-content-padding} / 1.5);
  }

  @media #{$extended-up} {
    width: calc(3 * #{$p} - #{$qw-content-padding} / 2);
  }

  &.offcanvas {
    &.kvpbar {
      transform: translate3d( 0, 0, 0 );

      &.leftbar {
        @media #{$medium-only} {
          transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
        }

        @media #{$large-up} {
          $offset: rem-calc($qw-leftbar-width-expanded) - 2 * $qw-content-padding;
          transform: translate3d( $offset, 0, 0 );
        }
      }
    }
  }
}

[data-commentable="1"] {
  padding: 1rem;
  margin: -1rem;
  border-radius: $global-radius;

  &:hover {
    cursor: pointer;
  }

  &.active {
    &.idea { background: $qw-comment-idea-bg; }
    &.issue { background: $qw-comment-issue-bg; }
  }
}

[data-hascomments] {
  background-repeat: no-repeat;
  background-position: top right;
}

[data-hascomments="0"] { background-image: url('../assets/cmt-idea.png'); }
[data-hascomments="2"] { background-image: url('../assets/cmt-issue.png'); }

#qw-comment-container {
  display: none !important;
}

#qw-comment-adorner {
  position: fixed;
  display: none;
  z-index: 150;
  width: auto;
  height: auto;
  background: $primary-color;
  color: white;
  cursor: pointer;
  padding: rem-calc(6 15);
  font-size: 0.8rem;
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;

  line-height: 1;
  vertical-align: middle !important;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 0;
    height: 10%;

    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;

    border-right: 10px solid $primary-color;
    margin-left: -10px;
  }
}

input[type="radio"][name="commentType"] {
  display:none;
  margin: 0 !important;
  padding: 0 !important;

  & + label {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;

    span {
      @include button( $padding: $button-tny, $bg: #e7edf3, $full-width: true );
      color: #236aa2;

      &.left {
        border-bottom-left-radius: $global-radius;
        border-top-left-radius: $global-radius;
        border-right: 1px solid white;
      }

      &.right {
        border-bottom-right-radius: $global-radius;
        border-top-right-radius: $global-radius;
        border-left: 1px solid white;
      }

      .fa { margin-right: rem-calc(10); }
    }
  }

  &:checked + label span {
    &.left {
      border-bottom-left-radius: $global-radius;
      border-top-left-radius: $global-radius;
      border-right: 1px solid white;
    }

    &.right {
      border-bottom-right-radius: $global-radius;
      border-top-right-radius: $global-radius;
      border-left: 1px solid white;
    }

    &.idea {
      @include button( $padding: $button-tny, $bg: $qw-comment-idea-color, $full-width: true );
    }

    &.issue {
      @include button( $padding: $button-tny, $bg: $qw-comment-issue-color, $full-width: true );
    }
  }
}

.qw-comment-editbox {
  background: white;
  padding: rem-calc(10);
  border-radius: $global-radius;
  display: none;
  position: fixed;
  z-index: 2000;
  right: $qw-content-padding;


  $p: percentage(1/$total-columns);
  min-width: 3 * $p;
  max-width: 3 * $p;
  top: 0;

  &.active {
    display: block;
  }

  > .options {
    @include grid-row( $behavior: collapse );
    max-height: rem-calc(50);
    overflow: hidden;

    > .content {
      @include grid-column( $columns: 6, $collapse: true );
    }
  }

  > .text {
    @include grid-row( $behavior: collapse );

    > .content {
      @include grid-column( $columns: 12, $collapse: true );
    }
  }

  > .actions {
    @include grid-row( $behavior: collapse );
    max-height: rem-calc(40);
    overflow: hidden;

    > .content {
      &:first-child {
        @include grid-column( $columns: 7, $collapse: true );
      }

      &:last-child {
        @include grid-column( $columns: 4, $offset: 1, $collapse: true );
      }

      .submit {
        @include button( $padding: $button-tny, $radius: $global-radius, $full-width: true );
        border: 1px solid transparent;
      }

      .cancel {
        @include button( $padding: $button-tny, $radius: $global-radius, $full-width: true, $bg: white );

        border: 1px solid #ccc;
      }
    }
  }
}

.qw-comment-viewbox {
  background: white;
  padding: rem-calc(10);
  border-radius: $global-radius;
  display: none;
  position: fixed;
  z-index: 2000;
  right: $qw-content-padding;


  $p: percentage(1/$total-columns);
  min-width: 3 * $p;
  max-width: 3 * $p;
  top: 0;

  &.active {
    display: block;
  }

  > .meta {
    @include grid-row( $behavior: collapse );
    max-height: rem-calc(50);
    overflow: hidden;

    > .content:first-child {
      @include grid-column( $columns: 6, $collapse: true );
    }

    > .content:last-child {
      @include grid-column( $columns: 6, $collapse: true, $last-column: true );
    }

    .user {
      background: $qw-field1-bg-color;
      color: $qw-field1-fg-color;

      &:before {
        @include fa-icon();
        content: $fa-var-user;
        margin-right: rem-calc(5);
      }
    }

    .date {
      background: $qw-field2-bg-color;
      color: $qw-field2-fg-color;
      float: right;
    }

    .user, .date {
      display: inline-block;
      padding: rem-calc(3 10);
      border-radius: $global-radius;
      font-size: .8rem;
    }
  }

  > .comment {
    @include grid-row( $behavior: collapse );

    > .content {
      @include grid-column( $columns: 12, $collapse: true );
      padding: rem-calc(12 3);
    }
  }

  > .more {
    @include grid-row( $behavior: collapse );

    > .content {
      @include grid-column( $columns: 12, $collapse: true );
      border-top: $qw-border-width solid $qw-border-bg;
      padding: rem-calc(12 3 0 3);
      font-size: .8rem;

      .fa { font-size: .6rem; }
    }
  }
}
