
.context-info .qw-context > .content { border-color: $primary-color; }
.context-draft .qw-context > .content { border-color: $alert-color; }
.context-edit .qw-context > .content { border-color: $warning-color; }
.context-approved .qw-context > .content { border-color: $success-color; }
