
.context-info .qw-context > .content { border-color: $qw-info-color; }
.context-draft .qw-context > .content { border-color: $qw-draft-color; }
.context-edit .qw-context > .content { border-color: $qw-edit-color; }
.context-approved .qw-context > .content { border-color: $qw-approved-color; }
