.qw-dashboard-container {
	display: none;
	opacity: 0.5;
	transition: opacity 0.5s linear;

	&.active {
		display: block;
		opacity: 1;
	}

	> .task {
		margin:$qw-dashboard-task-margin;
		border-radius: $global-radius;
		background-color: $qw-dashboard-task-bg;
		cursor: pointer;

		> .input {
			display: inline-block;
			border-right: 3px solid transparent;
			border-radius: rem-calc( $global-radius 0 0 $global-radius);
			padding: $qw-dashboard-task-input-padding;
			> label {
				font-weight: bold;
				font-size: $qw-dashboard-task-label-font-size;
				padding: 0;
				margin: 0;
				vertical-align: middle;
				position: relative;
				top: 5px;

				> i {
					font-size: $qw-dashboard-task-label-icon-font-size;
					vertical-align: top;
				}
			}

			span {
				display: none;
				padding-left: $qw-dashboard-task-input-span-padding-left;
				font-weight: $qw-dashboard-task-input-span-font-weight;
			}
		}

		> span.title {
			padding-left: $qw-dashboard-task-title-left-padding;
			margin: 0;
			position: relative;
			top: $qw-dashboard-task-title-top;
			display: inline-block;
			font-size: $qw-dashboard-task-title-font-size;
			color: $qw-dashboard-task-title-color;
		}

		> span.badge {
			@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-today-badge-bg, $radius:$global-radius);
			float: right;
			text-transform: uppercase;
			vertical-align: middle;
			margin: $qw-dashboard-task-badge-margin;
			> i {
				font-size: $qw-dashboard-task-badge-icon-font-size;
			}
		}
		> a.meetings {
			float: right;
			text-decoration: none;
			font-size: $qw-dashboard-task-meetings-font-size;
			padding: $qw-dashboard-task-keyword-padding;
			color: $qw-dashboard-task-meetings-font-color;
			> i {
				font-size: $qw-dashboard-task-meetings-icon-font-size;
			}
		}

		&.new {
			> .input {
				background-color: $qw-dashboard-task-new-bg;
				border-color: $qw-dashboard-task-new-border-color;
				padding: $qw-dashboard-task-new-padding;
				span {
					display: inline-block;
				}
			> span.title {
				padding: $qw-dashboard-task-new-title-padding;
				}
			}
		}

		&:hover {
			background-color :$qw-dashboard-task-hover-bg;
			> span.title {
				color: $qw-dashboard-task-hover-title-color;
			}
		}

		&:active {
		background-color : $qw-dashboard-task-active-bg;
			> span.title {
				color:$qw-dashboard-task-active-title-color;
			}
			&.future {
				> span.badge {
					color: $qw-dashboard-task-active-badge-font-color;
				}

			}
		}

		&.tomorrow {
			> span.badge {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-tomorrow-badge-bg, $radius:$global-radius);
			}
		}

		&.future {
			> span.badge {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-future-badge-bg, $radius:$global-radius);
				color:$qw-dashboard-task-future-color;
			}
		}

		&.priority {
			> .input {
				border-left: $qw-dashboard-task-priority-border-left;
			}
		}

		&:nth-child(even) {
			background-color:$qw-dashboard-task-even-child-bg-color;
			&:hover {
				background-color: $qw-dashboard-task-hover-bg;
			}
			&:active {
			background-color : $qw-dashboard-task-active-bg;
			}
		}
	}
	&.knowledge {
		> .task {
			height: $qw-dashboard-task-keyword-height;
			> span.title {
				top: 8px;
				left: 10px;
			}
			> span.keywords {
				float: right;
				font-size: $qw-dashboard-task-keyword-font-size;
				padding: $qw-dashboard-task-keyword-padding;
				color: $qw-dashboard-task-keyword-font-color;
			}
		}
	}
}

.qw-dashboard-topbar {

	height: $qw-dashboard-topbar-height;
	background: $qw-dashboard-topbar-bg-color;
	> span {
		float: left;
		font-size: $qw-dashboard-topbar-span-font-size;
		color:$qw-dashboard-topbar-span-font-color;
		padding: $qw-dashboard-topbar-span-padding;
		> i {
			font-size: $qw-dashboard-topbar-i-font-size;
		}
	}

	.dashboard-list {
		 @include inline-list;

		> li {
			min-width: $qw-dashboard-list-min-width;
			font-size: $qw-dashboard-list-font-size;
			margin-left: $qw-dashboard-list-margin-left;
			color: $qw-dashboard-list-font-color;
			padding: $qw-dashboard-list-padding;
			cursor: pointer;
			&:hover {
				/* transition: all 10s ease-in-out; */
				background : $qw-dashboard-list-hover-bg;
				border-radius: $global-radius;
				color: $qw-dashboard-list-hover-font-color;
			}
		}
	}
}

.qw-dashboard-toptwo {
	margin-top: $qw-dashboard-toptwo-margin-top;
	height: $qw-dashboard-toptwo-height;
	&.tasks {
		display: none;
	&.active {
		display: block;
		opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			> a {
				text-decoration: none;
				color: $qw-dashboard-toptwo-content-font-color;
			}

			> i {
				margin-left: $qw-dashboard-list-margin-left;
			}
		}

		> .add {
			
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			color: $qw-dashboard-toptwo-a-font-color;
			> i { 
			padding-right: $qw-dashboard-toptwo-a-margin;
			font-size: $qw-dashboard-toptwo-a-icon-font-size;

			}
		}

		> .maximize {
			padding: $qw-dashboard-toptwo-maximize-padding;
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: $qw-dashboard-toptwo-maximize-font-style;
			color: $qw-dashboard-toptwo-maximize-font-color;
			> i { 
			font-size: $qw-dashboard-toptwo-maximize-icon-font-size;
			padding: $qw-dashboard-toptwo-maximize-icon-padding;

			}
		}
	}

	&.knowledge {
		display: none;
	&.active {
		display: block;
		opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			display: inline-block;
		}

		> a {
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			text-decoration: none;
			color: $qw-dashboard-toptwo-a-font-color;
			> i {
			padding-right: $qw-dashboard-toptwo-a-margin;
			}
		}
		> .view {
			float: right;
			display: inline-block;
			border: $qw-dashboard-toptwo-view-border;
			margin:$qw-dashboard-toptwo-view-margin;
			height: $qw-dashboard-toptwo-view-height;
			border-radius: $global-radius;
			> .qw-action-button {
				width: $qw-dashboard-toptwo-view-action-button-width;
				height: $qw-dashboard-toptwo-view-action-button-height;
				> i {
					font-size: $qw-dashboard-toptwo-view-action-button-font-size;
				}
			}
		}
	}
}

