.qw-dashboard-container {
	display: none;
	opacity: 0.5;
	transition: opacity 0.5s linear;

	&.active {
		display: block;
		opacity: 1;
	}

	&.tasks, &.knowledge {

		> .task, .knowledge {
			position: relative;
			@include flex-container($wrap: wrap);
			color: $qw-agenda-container-font-color;
			font-size: $qw-agenda-container-font-size;
			float: left;
			min-height: 40px;
			width: $qw-agenda-container-width;
			margin:$qw-dashboard-task-margin;
			border-radius: $global-radius;
			background-color: $qw-dashboard-task-bg;
			cursor: pointer;

			> .task-input, .knowledge-title {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				height: 100%;
				border-right: 3px solid transparent;
				border-radius: rem-calc( $global-radius 0 0 $global-radius);
				padding: 0.125rem 0 0 0.3rem;

				> label {
					font-weight: bold;
					font-size: $qw-dashboard-task-label-font-size;
					margin: 0;

					> i {
						font-size: 1.6rem;
						vertical-align: top;
						position: relative;
						top: 5px;
					}
				}

				span {
					display: none;
					padding-right: $qw-dashboard-task-input-span-padding-left;
					font-weight: $qw-dashboard-task-input-span-font-weight;
					vertical-align: middle;
				}
			}

			> .task-title {
				display: inline-block;
				@include flex($grow: 4);
				max-width: 50%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding: 0.625rem 0.25rem 0.3125rem 0.3125rem;
				margin: 0;
				margin-left: 30px;
				top: $qw-dashboard-task-title-top;
				font-size: $qw-dashboard-task-title-font-size;
				color: $qw-dashboard-task-title-color;
			}

			> .task-meetings {
				float: right;
				font-size: $qw-dashboard-task-meetings-font-size;
				padding: 0.3125rem 2.25rem 0.3125rem 0.3125rem;
				color: $qw-dashboard-task-meetings-font-color;

				> i {
					font-size: $qw-dashboard-task-meetings-icon-font-size;
				}
			}

			> .task-responsible {
				@include flex($grow: 1);
				padding: 0.3125rem 1.25rem 0.3125rem 0.3125rem;
				margin-top: 5px;
				min-width: 5%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				> span {
					background: $qw-agenda-container-responsible-span-bg-color;
					border-radius: $global-radius;
					color: $qw-agenda-container-responsible-span-font-color;
					padding: 0.3125rem 2.25rem 0.3125rem 0.3125rem;

					> i {
					font-size: $qw-agenda-container-responsible-span-icon-font-size;
					padding-right: 5px;
					}
				}
			}

			> .task-badge, .knowledge-badge {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-today-badge-bg, $radius:$global-radius);
				float: right;
				text-transform: uppercase;
				vertical-align: middle;
				margin: 0.4375rem 0.3125rem 8px 0.3125rem;
				span {
					> i {
					font-size: $qw-dashboard-task-badge-icon-font-size;
					}
				}
			}

			&.new {
				> .task-input {
					background-color: $qw-dashboard-task-new-bg;
					border-color: $qw-dashboard-task-new-border-color;
					padding: 0.125rem 0 0 0.3rem;

					span {
						display: inline-block;
					}

				> .task-title {
					padding: 0.125rem 0 0 3.3rem;
					}
				}
			}

			&:hover {
				background-color :$qw-dashboard-task-hover-bg;

				> .task-title {
					color: $qw-dashboard-task-hover-title-color;
				}
			}

			&:active {
				background-color : $qw-dashboard-task-active-bg;

				> .task-title {
					color:$qw-dashboard-task-active-title-color;
				}

				&.future {
					> .task-badge, .knowledge-badge {
						color: $qw-dashboard-task-active-badge-font-color;
					}
				}
			}

			&.tomorrow {
				> .task-badge, .knowledge-badge {
					@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-tomorrow-badge-bg, $radius:$global-radius);
				}
			}

			&.future {
				> .task-badge, .knowledge-badge {
					@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-future-badge-bg, $radius:$global-radius);
					color:$qw-dashboard-task-future-color;
				}
			}

			&.priority {
				> .task-input, .knowledge-title {
					border-left: $qw-dashboard-task-priority-border-left;
				}
			}

			&:nth-child(even) {
				background-color:$qw-dashboard-task-even-child-bg-color;

				> .task-responsible {
					span {
						background: #F2F5F7;
					}	
				}
				&:hover {
					background-color: $qw-dashboard-task-hover-bg;
				}

				&:active {
					background-color : $qw-dashboard-task-active-bg;
				}
			}
		}
	}	

	&.knowledge {
		> .knowledge {

			> .knowledge-title {
				padding-top: 8px;
				@include flex($grow: 3);
			}
			
			> .knowledge-keywords {
				float: right;
				font-size: $qw-dashboard-task-keyword-font-size;
				padding: $qw-dashboard-task-keyword-padding;
				color: $qw-dashboard-task-keyword-font-color;
			}
		}
	}
}

.qw-dashboard-topbar {

	height: $qw-dashboard-topbar-height;
	background: $qw-dashboard-topbar-bg-color;

	.dashboard-list {
		@include inline-list;
		margin: 0px !important;
		> li {
			min-width: $qw-dashboard-list-min-width;
			font-size: $qw-dashboard-list-font-size;
			//margin-left: $qw-dashboard-list-margin-left;
			color: $qw-dashboard-list-font-color;
			padding: $qw-dashboard-list-padding;
			cursor: pointer;
			&:hover:not(:first-child) {
				/* transition: all 10s ease-in-out; */
				background : $qw-dashboard-list-hover-bg;
				border-radius: $global-radius;
				color: $qw-dashboard-list-hover-font-color;
			}
		}

		> li:first-child {
			color: #4D4D4D;
			cursor: auto;
			padding: 5px 30px 0 0;
			i {
				font-size: 30px;
			}
		}
	}
}

.qw-dashboard-toptwo {
	margin-top: $qw-dashboard-toptwo-margin-top;
	height: $qw-dashboard-toptwo-height;
	&.tasks {
		display: none;
	&.active {
		display: block;
		opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			> a {
				text-decoration: none;
				color: $qw-dashboard-toptwo-content-font-color;
			}

			> i {
				margin-left: $qw-dashboard-list-margin-left;
			}
		}

		> .add {
			
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			color: $qw-dashboard-toptwo-a-font-color;
			> i { 
			padding-right: $qw-dashboard-toptwo-a-margin;
			font-size: $qw-dashboard-toptwo-a-icon-font-size;

			}

			&:active {
				background: #236AA2;
				color: #FFF;
			}
		}

		> .maximize {
			padding: $qw-dashboard-toptwo-maximize-padding;
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: $qw-dashboard-toptwo-maximize-font-style;
			color: $qw-dashboard-toptwo-maximize-font-color;
			> i { 
			font-size: $qw-dashboard-toptwo-maximize-icon-font-size;
			padding: $qw-dashboard-toptwo-maximize-icon-padding;

			}
		}
	}

	&.knowledge {
		display: none;
	&.active {
		display: block;
		opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			display: inline-block;
		}

		> a {
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			text-decoration: none;
			color: $qw-dashboard-toptwo-a-font-color;
			> i {
				padding-right: $qw-dashboard-toptwo-a-margin;
				font-size: $qw-dashboard-toptwo-a-icon-font-size;
			}
		}
		> .view {
			float: right;
			display: inline-block;
			border: $qw-dashboard-toptwo-view-border;
			margin:$qw-dashboard-toptwo-view-margin;
			height: $qw-dashboard-toptwo-view-height;
			padding-top: 3px;
			border-radius: $global-radius;
			> .qw-action-button {
				width: $qw-dashboard-toptwo-view-action-button-width;
				height: $qw-dashboard-toptwo-view-action-button-height;
				padding-left: 0;
				> i {
					font-size: $qw-dashboard-toptwo-view-action-button-font-size;
				}
			}
		}

		> .maximize {
			padding: $qw-dashboard-toptwo-maximize-padding;
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: $qw-dashboard-toptwo-maximize-font-style;
			color: $qw-dashboard-toptwo-maximize-font-color;
			> i { 
			font-size: $qw-dashboard-toptwo-maximize-icon-font-size;
			padding: $qw-dashboard-toptwo-maximize-icon-padding;

			}
		}
	}
}

.qw-taskdetail {
	padding: 3px;

	> .taskdetail-header {
		padding: 0 !important;

		> div {
			padding: 5px;
			
			position: relative;

			> .content {
				font-size: 24px;
				color: #236AA2;
				display: inline-block;
				width: 90%;
				padding: 10px;

			}

			> .edit {
				color: #4D4D4D;
				padding: 5px 8px;
				position: absolute;
				top: 0;
				right: 0;
				border-radius: $global-radius;
				border: 1px solid #E2E2E2;
				margin: 10px 10px 10px 20px;

				> i {
					font-size: 1.3rem;
				}
			}
		}
	}

	> .taskdetail-content {
		> div {
			border-top: $qw-add-task-header-border-bottom;

			> .firstdetail {
				@include flex-container($wrap: wrap, $direction: row);
				padding: 5px 15px 10px  15px;
				height: auto; 

				> label {
					color: #999;
					margin-right: 10px;

					> .responsible {
						background: #F2F5F7;
						color: #236AA2;
						padding: 0.3125rem;
						border-radius: $global-radius;

						> i { 
							font-size: 1rem;	
						}
					}

					> .due {
						border-radius: $global-radius;
						color: #999;
						background: #F5F5F5;

						

						i {
							@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-future-badge-bg, $radius:$global-radius);
							font-size: 1rem;
							padding-right: 5px;
						}
					}					
				}

				> .remain {
					height: auto;
					padding: 15px;
	
					> span {
						vertical-align: middle;
						color: #DC3E56;
					}
				}
			}

			> .seconddetail {
				padding: 15px;  

				> .second-header {
					color: #999;
					font-size: 0.8rem;
				}

				> .second-content {
					font-size: 0.9rem;
					color: #606060;
				}

				> .second-footer {

					font-size: 0.8rem;
					margin-top: 15px;

					> .author, .meeting {
						background: #F2F5F7;
						color: #236AA2;
						border-radius: $global-radius;
						padding: 5px;
						margin-right: 10px;
						> i {
							font-size: 1rem;
						}
					}

					> .meeting {
						background: #F5F5F5;
						color: #999;

					}
				}
			}

			> .thirddetail {
				padding: 15px; 
				font-style: italic;

				> div {
					margin-bottom: 50px;
				}

				> .done, .forward, .read {
					margin-right: 10px;
				} 

				> .done {
					text-align: left !important;
					width: 150px;
					//padding: 0 0 8px 5px;
					i {
						font-size: 1.7rem;
					}

				}

				> .forward {
					padding: 3px 8px 8px 8px;

					i {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

.qw-addtask {
	
	> .addtask-header {
		padding-bottom: 0 !important;

		> div {
			padding: $qw-add-task-header-padding;
			border-bottom: $qw-add-task-header-border-bottom;
			> span {
				font-size: $qw-add-task-header-font-size;
				color: $qw-add-task-header-font-color;
			}
		}
	}

	> .addtask-content {

		> div {
			padding: $qw-add-task-content-padding;
			
			> .entry { 
				margin-top: $qw-add-task-content-margin-top;

				> label {
					color: $qw-add-task-content-label-font-color;
					font-size: $qw-add-task-content-label-font-size;
					font-weight: bold;
					margin-bottom: $qw-add-task-content-label-margin-bottom; 

					> div {
						margin-top: $qw-add-task-content-label-margin-top;
						border-radius: $global-radius;
						border: $qw-add-task-content-label-border;
						min-height: $qw-add-task-content-label-min-height;
						padding: $qw-add-task-content-label-padding; 

						> .user , .useradd {
							border-radius: $global-radius;
							display: inline-block; 
							
						}

						> .user {
							padding: $qw-add-task-content-user-padding;
							float: left;
							background: $qw-add-task-content-user-bg-color;
							color: $qw-add-task-content-user-font-color;
							> .icon-user {
								margin-right: 5px;
							}

							> .icon-close {
								//float: right;
								padding-left: 5px;
								color: $qw-add-task-content-user-icon-close-font-color;
								font-size: $qw-add-task-content-user-icon-close-font-size;
							}	
						}

						> .useradd {
							padding: $qw-add-task-content-user-add-padding;
							margin-left: $qw-add-task-content-user-add-margin-left;
							float: right;
							background: $qw-add-task-content-user-add-bg-color;
							color: $qw-add-task-content-user-add-font-color;
							cursor: pointer;
						}
					}
				}

				> .taskcalendar {
					display: inline-block;
					float: left;

					> label {
					color: $qw-add-task-content-taskcalendar-label-font-color;
					font-size: $qw-add-task-content-taskcalendar-label-font-size;
					font-weight: bold;
					margin-bottom: $qw-add-task-content-taskcalendar-label-margin-bottom; 
					margin-top: $qw-add-task-content-taskcalendar-label-margin-top;
					}

					> .duecalendar {
						display: inline-block;
						border: $qw-add-task-content-duecalendar-border;
						height: $qw-add-task-content-duecalendar-height;
						width: $qw-add-task-content-duecalendar-width;
						border-radius:$global-radius;
						background: $qw-add-task-content-duecalendar-bg-color;
						padding: $qw-add-task-content-duecalendar-padding;
						
						> input {
							width: $qw-add-task-content-duecalendar-input-width;
							background: $qw-add-task-content-duecalendar-input-bg-color;
							border: $qw-add-task-content-duecalendar-input-border;
							box-shadow: $qw-add-task-content-duecalendar-input-box-shadow;
						}

						> i {

							color: $qw-add-task-content-duecalendar-icon-font-color;
							font-size: $qw-add-task-content-duecalendar-icon-font-size;
							float: right;
							display: inline-block;
							padding: $qw-add-task-content-duecalendar-icon-padding;
							cursor: pointer;
						}
					}
				}

				> .priority {
					display: inline-block;
					padding-left: $qw-add-task-content-priority-padding-left;
					width: $qw-add-task-content-priority-padding-width;

					> label {
						color: $qw-add-task-content-priority-label-font-color;
						font-size: $qw-add-task-content-priority-label-font-size;
						font-weight: bold;
						margin-top: $qw-add-task-content-priority-label-margin-top;
					
						> .taskpriority {
							margin-top: $qw-add-task-content-taskpriority-margin-top;
							display: inline-block;
							width: $qw-add-task-content-taskpriority-width;
							
							> .switch {
								@include switch($transition-speed: $qw-add-task-content-taskpriority-switch-transition-speed , $transition-ease: ease-out, $height: $qw-add-task-content-taskpriority-switch-height, $radius: $global-radius, $base-style: true);
								margin-top: $qw-add-task-content-taskpriority-switch-margin-top;
								
								  // background color on unchecked position
								input[type="checkbox"]:not(:checked) + label {
								background-color: $qw-add-task-content-taskpriority-switch-bg-color;
								}
								span {
								display: inline-block;
								position: absolute;
								top: 0;
								right: 25px;
								color: $qw-add-task-content-taskpriority-switch-font-color;
								pointer-events: none; 
								font-size: $qw-add-task-content-taskpriority-switch-font-size;
								font-style: italic;
								}

								span.checkmark {
									transition: display 0.3 ease-out;
									display: none;
								}
							}
						}
					}
				}

				> label {

					.tasknote {
						margin-top: $qw-add-task-content-tasknote-margin-top;
						position: relative;
						min-height: $qw-add-task-content-tasknote-min-height;
						background: $qw-add-task-content-tasknote-bg-color;

						textarea {
							background: $qw-add-task-content-tasknote-textarea-bg-color;
							border: 0;
							border-radius: $global-radius;
						} 

						i {
							position: absolute;
							top: 0;
							right: 0;
							font-size: $qw-add-task-content-tasknote-textarea-max-font-size;
							color: $qw-add-task-content-tasknote-textarea-max-font-color;
							padding: $qw-add-task-content-tasknote-textarea-max-padding;
							cursor: pointer;
							background: $qw-add-task-content-tasknote-textarea-max-bg-color;
							border-radius: $global-radius;
							margin: $qw-add-task-content-tasknote-textarea-max-margin; 

						}
					}
				}

				> label {

					.attachment {

						height: $qw-add-task-content-attachment-height;
						background: $qw-add-task-content-attachment-bg-color;
						color: $qw-add-task-content-attachment-font-color;
						vertical-align: middle;
						text-align: center;
						border-radius: $global-radius;
						font-style: italic;
						margin-top: $qw-add-task-content-attachment-margin-top;
						padding-top: 25px;

						i {
							font-size: $qw-add-task-content-attachment-icon-font-size;
							display: block;

						}

					}
				}

				> .buttons {
					margin-top: $qw-add-task-content-buttons-margin-top;
					height: $qw-add-task-content-buttons-height;
					font-style: italic;
					> .finish {
						float: left;
						width: $qw-add-task-content-buttons-finish-width;
					}

					> .cancel {
						width: $qw-add-task-content-buttons-cancel-width;
						float: right;
					}
				}
			}
		}
	}
}

.qw-addknowledge {
	> .addknowledge-header {
		padding: 0 !important;

		> div {
			padding: 5px;
			position: relative;

			> .content {
				font-size: 22px;
				color: #236AA2;
				display: inline-block;
				width: 80%;
				padding: 10px;

			}

			> .question {
				color: #236AA2;
				float: right;
				padding-right: 5px;

				> i {
					font-size: 2rem;
				}
			}
		}
	}
	> .addknowledge-content {
		border-top: 1px solid #F5F5F5;

		> div {
			padding: 15px;
			> .entry {
				> .priority {
				
					width: $qw-add-task-content-priority-padding-width;
					display: inline-block;

					> label {
						color: #5C5C5C;
						font-size: $qw-add-task-content-priority-label-font-size;
						font-weight: bold;
						margin-top: $qw-add-task-content-priority-label-margin-top;
					
						> .knowledgepriority {
							margin-top: $qw-add-task-content-taskpriority-margin-top;
							display: inline-block;
							width: 100%;
							
							> .switch {
								@include switch($transition-speed: $qw-add-task-content-taskpriority-switch-transition-speed , $transition-ease: ease-out, $height: $qw-add-task-content-taskpriority-switch-height, $radius: $global-radius, $base-style: true);
								margin-top: $qw-add-task-content-taskpriority-switch-margin-top;
								
								  // background color on unchecked position
								input[type="checkbox"]:not(:checked) + label {
								background-color: $qw-add-task-content-taskpriority-switch-bg-color;
								}
								span {
								display: inline-block;
								position: absolute;
								top: 0;
								right: 0;
								color: $qw-add-task-content-taskpriority-switch-font-color;
								pointer-events: none; 
								font-size: $qw-add-task-content-taskpriority-switch-font-size;
								font-style: italic;
								}

								span.checkmark {
									transition: display 0.3 ease-out;
									display: none;
								}
							}
						}
					}
				}

				> label {
					color: #5C5C5C;
					.knowledgenote {
						margin-top: $qw-add-task-content-tasknote-margin-top;
						position: relative;
						min-height: $qw-add-task-content-tasknote-min-height;
						background: $qw-add-task-content-tasknote-bg-color;

						textarea {
							background: $qw-add-task-content-tasknote-textarea-bg-color;
							border: 0;
							border-radius: $global-radius;
						} 

						i {
							position: absolute;
							top: 0;
							right: 0;
							font-size: $qw-add-task-content-tasknote-textarea-max-font-size;
							color: $qw-add-task-content-tasknote-textarea-max-font-color;
							padding: $qw-add-task-content-tasknote-textarea-max-padding;
							cursor: pointer;
							background: $qw-add-task-content-tasknote-textarea-max-bg-color;
							border-radius: $global-radius;
							margin: $qw-add-task-content-tasknote-textarea-max-margin; 

						}
					}
				}
				> .buttons {
					margin-top: $qw-add-task-content-buttons-margin-top;
					height: $qw-add-task-content-buttons-height;
					font-style: italic;
					> .finish {
						float: left;
						width: $qw-add-task-content-buttons-finish-width;
					}

					> .cancel {
						width: $qw-add-task-content-buttons-cancel-width;
						float: right;
					}
				}
			}
		}
	}
}
