.qw-document-head {
  position: relative;
  height: rem-calc(60);
  transition: height 0.3s ease-in-out;

  > .flex-table {
    background-color: #fff;
    opacity: 0;
  }

  > .flex-box {
    background-color: $qw-dochead-default-bg;
  }

  .flex-box, .flex-table {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: $global-radius;
    transition: opacity 0.3s ease-in-out;
    min-width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;

    > .entry {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      float: left;
      margin: rem-calc(10 0 10 10);

      > .label {
        text-transform: uppercase;
        color: $qw-dochead-label-color;
        font-size: $qw-dochead-label-font-size;
        font-weight: $qw-dochead-label-font-weight;
        min-width: rem-calc(75);
      }
      > .content {
        margin-top: rem-calc(3);
        $pad: rem-calc(6);
        padding: rem-calc(3 7);
        min-height: rem-calc(30) - 2 * $pad;
        border-radius: $global-radius;
        background: $qw-dochead-default-box-bg;
        color: $qw-dochead-default-box-color;
        font-size: $qw-dochead-default-box-font-size;

        &.user {
          color: $qw-dochead-user-box-color;
        }
      }
    }
  }

  .toggle {
    position: absolute;
    top: 0;
    right: 0;

    background-color: $qw-dochead-classic-box-bg;
    border-radius: $global-radius;  
    font-size: $qw-dochead-classic-box-font-size;
    color: $qw-dochead-classic-box-font-color;
    padding: rem-calc(6 12);
    cursor: pointer;
    z-index: 1;

    > .reduced {
      display: none;
    }
  }

  .flex-table {
    > .row {
      width: 100%;
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      -ms-flex-direction: row;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      
      > .item {
        flex-direction: column;
        -ms-flex-direction: column;
        flex-grow: 2;

        background: $qw-dochead-default-bg;
        border-radius: $global-radius; 
        height: $qw-dochead-classic-height;
        margin: $qw-dochead-classic-margin;
        color: $qw-dochead-label-color;
        > p {
            display: block;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }

        > .label {
          text-transform: uppercase;
          color: $qw-dochead-label-color;
          font-size: $qw-dochead-label-font-size;
          font-weight: $qw-dochead-label-font-weight;
          min-width: $qw-dochead-classic-label-min-width;
          padding-left: $qw-dochead-classic-padding;
          padding-top: $qw-dochead-classic-padding; 
        }

        > .tcontent {
          margin-top: rem-calc(3);
          margin-left: $qw-dochead-classic-padding;
          width: $qw-dochead-classic-tcontent-width;
          $pad: rem-calc(6);
          padding: rem-calc(3 7);
          min-height: rem-calc(30) - 2 * $pad;
          border-radius: $global-radius;
          background: $qw-dochead-default-box-bg;
          color: $qw-dochead-default-box-color;
          font-size: $qw-dochead-default-box-font-size;
        }
      }
  
      &:first-child {
        > .item {
          flex-grow: 1;
        }
      }

      &:last-child {
        > .item {
          > span {
            display: block;
            > * { display: inline; } // e.g. put icon and label on the same line
          }

          &:last-child {
            flex-grow: 0;
          }
        }
      }
    }
  }

  &.toggled {
    height: rem-calc(115);

    > .toggle {
      > .reduced { display: block; }
      > .classic { display: none; }
    }

    > .flex-table {
      background-color: white;
      opacity: 1;
    }

    > .flex-box {
      opacity: 0;
    }
  }
}
