.qw-document-head {
  //transition: transform 0.3s ease-in-out;
  min-height: 100px;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  overflow: hidden;

  > .flex-table {
    opacity: 0;
  }

  > .flex-box {
    opacity: 1;
  }

  &.move {
    transform: translate3d(0, -59px, 0 );


    > .classic {
      transform: translate3d(0, 56px, 0 );
      right: 2px;
      top:3px;
    }

    > .flex-table {
      opacity: 1;
       background-color: white;
    }

    > .flex-box {
      opacity: 0;
    }
  }

  

  .flex-box , .flex-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: $qw-dochead-default-bg;
    border-radius: $global-radius;
    transition: opacity 0.3s ease-in-out;
    
    > .entry {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      float: left;
      margin: rem-calc(10 0 10 10);

      > .label {
        text-transform: uppercase;
        color: $qw-dochead-label-color;
        font-size: $qw-dochead-label-font-size;
        font-weight: $qw-dochead-label-font-weight;
        min-width: rem-calc(75);
      }
      > .content {
        margin-top: rem-calc(3);
        $pad: rem-calc(6);
        padding: rem-calc(3 7);
        min-height: rem-calc(30) - 2 * $pad;
        border-radius: $global-radius;
        background: $qw-dochead-default-box-bg;
        color: $qw-dochead-default-box-color;
        font-size: $qw-dochead-default-box-font-size;

        &.user, &.author {
          background: $qw-dochead-user-box-bg;
          color: $qw-dochead-user-box-color;
        }
      }
    }
  }
  .classic {
    background-color: $qw-dochead-classic-box-bg;
    border-radius: $global-radius;  
    position: absolute;
    $p: percentage(1/$total-columns);
    @media #{$mobile-up} {right: 0%;}
    @media #{$large-only} {right: calc(100% - 8 * #{$p} + #{$qw-content-padding}/2 + 0.6rem);}
    @media #{$extended-up} {right: calc(100% - 9 * #{$p} + #{$qw-content-padding}/2 + 0.6rem);}
    top: 0.6rem; 
    z-index: 1;  
    font-size: $qw-dochead-classic-box-font-size;
    color: $qw-dochead-classic-box-font-color;
    padding: rem-calc(6 12);
    cursor: pointer;
    a {
      color:inherit;
      text-decoration: none;
    }
  }

  .flex-table {
    > .row {
      width: 100%;
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      -ms-flex-direction: row;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      
      > .item {
        flex-direction: column;
        -ms-flex-direction: column;
        flex-grow: 2;

        background: $qw-dochead-default-bg;
        border-radius: $global-radius; 
        height: $qw-dochead-classic-height;
        margin: $qw-dochead-classic-margin;
        color: $qw-dochead-label-color;

        > .label {
          text-transform: uppercase;
          color: $qw-dochead-label-color;
          font-size: $qw-dochead-label-font-size;
          font-weight: $qw-dochead-label-font-weight;
          min-width: $qw-dochead-classic-label-min-width;
          padding-left: $qw-dochead-classic-padding;
          padding-top: $qw-dochead-classic-padding; 
        }

        > .tcontent {
          margin-top: rem-calc(3);
          margin-left: $qw-dochead-classic-padding;
          width: $qw-dochead-classic-tcontent-width;
          $pad: rem-calc(6);
          padding: rem-calc(3 7);
          min-height: rem-calc(30) - 2 * $pad;
          border-radius: $global-radius;
          background: $qw-dochead-default-box-bg;
          color: $qw-dochead-default-box-color;
          font-size: $qw-dochead-default-box-font-size;
        }
      }
  
      &:first-child {
        > .item {
          flex-grow: 1;
          > span {
            padding-top: 1.4375rem;
          }
        }
      }

      &:last-child {
        > .item {
          > span {
            display: block;
          }

          &:last-child {
            flex-grow: 0;
          }
        }
      }
    }
  }
}
