.qw-document-head {
  background-color: $qw-dochead-default-bg;
  height: rem-calc(60);
  border-radius: $global-radius;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    > .entry {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;

      float: left;
      margin: rem-calc(10 0 10 10);

      > .label {
        text-transform: uppercase;
        color: $qw-dochead-label-color;
        font-size: $qw-dochead-label-font-size;
        font-weight: $qw-dochead-label-font-weight;
        min-width: rem-calc(75);
      }
      > .content {
        margin-top: rem-calc(3);
        $pad: rem-calc(6);
        padding: rem-calc(3 7);
        min-height: rem-calc(30) - 2 * $pad;
        border-radius: $global-radius;

        background: $qw-dochead-default-box-bg;
        color: $qw-dochead-default-box-color;
        font-size: $qw-dochead-default-box-font-size;

        &.user, &.author {
          background: $qw-dochead-user-box-bg;
          color: $qw-dochead-user-box-color;
        }
      }
    }
  }
  .classic {
        background-color: $qw-dochead-classic-box-bg;
        border-radius: $global-radius;  
        position: relative;
        right: 0;
        top: 0;
        z-index: 1;  
        font-size: $qw-dochead-classic-box-font-size;
        color: $qw-dochead-classic-box-font-color;
        padding: rem-calc(6 12);
        cursor: pointer;
        float: right;
        a {
          color:inherit;
          text-decoration: none;
        }

  }
  .table {
    display: none;
    flex-flow: row wrap;
  }
}

