.qw-more-menu {
  margin: 0;
  padding: 0;
  z-index: 200;
  li {
    list-style: none;
    float: left;
   
    a {
      &:link, &:visited {
        display: block;
        text-decoration: none;
        margin: 0;
      }
    } 
    ul {
		box-shadow: 0px 0px 6px 1px #ccc;
		border-radius: 3px;
		list-style-type: none;
		position: absolute;
		visibility: hidden;
		border-top: 1px solid #FFF;
		margin: 0;
		padding: 0;
		background: #FFF;
		li {
			display: inline;
			float: none;
			a { 
				padding: 0.5em 2em;
				line-height: 30px;
				border-radius: 3px;
				&:link, &:visited {
				background-color: #FFF;
				width: auto;
				margin: 2px 5px;

				}
				&:hover {
					background: #DAE4EB;
				}
				&:active {
					background: #ADBFCC;
				}
			}

		}
    }
  }
}