.qw-expander {
  border: 1px solid #f3f3f3;
  border-radius: 3px;

  > .caption {
    background-color: $qw-white;
    color: #ccc;
    transition: background-color $qw-default-ease,
                color $qw-default-ease;
    padding: rem-calc(6);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;

    &:after {
      font-family: 'QWikiSymbol';
      float: right;
      font-size: 1rem;
      line-height: 1rem;
      content:"\f10a";
      margin-right: rem-calc(3);
      margin-top: rem-calc(3);
    }

    &:hover {
      background-color: #dae4eb;
      color: $primary-color;
    }
    &:active {
      background-color: #adbfcc;
      color: $qw-white;
    }
  }

  > .content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height $qw-default-ease;
  }

  &:focus {
    > .caption {
      color: $primary-color;
    }
  }

  &.expanded {
    > .caption {
      border-bottom: 1px solid #f3f3f3;
      color: $qw-black;

      &:after {content:"\f10d";}

      &:hover {color: $primary-color;}
      &:active {color: $qw-white;}
    }

    > .content {
      max-height: 500px;

      > div {
        position: relative;
        // margin-left: 2%;
        height: auto;
      }
    }
  }
}

.qw-expander ul {
  list-style: none;

  li {
    padding: rem-calc(3 6);
    margin-bottom: rem-calc(2);
    border-radius: $global-radius;
    background-color: #f2f5f7;
    transition: background-color $qw-fast-ease;
    color: $primary-color;
    font-size: 0.8rem;
    clear: both;
    cursor: pointer;

    &:hover {
      background-color: #dae4eb;
    }

    &:active {
      background-color: #adbfcc;
      color: $qw-white;
    }

    label {
      font-weight: bold;
      font-size: 0.8rem;
      float: right;
    }

    input {
      margin-left: rem-calc(6);
    }
  }
} 
