.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}

.space-left {
  margin-left: rem-calc(6);
}

.space-top {
  margin-top: rem-calc(6);

  &.large {
    margin-top: rem-calc(12);
  }
}

.visible-large-up {
  display: none;
  @media #{$large-up} {display: inline-block;}
}

.hidden-mobile {
  @media #{$mobile-only} {display: none !important;}
}

.no-transition {
  transition: none !important;
}
