.qw-inboxbar {
	position: fixed;
	right: 0;
	background: $qw-infobar-bg;
	height: calc( 100% - #{$qw-top-one-height});
	z-index: 100;
	overflow-x: hidden;
	transform: translate3d( 100%, 0, 0 );
	transition: opacity 0.5s ease-in-out,
	          transform 0.3s ease-in-out;

	@media #{$mobile-only} {top: $qw-top-one-height-mobile;}
	@media #{$small-up} {top: $qw-top-one-height;}

	$p: percentage(1/12);
	@media #{$mobile-up} {
	width: 100%;
	}

	@media #{$medium-only} {
	width: calc(6 * #{$p} - #{$qw-content-padding});
	}

	@media #{$large-only} {
	width: calc(4 * #{$p});
	}

	@media #{$extended-up} {
	width: calc(3 * #{$p});
	}

	&.offcanvas {
		&.infobar {
			  transform: translate3d( 0, 0, 0 );

			&.leftbar {
				@media #{$mobile-up} {
					transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
				}

				@media #{$large-up} {
					$offset: rem-calc($qw-leftbar-width-expanded);
					transform: translate3d( $offset, 0, 0 );
				}
			}
		}
	}
	> div {
		padding: $qw-inboxbar-padding;
		padding-top: 0;

		> .header {
			padding: $qw-inboxbar-header-padding;
			background: $qw-inboxbar-header-bg-color;
			border-bottom: $qw-inboxbar-header-border-bottom;

			@media #{$mobile-only} {min-height: $qw-top-two-height-mobile - 12px;}
			@media #{$small-up} {min-height: $qw-top-two-height - 12px;}

			i {
				font-size: $qw-inboxbar-header-icon-font-size;
				color: $qw-infobar-header-color;
			}

			span {
				margin-left: $qw-inboxbar-header-span-left-margin;
				color: $qw-infobar-header-color;
				> a {
					text-decoration: none;
					color: $qw-inboxbar-header-span-font-color;
				}
				> i {
					font-size: 0.95rem;
					color: $qw-inboxbar-header-span-font-color;
				}
			}
		}

		> .content {
			background: $qw-inboxbar-content-bg-color;

			> div {

				> .label {

						font-size: $qw-inboxbar-content-label-font-size;
						color: $qw-inboxbar-content-label-font-color;
						font-weight: $qw-inboxbar-content-label-font-weight;
						text-transform: $qw-inboxbar-content-label-text-transform;
						background: $qw-inboxbar-content-label-bg-color;
						padding: $qw-inboxbar-content-label-padding;
						border-radius: $qw-inboxbar-content-label-border-radiuse;
						margin-bottom: $qw-inboxbar-content-label-margin-bottom;
						margin-top: $qw-inboxbar-content-label-margin-top;
				}

				> .inbox-container {

					> .inbox {
						cursor: auto;
						position: relative;
						background-color: $qw-dashboard-task-bg;
						border-radius: $global-radius;
						margin-bottom: $qw-inboxbar-inbox-margin-bottom;

						> .inbox-left {
							position: absolute;
							top: 0; left: 0; bottom: 0;
							border:$qw-inboxbar-inbox-left-border;
							width: $qw-inboxbar-inbox-left-width;
							height: $qw-inboxbar-inbox-left-height;
							border-radius: ($global-radius 0 0 $global-radius );

							> label {
								padding:$qw-inboxbar-inbox-left-label-padding;
							}
						}

						> .inbox-right {
							margin-left: $qw-inboxbar-inbox-right-margin-left;
							border:0;
							padding: $qw-inboxbar-inbox-right-padding;

							> .caption {
								margin: $qw-inboxbar-inbox-right-caption-margin;
								min-height: $qw-inboxbar-inbox-right-caption-height;
								width: $qw-inboxbar-inbox-right-caption-width;
								border:0;

								> .header {
								display: block;
								font-size: $qw-inboxbar-inbox-right-caption-header-font-size;
								color: $qw-inboxbar-inbox-right-caption-header-font-color;
								}

								> .date {
								display: block;
								font-size: $qw-inboxbar-inbox-right-caption-date-font-size;
								color: $qw-inboxbar-inbox-right-caption-date-font-color;
								}
							}

							> .content {
								margin:0;
								border:0;
								margin-bottom: 10px;

								> span {
									display: block;
									font-size: $qw-inboxbar-inbox-right-caption-content-font-size;
									color: $qw-inboxbar-inbox-right-caption-content-font-color;
								}
							}

							> .author {
								@include flex-container($direction: row, $wrap:wrap);
								> div {
									
									border-radius: $qw-inboxbar-inbox-right-caption-author-border-radius;
									background: $qw-inboxbar-inbox-right-caption-author-bg-color;
									padding: $qw-inboxbar-inbox-right-caption-author-padding;
									margin: 0; 
									font-size: $qw-inboxbar-inbox-right-caption-author-font-size;

									&.responsible {
										margin-bottom: 5px;
										> i {
											font-size: $qw-inboxbar-inbox-right-caption-author-meetings-font-size;
										}
										color: $qw-inboxbar-inbox-right-caption-author-responsible-font-color;
										margin-right: 15px;
									}

									&.meetings {
										> i {
											font-size: $qw-inboxbar-inbox-right-caption-author-meetings-font-size;
											color: $qw-inboxbar-inbox-right-caption-author-meetings-font-color;
										}	
									}
								}
							}
						}

						> .tools {
							cursor: pointer;
							transition: opacity 0.15s ease-in-out;
							opacity: 0;
							height: $qw-inboxbar-inbox-tools-height;
							border: solid 5px $qw-button2-bg-color;
							border-top: 0;
							border-right: 0;
							border-top-right-radius:$global-radius;
							border-bottom-left-radius: $qw-inboxbar-inbox-tools-border-bottom-left-radius;
							display: none;
							width: $qw-inboxbar-inbox-tools-width;
							position: absolute;
							top: 0;
							right: 0;
							> ul {
								margin: 0;
								padding: 0;
								list-style: none;

								> li {
									font-size: $qw-inboxbar-inbox-tools-li-font-size;
									display: block;
									position: relative;
									float: left;
									padding-top:3px;
									width:$qw-inboxbar-inbox-tools-li-width;
									height:$qw-inboxbar-inbox-tools-li-height;
									color: $qw-inboxbar-inbox-tools-li-font-color;
									background: $qw-inboxbar-inbox-tools-li-bg-color;

									i {
										margin: $qw-inboxbar-inbox-tools-li-icon-margin;
									}

									&.inbox-add {
										border-radius: ($global-radius 0 0 $global-radius);
									}

									&.inbox-check {
										border-radius: (0 $global-radius $global-radius 0);
									}

									&:hover {
										background: $qw-inboxbar-inbox-tools-li-hover-bg-color;
									}
								}
							}
						}

						&:hover {
							background : $qw-inboxbar-inbox-tools-hover;
							> .tools {
								opacity: 1;
								display: inline-block;
							}
						}

						&.new {
							> .inbox-left {
								background: #FFED4D;	
							} 
						}

						&:nth-child(even) {
							background: #FFF;

							> .inbox-right {
								> .author {
									> div {
										background: #F2F5F7;
									}		
								}	
							}
							&:hover {
								background: $qw-inboxbar-inbox-tools-hover;
							}
						}

						&.priority {

							> .inbox-left {
							border-left: 3px solid red;
							}

							> .inbox-right {

								> .caption {

									> .header {
									font-weight: Bold;
									}
								}
							}
						}
					}

					&:nth-child(even) {
						background-color: $qw-inboxbar-inbox-even-child-bg-color;
					}
				}
			}
		}
	}
}
