.qw-inline-input {
  label {
    transition:
      background 0.1s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
    max-height: 33px;
    background: white;
  }

  input {
    width: 100%;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;

    &:valid {
      background: white;
    }

    &:focus + label,
    &:valid + label {
      background: $primary-color;
      color: white;
      z-index: 2;
      right: 2px;
      margin-right: 0;
      min-width: rem-calc(80);;
      width: auto;
      padding-left: rem-calc(15);
    }

    &.ui-autocomplete-loading {
      $pos: calc( 100% - #{rem-calc(90)} );
      background-position: $pos center !important;
    }
  }
}

.ui-autocomplete {
  z-index: 9999 !important;
}
