.qw-inline-input {
  input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: white;
    transition: background-color 0.3s ease-in-out;
    margin-top: 5px;

    @media #{$mobile-only} {max-height: $qw-top-one-height-mobile - 10px;}
    @media #{$small-up} {max-height: $qw-top-one-height - 10px;}

    &:focus {
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
    }

    &:valid {
      background: white;
    }

    &.ui-autocomplete-loading {
      $pos: calc( 100% - #{rem-calc(10)} );
      background-position: $pos center !important;
    }
  }
}

.ui-autocomplete {
  z-index: 9999 !important;
}
