// force 12 columns, full width rows
$total-columns: 12;
$row-width: 100%;

// content container (main layout)
.qw-page {
  @include grid-row();
  padding: $qw-top-height 0;

  > .qw-left {
    @media #{$small-only} { @include grid-column( $columns: $total-columns ); }
    @media #{$medium-up} { @include grid-column( $columns: 8 ); }
    @media #{$large-up} { @include grid-column( $offset: 1 ); }

    > .content {
      background: $qw-content-bg;
      padding: $qw-content-padding;
    }
  }

  > .qw-right {
    @media #{$small-only} { display: none; }
    @media #{$medium-only} { @include grid-column( $columns: 4, $last-column: true, $float: right ); }
    @media #{$large-up} { @include grid-column( $columns: 3, $last-column: true, $float: right ); }
  }
}

@mixin qw-top {
  @include grid-row();

  position: fixed;
  top: 0;
  left:0;
  z-index: 99;
}

.qw-top-one {
  @include qw-top();
  background: $qw-top-one-bg;
  min-height: $qw-top-one-height;
  max-height: $qw-top-one-height;
  border-bottom: 1px solid $qw-border-bg;

  > .qw-menu {
    @media #{$small-up} { @include grid-column( $columns: 1 ); }
  }

  > .qw-breadcrumbs {
    @media #{$small-only} { display: none; }
    @media #{$medium-up} { @include grid-column( $columns: 8 ); }
  }

  > .qw-search {
    @media #{$small-only} { @include grid-column( $columns: 1, $offset: 10, $last-column: true, $float: right ); }
    @media #{$medium-up} { @include grid-column( $columns: 3, $last-column: true, $float: right ); }
  }
}

.qw-top-two {
  @include qw-top();
  top: $qw-top-one-height;
  background: $qw-top-two-bg;
  min-height: $qw-top-two-height;
  max-height: $qw-top-two-height;

  // left side containing tabs + topic interaction buttons
  > .qw-context {
    @media #{$small-only} { @include grid-column( $columns: $total-columns ); }
    @media #{$medium-up} { @include grid-column( $columns: 8 ); }
    @media #{$large-up} { @include grid-column( $offset: 1 ); }

    > .content {
      border-bottom: $qw-context-border-width solid $secondary-color;
      height: $qw-context-border-width + $qw-top-two-height;
      padding-top: $qw-top-two-height - 33px;

      > * {
        max-height: 33px;
      }

      .qw-ctx-button {
        @extend .button;
        @extend .tiny;
      }
    }
  }

  // right side, containing cip, comments, history etc.
  > .qw-actions {
    @media #{$small-only} { display: none; }
    @media #{$medium-only} { @include grid-column( $columns: 4, $last-column: true, $float: right ); }
    @media #{$large-up} { @include grid-column( $columns: 3, $last-column: true, $float: right ); }

    > .content {
      border-bottom: $qw-context-border-width solid $secondary-color;
      height: $qw-context-border-width + $qw-top-two-height;
      padding-top: 17px;
    }
  }
}

.context-info .qw-context > .content { border-color: $primary-color; }
.context-draft .qw-context > .content { border-color: $alert-color; }
.context-approved .qw-context > .content { border-color: $success-color; }
.context-edit .qw-context > .content { border-color: $warning-color; }
