@mixin leftbar-item($color: $qw-white, $color-active: $qw-white, $bg-active: $qw-white) {
  @include default-font($size: 1rem, $color: $color)
  padding: rem-calc(6.5 15);

  i {
    font-size: 1.5rem;
    line-height: 100%;
    margin-right: 20px;
    margin: rem-calc(0 20 0 2);
  }

  &.active {
    background: $bg-active;
    color: $color-active;
  }
}

.qw-leftbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;

  background: $qw-leftbar-bg;
  color: $qw-leftbar-color;
  width: $qw-leftbar-width-expanded;

  @include flex-container($direction: column, $align: stretch);

  > * {
    margin-bottom: rem-calc(7);
  }
}

.qw-leftbar-toggle {
  @include flex-container($direction: column, $align: stretch);
  line-height: $qw-top-one-height;

  a {
    @include leftbar-item(
      $color: $qw-leftbar-toggle-color-inactive,
      $bg-active: $qw-leftbar-item-bg-active,
      $color-active: $qw-leftbar-item-color-active
    );

    padding-top: 0;
    padding-bottom: 0;
  }
}

.qw-leftbar-entries {
  @include flex-container($direction: column, $align: stretch);

  a {
    @include leftbar-item(
      $color: $qw-leftbar-item-color-inactive,
      $bg-active: $qw-leftbar-item-bg-active,
      $color-active: $qw-leftbar-item-color-active
    );
  }
}

.qw-leftbar-user {
  background: $qw-leftbar-user-bg;
  padding: rem-calc(3);
}
