.qw-login-page {
  background-image: url(../assets/logo-gray.png);
  background-position: center rem-calc($qw-top-height);
  background-repeat: no-repeat;
  padding: (2 * $qw-top-height) 0;

  > .qw-login-framgment {
    @include grid-row( $behavior: collapse );

    > .qw-form {
      @media #{$small-only} { @include grid-column( $offset: 1, $columns: 10 ); }
      @media #{$medium-up} { @include grid-column( $offset: 3, $columns: 6 ); }
      @media #{$large-up} { @include grid-column( $offset: 4, $columns: 4 ); }
      background: $qw-body-bg;

      .content {
        @include grid-row( $behavior: collapse );

        > .input {
          @include grid-column( $offset: 2, $columns: 8, $collapse: true );
        }

        > .submit {
          @include grid-column( $columns: 5, $offset: 2, $float: left, $collapse: false );
          padding-left: 0;
          padding-right: 0;
        }

        > .reset {
          @include grid-column( $columns: 3, $last-column: true, $collapse: false );
          padding-right: 0
        }
      }
    }

    > .qw-errors {
      @include grid-column( $offset: 2, $columns: 8 );
      padding: rem-calc(30 0 0 0) !important;
    }
  }
}
