.qw-login-page {
  background-image: url(../assets/logo-gray.png);
  background-position: center rem-calc($qw-top-height);
  background-repeat: no-repeat;
  padding: (2 * $qw-top-height) 0;

  > .qw-login-framgment {
    @include grid-row($behavior: collapse);

    > .qw-form {
      @media #{$small-only} { @include grid-column($columns: 12); }
      @media #{$medium-up} { @include grid-column($offset: 3, $columns: 6); }
      @media #{$large-up} { @include grid-column($offset: 4, $columns: 4); }
      background: $qw-body-bg;

      .content {
        @include grid-row($behavior: collapse);

        > .input {
          @media #{$small-only} { @include grid-column($offset: 1, $columns: 10, $collapse: true); }
          @media #{$medium-up} { @include grid-column($offset: 2, $columns: 8, $collapse: true); }
        }

        > .submit {
          @media #{$small-only} {@include grid-column($offset: 1, $collapse: true);}
          @media #{$medium-up} {@include grid-column($offset: 2, $collapse: true);}

          $p: percentage(1/$total-columns);
          width: calc( 5 * #{$p} - 1%) !important;
          padding-right: 1% !important;
        }

        > .reset {
          @media #{$small-only} { @include grid-column($columns: 5, $collapse: true); }
          @media #{$medium-up} { @include grid-column($columns: 3, $collapse: true); }
        }
      }
    }

    > .qw-errors {
      @include grid-column($offset: 2, $columns: 8);
      padding: rem-calc(30 0 0 0) !important;
    }
  }
}
