.qw-menutoggle {
  position: fixed;
  top: 0;
  left: -1 * $qw-leftbar-width-expanded;
  width: $qw-leftbar-width-expanded + $qw-leftbar-width;
  height: $qw-top-one-height;
  z-index: 101;
  float: left;

  .customer-logo {
    display: inline-block;
  }

  > .toggle {
    display: inline-block;
    float: right;
    width: $qw-leftbar-width;
    height: $qw-top-one-height;
    background: $qw-leftbar-toggle-bg;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: $qw-leftbar-toggle-hover-bg;
    }

    &:active {
      background: $qw-leftbar-toggle-active-bg;
    }

    > div {
      padding: rem-calc(18 22);
    }
  }

  &.offcanvas {
    &.quicksearch {
      @media #{$mobile-only} {display: none;}
      @media #{$small-only} {display: none;}
    }

    &.leftbar {
      transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
      > .toggle > div { 
        padding: rem-calc(18 24);
          > i {
          @extend .icon-arrow-left;
        }
      }
    }
  }
}
