.qw-menutoggle {
  position: fixed;
  top: 0;
  left: -1 * $qw-leftbar-width-expanded;
  width: $qw-leftbar-width-expanded + $qw-leftbar-width;
  z-index: 101;
  float: left;

  @media #{$mobile-only} {height: $qw-top-one-height-mobile;}
  @media #{$small-up} {height: $qw-top-one-height;}

  .customer-logo {
    display: inline-block;
  }

  > .toggle {
    display: inline-block;
    float: right;
    width: $qw-leftbar-width;
    background: $qw-leftbar-toggle-bg;
    cursor: pointer;
    color: white;
    font-size: 2.2rem;
    transition: background 0.1s ease-in-out;

    @media #{$mobile-only} {height: $qw-top-one-height-mobile;}
    @media #{$small-up} {height: $qw-top-one-height;}

    &:hover {
      background: $qw-leftbar-toggle-hover-bg;
    }

    &:active {
      background: $qw-leftbar-toggle-active-bg;
    }

    > div {
      @media #{$mobile-only} {padding: rem-calc(9 22);}
      @media #{$small-up} {padding: rem-calc(7 16);}
    }
  }

  &.offcanvas {
    &.quicksearch {
      @media #{$mobile-only} {display: none;}
      @media #{$small-only} {display: none;}
    }

    &.leftbar {
      transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
      > .toggle > div { 
        @media #{$mobile-only} {padding: rem-calc(9 24);}
        @media #{$small-up} {padding: rem-calc(6 23);}
          > i {
          @extend .icon-arrow-left;
        }
      }
    }
  }

  &.edit {
    left: 0;
    background: $qw-leftbar-toggle-edit-bg;
    width: $qw-leftbar-width;

    > div {
      color: white;
      font-size: 2rem;
      padding: rem-calc(9 12 9 18);
    }
  }
}
