#qw-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  transition: background-color 0.3s ease-in-out;

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
  }

  &.dismissed {
    background-color: rgba(0, 0, 0, 0);
  }
}

.qw-modal-container {
  display: none !important;
}

.qw-modal {
  position: absolute;
  top: 100px;

  height: auto;
  width: 500px;
  padding: $qw-content-padding/2;
  opacity: 0;
  background: $qw-white;
  transform: translate3d(0, -150%, 0);
  transition: opacity 0.3s ease-in-out,
              transform 0.4s ease-in-out;

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.dismissed {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  .caption {
    color: #d4112c;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;
  }

  .content {
    font-size: 0.8rem;
    padding: $qw-content-padding/2;
  }

  .buttons {
    padding: $qw-content-padding/2 $qw-content-padding/2 0 $qw-content-padding/2;
  }
}
