.follows-canvas {
  transition: margin-left 0.3s ease-in-out,
              margin-right 0.3s ease-in-out;
}

// ToDo: not-selector requires IE9+
:not(.qw-offcanvas-left) .follows-canvas {
  margin-left: 0;
}

:not(.qw-offcanvas-left) .follows-canvas {
  margin-left: 0;
  margin-right: 0;
}

.qw-offcanvas-left,
.qw-offcanvas-right {
  overflow-x: hidden !important;
}

.qw-offcanvas-left .follows-canvas {
  margin-left: $qw-offcanvas-left-width;
  @media #{$large-up} {
    margin-left: 100px;
  }
}

.qw-offcanvas-right .follows-canvas {
  margin-left: -1 * $qw-offcanvas-left-width;
  margin-right: $qw-offcanvas-right-width;
}

.qw-offcanvas-target-left {
  position: fixed;
  left: -1 * $qw-offcanvas-left-width;
  top: $qw-top-one-height;
  bottom: 0;
  width: $qw-offcanvas-left-width;
  overflow-y: auto;
  z-index: 100;
  background: $body-bg;
  transition-property: left;
  border-right: $qw-border-width solid $qw-border-bg;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  @media #{$large-up} {
    transition-duration: 0.15s;
  }

  &.active {
    left: 0;
  }
}
