section.content a span.qlink {
    display: inline-block;
    border: 0.2rem solid #f2f5f7;
    border-radius: 0.3rem;
    background-color: #f2f5f7;

    & span.type {
        display: inline-block;
        border-color: white;
        border-style: inherit;
        border-width: inherit;
        border-radius: 0.3rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-right: 0.3rem;
        color: #444;
        font-size: 90%;

        &:before {
          font-family:"QWikiSymbol";
          font-size: 1.75rem; // XXX h1 etc.
          line-height: 1rem;
          vertical-align: text-top;
          margin-right: $button-tny;
        }
    }

    &.unapproved span.type {
        background-color: $qw-edit-color;
        background-image: $qw-stripes;
        &:before {
          @extend .icon-page-draft;
        }
    }
    &.approved span.type,
    &.uncontrolled span.type {
        background-color: white;
    }
    &.approved span.type {
        &:before {
          @extend .icon-page-free;
        }
    }
    &.uncontrolled span.type {
        &:before {
          @extend .icon-page-misc;
        }
    }
}
