.qw-quicksearch {
  position: fixed;
  top: $qw-top-one-height;
  right: 0;
  height: calc(100% - #{$qw-top-one-height});
  background: $qw-quicksearch-bg;
  font-family: $body-font-family;
  font-size: 0.8rem;

  z-index: 100;
  transform: translate3d( 100%, 0, 0 );

  $p: percentage(1/$total-columns);
  @media #{$mobile-up} {width: 100%;}
  @media #{$medium-only} {width: calc( 6 * #{$p} - #{$qw-content-padding} );}
  @media #{$large-only} {width: calc( 4 * #{$p} - #{$qw-content-padding}/1.5 );}
  @media #{$extended-up} {width: calc( 3 * #{$p} - #{$qw-content-padding}/2 );}

  &.offcanvas {
    &.quicksearch {
      transform: translate3d( 0, 0, 0 );
    }
  }

  .filter-summary {
    height: $qw-search-height;
    padding: 0 rem-calc(20);
    margin-bottom: rem-calc(10);
    line-height: $qw-search-height;

    .filter-toggle {
      border: solid $qw-quicksearch-filters-border-width $qw-quicksearch-filters-border-color;
      border-radius: $qw-tab-radius;
      cursor: pointer;
      background: $qw-quicksearch-bg;
      float: left;
      padding: 0 rem-calc(10);
    }
    .filter-reset {
      float: right;
    }
    .filter-hide {
      display: none;
    }
    .filter-show {
      display: inline-block;
    }

    &.active {
      border-bottom: solid $qw-quicksearch-filters-border-width $qw-quicksearch-filters-border-color;

      .filter-toggle {
        border-bottom: $qw-quicksearch-bg;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .filter-hide {
        display: inline-block;
      }
      .filter-show {
        display: none;
      }
    }
  }
  .filter {
    display: none;
    &.active {
      display: block;
    }

    .ui-tabs-nav li {
      background: none;
      border: none;
      padding: 0 rem-calc(10);
      vertical-align: middle;
      > a:before {
        background: none;
        width: 0; height: 0;
        display: inline;
      }
      > a { float: none; }
      &.ui-state-active {
        border: solid $qw-quicksearch-filters-border-width $qw-quicksearch-filters-border-color;
        border-bottom: $qw-quicksearch-bg !important;
        padding-bottom: 0;
      }
      input {
        padding: 0 rem-calc(10);
      }
    }
  }
  .results {
    .qw-total-results {}
  }
}

.qw-quicksearch-form {
  @include grid-row($behavior: collapse);

  > .form {
    > .input {
      @include grid-column($columns: 10, $collapse: true);

      > input {
        border: none !important;
        box-shadow: none !important;
        height: $qw-search-height;

        width: 50%;
        transition: width 0.3s ease-in-out;
        float: right;

        &:focus {
          width: 100%;
        }
      }
    }

    > .submit {
      @include grid-column($columns: 2, $collapse: true, $last-column: true);

      > a {
        @include button(
          $bg: $qw-quicksearch-bg,
          $full-width: true
        );

        font-size: 1.5rem;
        line-height: 1;
        padding: 6px 0 8px;
        vertical-align: bottom;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}

.qw-quicksearch .results {
  border-top: $qw-context-border-width solid $qw-context-border-color;
  padding: 0;

  &.searching {
    background-image: url(../assets/quicksearch-spinner.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .qw-total-results {
    width: 100%;
    float: left;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(15);
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    font-size: 0.8rem;
  }

  .qw-search-result {
    @include grid-row($behavior: collapse);

    min-width: 100%;
    float: left;
    display: inline-block;
    min-height: 85px;
    padding-left: rem-calc(20);
    padding-right: 0;
    border-top: 1px solid $qw-border-bg;
    overflow-x: hidden;

    &:last-child {
      border-bottom: 1px solid $qw-border-bg;
    }

    &:hover,
    &:hover .open {
      opacity: 1;
      background-color: $qw-quicksearch-result-hover-bg;
      cursor: pointer;
    }

    &.active {
      background-color: $qw-quicksearch-result-hover-bg;

      .open {
        opacity: 1;
      }
    }

    > .content {
      @include grid-column($columns: $total-columns, $collapse: true);
      padding: rem-calc(20 10);

      > .title {
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 1.1rem;
      }

      > .snippet {
        display: inline-block;
        font-size: 0.8rem;
      }
    }

    .open {
      float: right;
      transition: opacity 0.15s ease-in-out;
      opacity: 0;
      max-height: 33px;
      margin-right: -1 * rem-calc(10);
      margin-top: -1 * rem-calc(10);

      &:hover {
        background: darken($body-bg, 15%);
      }

      .button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

#qw-search-pageoverlay {
  $p: percentage( 1 / $total-columns);
  $width: 8 * $p;

  position: fixed;
  top: $qw-top-one-height;
  left: -1 * ($width + 1);
  background-color: rgba(0, 0, 0, 0);
  // background-image: url(../assets/quicksearch-spinner.gif);
  // background-repeat: no-repeat;
  // background-position: center center;

  width: $width;
  height: 100%;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;

  > .overlay-top {
    position: fixed;
    top: 0;
    left: 0;
    height: $qw-top-one-height;
    background-color: rgba(0, 0, 0, 00);
    transition: background-color 0.2s ease-in-out;

    @media #{$medium-up} { 
      $width: 8 * percentage( 1 / $total-columns );
      width: calc( #{$width} - #{$qw-search-close-btn-width} );
      left: calc( #{-1 * $width} + #{$qw-search-close-btn-width} );
    }

    @media #{$small-only} {
      display: none !important;
    }
  }

  &.active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

    > .overlay-top {
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

#qw-searchpreview {
  @include grid-row($behavior: collapse);

  $p: percentage( 1 / $total-columns);
  $width: 8 * $p;

  bottom: 0;
  transform: translate3d( 100%, 0, 0 );

  width: $width;
  z-index: 100;
  transition: transform 0.5s ease-in-out;

  $pt: $qw-top-one-height + $qw-top-two-height + $qw-context-border-width;
  padding: rem-calc($pt 0 $pt $pt);

  &.active {
    @media #{$medium-up} { 
      transform: translate3d( -50%, 0, 0 );
    }

    > .content {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  > .content {
    $pad: rem-calc(15);

    // display: none;
    background: $qw-content-bg;
    border-right: 15px solid $qw-quicksearch-result-hover-bg;
    padding: $pad;

    min-height: calc( 100% + #{$pt} );
    max-height: calc( 100% + #{$pt} );
    width: calc( 100% - #{$p} - #{2 * $pad} );

    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: $qw-top-two-height;
    right: 0;
  }

  > .close {
    position: absolute;
    top: $qw-top-two-height;
    right: 0;
    z-index: 1000;

    .qw-close-btn {
      padding: rem-calc(10);
      font-size: 1.2rem;
    }
  }
}

.qw-preview-title {
  @include button( $padding: $button-tny, $bg: $info-color );
  max-height: 33px;
}

.qw-preview-close-button {
  @include button( $padding: $button-tny, $bg: $secondary-color );
  background: transparent;
  max-height: 33px;
  float: right;

  &:hover {
    color: $body-font-color;
    background: darken($body-bg, 5%);
  }
}

.qw-preview-open-button {
  @include button( $padding: $button-tny, $bg: $secondary-color );
  max-height: 33px;
}

.qw-ico-draft {
  @extend .icon-page-draft;

  font-family:"qwiki-font";
  font-weight: normal;
  font-style: normal;
  color: #df5432;
  font-size: 2rem;
  margin-right: rem-calc(5);
}

.qw-ico-approved {
  @extend .icon-page-free;

  font-family:"qwiki-font";
  font-weight: normal;
  font-style: normal;
  color: #70af57;
  font-size: 2rem;
  margin-right: rem-calc(10);
}

