[data-quicksearch] {
  > .filter {
    float:left;
    width: 100%;
    padding-left: rem-calc(30);
    min-height: $qw-top-two-height;
    background: $body-bg;
  }

  .results {
    @include grid-row();
    @include grid-column($columns: $total-columns);

    width: 100%;
    border-top: 5px solid $qw-border-bg;
    padding: 0;

    &.searching {
      background-image: url(../assets/quicksearch-spinner.gif);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .qw-total-results {
    width: 100%;
    float: left;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(15);
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    font-size: 0.8rem;
  }

  .qw-search-result {
    @include grid-row();

    min-width: 100%;
    float: left;
    min-height: 85px;
    padding-left: rem-calc(20);
    padding-right: 0;
    border-top: 1px solid $qw-border-bg;

    &:last-child {
      border-bottom: 1px solid $qw-border-bg;
    }

    &:hover,
    &:hover > .open {
      background-color: $body-bg;
      cursor: pointer;
    }

    > .inner {
      @include grid-column($columns: $total-columns - 1);
    }

    

    > .open {
      @include grid-column($columns: 1);
      min-height: inherit;
      padding: rem-calc(30 20);

      &:hover {
        background: darken($body-bg, 15%);
      }
    }
  }
}
