.qw-extra {		
	border: 0 !important; 
	

	> .filter {
		background: #FFF !important;
		border-bottom: 1px solid #F5F5F5 ;
	  > div {
	  	> .options {
	  		> .title {
	  			font-size: 16px !important;
	  			font-weight: normal !important;
	  		}
	  		> label {
	  			display: inline-block;

				> select {
					border: 0;
	  				background: #FFF;
	  				font-size: 16px;
	  				color: #236AA2;
	  				padding:0 18px 0 0 !important;
				}

				&:hover {
					background: #FFF !important;
				}

				label:after {
    			  position: absolute;
    			  right: 8px;
    			  top:10px;
			
    			  color: $qw-black;
    			  content: '>';
    			  font: 11px "Consolas", monospace;
    			  padding: 0 0 2px;
    			  pointer-events: none;
			
    			  -webkit-transform: rotate(90deg);
    			  -moz-transform: rotate(90deg);
    			  -ms-transform: rotate(90deg);
    			  transform: rotate(90deg);
    			}
			
    			label:before {
    			  position: absolute;
    			  top: 0;
    			  right: 6px;
    			  
    			  content:'';
    			  display:block;
    			  height: 20px;
    			  pointer-events:none;
    			  width: 20px;
    			}
	  		}
	  	}
	    > .create {
	    	> a {
	    		font-style: italic;
	    		font-weight: normal;
	    		font-size: 14px;
	    		border: 1px solid #CCC;
	    	}
	      	> span {
	        color: #BFBFBF;
	        padding: 0.375rem 0.3125rem 0.5625rem 0.25rem;
	        
	        > i {
	            font-size: 1.4rem;
	              padding: 0 0.3125rem;
	            
	        }
	      }
	    }
	  }
	}
}


.qw-session-container {
	display: none;
	&.active {
		display: block;
		opacity: 1;
	}
	> .session-title {

		position: relative;
		padding-left: $qw-session-title-padding-left;
		margin: $qw-session-title-margin;
		line-height: $qw-session-title-line-height;
		display: -webkit-box;
		@include flex-container($wrap:wrap);
		border-radius: $global-radius;
		cursor: pointer;
		color: $qw-session-title-font-color;
		font-size: $qw-session-title-font-size;
		font-weight: $qw-session-title-font-weight;
		float: left;
		width: $qw-session-title-width;
		text-transform: $qw-session-title-text-transform;

		> .session-title-name {
			min-width: $qw-session-title-name-min-width;
		}

		> .session-title-termin {
			min-width: $qw-session-title-termin-min-width;
		}

		> .session-title-tag {
			min-width: $qw-session-title-tag-min-width;
			padding-left: $qw-session-title-tag-padding-left;
		}

		> .session-title-turnus {
			min-width: $qw-session-title-turnus-min-width;
		}

		> .session-title-ort {
			min-width: $qw-session-title-ort-min-width;
		}

		> .session-title-num {
			min-width: $qw-session-title-num-min-width;
			text-align: right;

		}
	}

	> .session-container {

			padding-left: $qw-session-container-padding-left;
			margin: $qw-session-container-margin;
			line-height: $qw-session-container-line-height;
			@include flex-container($wrap:wrap);
			border-radius: $global-radius;
			background: $qw-session-container-bg-color;
			cursor: pointer;
			color: $qw-session-container-font-color;
			font-size: $qw-session-container-font-size;
			float: left;
			width: $qw-session-container-width;

		> a {

			color: $qw-session-container-name-font-color;
			font-weight: $qw-session-container-name-font-weight;
			text-decoration: none;	
			> .session-name {
			min-width: $qw-session-container-name-min-width;
			margin-right: $qw-session-container-name-margin-right;

			}

		}

		> .session-termin {
			min-width: $qw-session-container-termin-min-width;
			> span {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-today-badge-bg, $radius:$global-radius);
				text-transform: uppercase;
				margin: $qw-session-container-termin-span-margin;
				> i {
					font-size: $qw-session-container-termin-span-icon-font-size;
				}				
			}
		}

		> .session-tag {
			min-width: $qw-session-container-tag-min-width;
			
			padding-left: $qw-session-container-tag-padding-left;
		}

		> .session-turnus {
			min-width: $qw-session-container-turnus-min-width;
			
		}
		> .session-ort {
			min-width: $qw-session-container-ort-min-width;
			
			> span {
				background: $qw-session-container-ort-span-bg-color;
				border-radius: $global-radius;
				color: $qw-session-container-ort-span-font-color;
				padding: $qw-session-container-ort-span-padding;

				> i {
				font-size: $qw-session-container-ort-span-icon-font-size;
				}
			}
		}
		> .session-num {
			
			min-width: $qw-session-container-num-min-width;
			color: $qw-session-container-num-font-color;
			font-size: $qw-session-container-num-font-size;
			font-weight: $qw-session-container-num-font-weight;
			text-align: right;
		}
		
		&:hover {
			background: $qw-session-container-hover-bg-color;
		}

		&:active {
			background: $qw-session-container-active-bg-color;
			color: $qw-session-container-active-font-color;
		}

		&.future {
			> .session-termin {
				> span {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-future-badge-bg, $radius:$global-radius);	
				color:$qw-dashboard-task-future-color;					
				}
			}
		}

		&.tomorrow {
			> .session-termin {
				> span {
					@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-tomorrow-badge-bg, $radius:$global-radius);	
				}
			}
		}

		&:nth-child(odd) {
			background: $qw-session-nth-child-bg-color;
			
			> .session-ort {
				> span {
					background: $qw-session-nth-session-ort-bg-color;
				}
			}

			&:hover {
				background: $qw-session-nth-hover-bg-color;
			}

			&:active {
				background: $qw-session-nth-active-bg-color;
				color: $qw-session-nth-active-font-color;
			}
		}
	}

	> .agenda-title {

		position: relative;
		padding-left: $qw-agenda-title-padding-left;
		margin: $qw-agenda-title-margin;
		line-height: $qw-agenda-title-line-height;
		@include flex-container($wrap:wrap);
		border-radius: 3px;
		cursor: pointer;
		color: $qw-agenda-title-font-color;
		font-size: $qw-agenda-title-font-size;
		font-weight: $qw-agenda-title-font-weight;
		float: left;
		width: $qw-agenda-title-width;
		text-transform: $qw-agenda-title-text-transform;

		> .agenda-title-name {
			min-width: $qw-agenda-title-name-min-width;
		}

		> .agenda-title-due {
			min-width: $qw-agenda-title-due-min-width;
		}

		> .agenda-title-responsible {
			min-width: $qw-agenda-title-responsible-min-width;
			padding-left: $qw-agenda-title-responsible-padding-left;
		}

		> .agenda-title-author {
			min-width: $qw-agenda-title-author-min-width;
		}

		> .agenda-title-date {
			min-width: $qw-agenda-title-date-min-width;
			text-align: right;
		}
	}

	> .agenda-container {

		position: relative;
		padding-left: $qw-agenda-container-padding-left;
		margin: $qw-agenda-container-margin;
		line-height: $qw-agenda-container-line-height;
		@include flex-container($wrap:wrap);
		border-radius: 3px;
		background: $qw-agenda-container-bg-color;
		cursor: pointer;
		color: $qw-agenda-container-font-color;
		font-size: $qw-agenda-container-font-size;
		float: left;
		width: $qw-agenda-container-width;

		> .agenda-name {
			min-width: $qw-agenda-container-name-min-width;
			font-weight: $qw-agenda-container-name-font-weight;
			margin-right: $qw-agenda-container-name-margin-right;
			color: $qw-agenda-container-name-font-color;

			i {
				font-size: $qw-agenda-container-name-icon-font-size;
				color: $qw-agenda-container-name-icon-font-color;
				padding-right: $qw-agenda-container-name-icon-padding-right;
				position: relative;
				vertical-align: top;
				top: 2px;
				
			}
		}

		> .agenda-due {
			min-width: $qw-agenda-container-due-min-width;

			> span {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-today-badge-bg, $radius:$global-radius);
				text-transform: uppercase;
				margin: $qw-agenda-container-due-span-margin;
				> i {
					font-size: $qw-agenda-container-due-span-icon-font-size;
				}				
			}
		}

		> .agenda-responsible {
			min-width: $qw-agenda-container-responsible-min-width;
			> span {
				background: $qw-agenda-container-responsible-span-bg-color;
				border-radius: $global-radius;
				color: $qw-agenda-container-responsible-span-font-color;
				padding: $qw-agenda-container-responsible-span-padding;

				> i {
				font-size: $qw-agenda-container-responsible-span-icon-font-size;
				}
			}
			
			padding-left: $qw-agenda-container-responsible-padding-left;
		}
		> .agenda-author {
			min-width: $qw-agenda-container-author-min-width;

			> span {
				background: $qw-agenda-container-author-span-bg-color;
				border-radius: $global-radius;
				color: $qw-agenda-container-author-span-font-color;
				padding: $qw-agenda-container-author-span-padding;

				> i {
				font-size: $qw-agenda-container-author-span-icon-font-size;
				}
			}	
		}

		> .agenda-date {
			text-align: right;
			min-width: $qw-agenda-container-date-min-width;	
		}

		> .agenda-tools {
			transition: opacity $qw-fast-ease;
			opacity: 0;
			height: $qw-agenda-container-tools-height;
			border: solid 5px $qw-button2-bg-color;
			border-top: 0; 
			border-right: 0;
			border-top-right-radius:$global-radius;
			border-bottom-left-radius: $global-radius;				
			display: inline-block;
			width: $qw-agenda-container-tools-width;
			position: absolute;
			top: 0;
			right: 0;
			> ul {
				margin:0;
				padding:0;
				list-style: none;

				> li {
					font-size: $qw-agenda-container-tools-li-font-size;
					display: block;
					position: relative;
					float: left;
					width: $qw-agenda-container-tools-li-width;
					color: $qw-agenda-container-tools-li-font-color;
					background: $qw-agenda-container-tools-li-bg-color;

					i {
						margin: $qw-agenda-container-tools-li-icon-margin;
					}

					&.agenda-add {
						border-radius: ($global-radius 0 0 $global-radius);
					}

					&.agenda-check {
						border-radius: (0 $global-radius $global-radius 0);
					}

					&:hover {
						background: $qw-agenda-container-tools-li-hover-bg-color;
					}
				}
			}
		}
		
		&:hover {
			background: $qw-agenda-container-hover-bg-color;
			> .agenda-tools {
				opacity: 1;
				display: inline-block;
			}
		}

		&:active {
			background: $qw-agenda-container-active-bg-color;
			color: $qw-agenda-container-active-font-color;
		}

		&.future {
			> .agenda-due {

				> span {
					@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:#91AB32, $radius:$global-radius);	
					color:  $qw-agenda-container-future-agenda-due-span-font-color;
					margin-bottom: auto;					
				}
			}
		}

		&.tomorrow {
			> .agenda-due {

				> span {
				@include label($padding:$qw-dashboard-task-label-padding,$text-size:$qw-dashboard-task-badge-font-size, $bg:$qw-dashboard-task-tomorrow-badge-bg, $radius:$global-radius);					
				}
			}
		}

		&:nth-child(odd) {
			background: $qw-agenda-nth-child-bg-color;
			
			> .agenda-responsible {
				> span {
					background: $qw-agenda-nth-agenda-respobsible-bg-color;
				}
			}

			> .agenda-author {
				> span {
					background: $qw-agenda-nth-agenda-author-bg-color;
				}
			}

			&:hover {
				background: $qw-agenda-nth-hover-bg-color;
			}

			&:active {
				background: $qw-agenda-nth-active-bg-color;
				color: $qw-agenda-nth-active-font-color;
			}
		}
	}	
}

.qw-session-toptwo {

	margin-top: $qw-dashboard-toptwo-margin-top;
	height: $qw-dashboard-toptwo-height;
	&.sessions {
		display: none;

		&.active {
			display: block;
			opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			> a {
				text-decoration: none;
				color: $qw-dashboard-toptwo-content-font-color;
			}

			> i {
				margin-left: $qw-dashboard-list-margin-left;
			}
		}

		> .add {
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			color: $qw-dashboard-toptwo-a-font-color;
			> i { 
			padding-right: $qw-dashboard-toptwo-a-margin;
			font-size: $qw-session-toptwo-session-add-icon-font-size;

			}
		}

		> .maximize {
			padding: $qw-session-toptwo-session-maximize-padding;
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			color: $qw-session-toptwo-session-maximize-font-color;
			> i { 
			font-size: $qw-session-toptwo-session-maximize-icon-font-size;
			padding: $qw-session-toptwo-session-maximize-icon-padding;

			}
		}
	}

	&.departmenthead {
		display: none;

		&.active {
			display: block;
			opacity: 1;
		}

		> .content {
			line-height: $qw-dashboard-toptwo-content-line-height;
			> a {
				text-decoration: none;
				color: $qw-dashboard-toptwo-content-font-color;
			}

			> i {
				margin-left: $qw-dashboard-list-margin-left;
			}
		}

		> .add {
			
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;

			font-style: italic;
			font-size: $qw-dashboard-toptwo-a-font-color-font-size;
			color: $qw-dashboard-toptwo-a-font-color;
			> i { 
			padding-right: $qw-dashboard-toptwo-a-margin;
			font-size: 1rem;

			}
		}

		> .maximize {
			padding: $qw-session-toptwo-departmenthead-maximize-padding;
			margin: $qw-dashboard-toptwo-a-margin;
			float: right;
			font-style: italic;
			color: $qw-session-toptwo-departmenthead-maximize-font-color;
			> i { 
			font-size: $qw-session-toptwo-departmenthead-maximize-icon-font-size;
			padding: $qw-session-toptwo-departmenthead-maximize-icon-padding;

			}
		}
	}
}

.qw-sessionbar, .qw-agendabar {

	position: fixed;
	right: 0;
	background: $qw-infobar-bg;
	height: calc( 100% - #{$qw-top-one-height});
	z-index: 100;
	overflow-x: hidden;
	transform: translate3d( 100%, 0, 0 );
	transition: opacity $qw-slow-ease,
	          transform $qw-default-ease;

	@media #{$mobile-only} {top: $qw-top-one-height-mobile;}
	@media #{$small-up} {top: $qw-top-one-height;}

	$p: percentage(1/12);
	@media #{$mobile-up} {
	width: 100%;
	}

	@media #{$medium-only} {
	width: calc(6 * #{$p} - #{$qw-content-padding});
	}

	@media #{$large-only} {
	width: calc(4 * #{$p});
	}

	@media #{$extended-up} {
	width: calc(3 * #{$p});
	}

	&.offcanvas {
		&.infobar {
			  transform: translate3d( 0, 0, 0 );

			&.leftbar {
				@media #{$mobile-up} {
					transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
				}

				@media #{$large-up} {
					$offset: rem-calc($qw-leftbar-width-expanded);
					transform: translate3d( $offset, 0, 0 );
				}
			}
		}
	}

	> div {
		padding: $qw-inboxbar-padding;
		padding-top: 15px;

		> .agenda-header {
			padding: $qw-inboxbar-header-padding;
			background: $qw-inboxbar-header-bg-color;
			border-bottom: $qw-inboxbar-header-border-bottom;

			@media #{$mobile-only} {min-height: $qw-top-two-height-mobile - 25px;}
			@media #{$small-up} {min-height: $qw-top-two-height - 25px;}

			> div {

				> span {
					margin-left: $qw-inboxbar-header-span-left-margin;
					color: $qw-infobar-header-color;
					vertical-align: middle;
				}

				> .agenda-data-max {
					float: right;
					color: #BFBFBF;
					padding: 1px 3px 3px 3px;
					margin: 0px 7px;

					> i {
						font-size: $qw-session-toptwo-session-maximize-icon-font-size;
						color: #BFBFBF;

					}
				}

			}
		}

		> .agenda-content {
			background: $qw-inboxbar-content-bg-color;

			.agenda-data-container {
				position: relative;
				top: 0;
				left: 0;

				border-radius: $global-radius;
				transition: opacity $qw-default-ease;
				min-width: 100%;

				@include flex-container($wrap:wrap);

				> .entry {
					@include flex-container($direction:column, $wrap:wrap);
					float: left;
					margin: rem-calc(10 10 10 10);

					> .label {
						text-transform: uppercase;
						color: $qw-dochead-label-color;
						font-size: $qw-dochead-label-font-size;
						font-weight: $qw-dochead-label-font-weight;
						min-width: rem-calc(75);
					}
					> .content {
						background: #F5F5F5;
						margin-top: rem-calc(3);
						$pad: rem-calc(6);
						padding: rem-calc(3 7);
						min-height: rem-calc(30) - 2 * $pad;
						border-radius: $global-radius;
						color: #999;
						font-size: $qw-dochead-default-box-font-size;

						&.user {
						  	color: $qw-dochead-user-box-color;
						}

						&.location {
							background: #f2f5f7;
							color: #236AA2;
						}
					}
				}
			}
		}

		> .history-header, .agenda-history-header {
			margin-top: 15px;
			padding: $qw-inboxbar-header-padding;
			background: $qw-inboxbar-header-bg-color;
			border-bottom: $qw-inboxbar-header-border-bottom;

			@media #{$mobile-only} {min-height: $qw-top-two-height-mobile - 25px;}
			@media #{$small-up} {min-height: $qw-top-two-height - 25px;}

			> div {

				> span {
					margin-left: $qw-inboxbar-header-span-left-margin;
					color: $qw-infobar-header-color;
					vertical-align: middle;

					> i {
						font-size: $qw-infobar-header-icon-font-size; 
						//margin-right: 5px;
					}
				}

				> .agenda-data-max {
					float: $qw-infobar-header-icon-max-float;
					color: $qw-infobar-header-icon-max-font-color;
					padding: $qw-infobar-header-icon-max-padding;
					margin: $qw-infobar-header-icon-max-margin;

					> i {
						font-size: $qw-session-toptwo-session-maximize-icon-font-size;
						color: $qw-infobar-header-icon-max-font-color;

					}
				}
			}
		}

		.history-header {
			margin-top: 0;
		}

		> .history-content, .agenda-history-content {
			background: $qw-white;

			> div {

				> .history-container {

					> .history {
						position: relative;
						background-color: $qw-white;
						border-radius: $global-radius;
						margin-bottom: $qw-inboxbar-inbox-margin-bottom;

						> .history-left {
							position: absolute;
							top: 0; left: 0; bottom: 0;
							border:$qw-inboxbar-inbox-left-border;
							width: $qw-inboxbar-inbox-left-width;
							height: $qw-inboxbar-inbox-left-height;
							border-radius: ($global-radius 0 0 $global-radius );

							> label {
								padding:$qw-inboxbar-inbox-left-label-padding;
							}
						}

						> .history-right {
							margin-left: $qw-inboxbar-inbox-right-margin-left;
							cursor: pointer;
							border:0;
							padding: $qw-inboxbar-inbox-right-padding;
							border-bottom: 1px solid #F5F5F5;

							> .caption {
								margin: $qw-inboxbar-inbox-right-caption-margin;
								min-height: 1.8rem;
								width: $qw-inboxbar-inbox-right-caption-width;
								border:0;

								> .header {
								display: block;
								font-size: $qw-inboxbar-inbox-right-caption-header-font-size;
								color: $qw-inboxbar-inbox-right-caption-header-font-color;
								}

								> #session-tag {
									float: right;
									border-radius: $global-radius;
									padding: 0.1875rem 0.5rem 0.1875rem 0.1875rem;
									
									background: #F5F5F5;
								}
							}

							> .content {
								margin:0;
								border:0;

								> span {
									display: block;
									font-size: $qw-inboxbar-inbox-right-caption-content-font-size;
									color: $qw-inboxbar-inbox-right-caption-content-font-color;
								}
							}

							> .author {
								margin-top: 10px;

								span {
									font-size: $qw-inboxbar-inbox-right-caption-author-font-size;
									padding-right: 10px;
									color: #B7B7B7;
								}

								> .responsible {
									border-radius: $global-radius;
									background: #f2f5f7;
									padding: 0.1875rem 0.5rem 0.1875rem 0.1875rem;
									margin: $qw-inboxbar-inbox-right-caption-author-margin; 
									font-size: $qw-inboxbar-inbox-right-caption-author-font-size;
									&.responsible {
										color: $qw-inboxbar-inbox-right-caption-author-responsible-font-color;
									}

									&.meetings {
										font-size: $qw-inboxbar-inbox-right-caption-author-meetings-font-size;
										color: $qw-inboxbar-inbox-right-caption-author-meetings-font-color;
									}
								}

								> .date {
									font-size: $qw-inboxbar-inbox-right-caption-date-font-size;
									color: $qw-inboxbar-inbox-right-caption-date-font-color;
									border-radius: $global-radius;
									padding: 0.1875rem 0.5rem 0.1875rem 0.1875rem;
									margin: $qw-inboxbar-inbox-right-caption-author-margin; 
									background: #F5F5F5;
								}		
							}
						}

						&:hover {
							background : $qw-inboxbar-inbox-tools-hover;
						}
					}

					&:nth-child(even) {
						
						> .date {
							background: #F5F5F5;
							color: #BFBFBF;
						}
					}
				}
			}
		}
	}
}

.qw-session-topbar {

	height: $qw-dashboard-topbar-height;
	background: $qw-dashboard-topbar-bg-color;

	> span {
		min-width: $qw-dashboard-list-min-width;
		font-size: $qw-dashboard-list-font-size;
		margin-left: 0;
		color: #4D4D4D;
		cursor: auto;
		padding: 5px 30px 0 15px;
		i {
			font-size: 30px;
		}
	}
/* 	.dashboard-list {
		
		> li {
			min-width: $qw-dashboard-list-min-width;
			
			color: $qw-dashboard-list-font-color;
			padding: $qw-dashboard-list-padding;
			cursor: pointer;
			&:hover:not(:first-child) {
				/* transition: all 10s ease-in-out;
				background : $qw-dashboard-list-hover-bg;
				border-radius: $global-radius;
				color: $qw-dashboard-list-hover-font-color;
			}
		}

		> li:first-child {

		}
	} */ 
}

.qw-agendadetail {
	padding: $qw-taskdetail-padding;

	> .agendadetail-header {
		padding: $qw-taskdetail-header-padding;

		> div {
			padding: $qw-taskdetail-header-div-padding;
			
			position: relative;

			> .content {
				font-size: $qw-taskdetail-header-content-font-size;
				color: $qw-taskdetail-header-content-font-color;
				display: inline-block;
				width: $qw-taskdetail-header-content-width;
				padding: $qw-taskdetail-header-content-padding;

			}

			> .edit {
				color: $qw-taskdetail-header-edit-font-color;
				padding: $qw-taskdetail-header-edit-padding;
				position: absolute;
				top: 0;
				right: 0;
				border-radius: $global-radius;
				border: $qw-taskdetail-header-edit-border;
				margin: $qw-taskdetail-header-edit-margin;

				> i {
					font-size: $qw-taskdetail-header-edit-font-size;
				}
			}
		}
	}

	> .agendadetail-content {
		> div {
			border-top: $qw-add-task-header-border-bottom;

			> .firstdetail {
				@include flex-container($wrap: wrap, $direction: row);
				padding: $qw-taskdetail-content-firstdetail-padding;
				height: $qw-taskdetail-content-firstdetail-height; 

				> label {
					color: $qw-taskdetail-content-firstdetail-label-font-color;
					margin-right: $qw-taskdetail-content-firstdetail-label-margin-right;

					> div {
						margin-top: $qw-add-task-content-label-margin-top;
						border-radius: $global-radius;
						border: $qw-add-task-content-label-border;
						min-height: $qw-add-task-content-label-min-height;
						padding: $qw-add-task-content-label-padding; 

						> .user , .useradd {
							border-radius: $global-radius;
							display: inline-block; 
							
						}

						> .user {
							padding: $qw-add-task-content-user-padding;
							float: left;
							background: $qw-add-task-content-user-bg-color;
							color: $qw-add-task-content-user-font-color;
							> .icon-user {
								margin-right: 5px;
							}

							> .icon-close {
								//float: right;
								padding-left: 5px;
								color: $qw-add-task-content-user-icon-close-font-color;
								font-size: $qw-add-task-content-user-icon-close-font-size;
							}	
						}

						> .useradd {
							padding: $qw-add-task-content-user-add-padding;
							margin-left: 0.4rem;
							float: right;
							background: $qw-add-task-content-user-add-bg-color;
							color: $qw-add-task-content-user-add-font-color;
							cursor: pointer;
						}
					}				
				}

				> .taskcalendar {
					display: inline-block;
					float: right;

					> label {
					color: $qw-taskdetail-content-firstdetail-label-font-color;
					font-size: $qw-add-task-content-taskcalendar-label-font-size;
					//font-weight: bold;
					margin-bottom: 0.53125rem; 
					//margin-top: $qw-add-task-content-taskcalendar-label-margin-top;
					}

					> .duecalendar {
						display: inline-block;
						border: $qw-add-task-content-duecalendar-border;
						height: $qw-add-task-content-duecalendar-height;
						width: $qw-add-task-content-duecalendar-width;
						border-radius:$global-radius;
						background: $qw-add-task-content-duecalendar-bg-color;
						padding: $qw-add-task-content-duecalendar-padding;
						
						> input {
							width: $qw-add-task-content-duecalendar-input-width;
							background: $qw-add-task-content-duecalendar-input-bg-color;
							border: $qw-add-task-content-duecalendar-input-border;
							box-shadow: $qw-add-task-content-duecalendar-input-box-shadow;
						}

						> i {

							color: $qw-add-task-content-duecalendar-icon-font-color;
							font-size: $qw-add-task-content-duecalendar-icon-font-size;
							float: right;
							display: inline-block;
							padding: $qw-add-task-content-duecalendar-icon-padding;
							cursor: pointer;
						}
					}
				}
			}

			> .seconddetail {
				padding: $qw-taskdetail-content-seconddetail-padding;  

				> .second-header {
					> span {				
						font-size: $qw-taskdetail-content-seconddetail-header-font-size;
						color: #9F9F9F;
					}
				}

				> .second-content {
					> span {
						color: $qw-taskdetail-content-seconddetail-header-font-size;
						font-size: $qw-taskdetail-content-seconddetail-content-font-size;
					}
				}

				> .second-footer {

					font-size: $qw-taskdetail-content-seconddetail-footer-font-size;
					margin-top: $qw-taskdetail-content-seconddetail-footer-margin-top;

					> .author, .meeting {
						background: $qw-taskdetail-content-seconddetail-author-bg-color;
						color: $qw-taskdetail-content-seconddetail-author-font-color;
						border-radius: $global-radius;
						padding: $qw-taskdetail-content-seconddetail-author-padding;
						margin-right: $qw-taskdetail-content-seconddetail-author-margin-right;
						> i {
							font-size: $qw-taskdetail-content-seconddetail-author-font-size;
						}
					}

					> .meeting {
						background: $qw-taskdetail-content-seconddetail-meeting-bg-color;
						color: $qw-taskdetail-content-seconddetail-meeting-font-color;

					}
				}
			}

			> .thirddetail {
				padding: $qw-taskdetail-content-thirddetail-padding; 
				font-style: italic;
				> div {
					> .taskdetail-list {
						@include inline-list;
						margin: 10px 0px 15px 0px !important;
						text-align: center;
						text-decoration: normal;
						
						> li {
							margin: 0px !important;
							padding:10px 0;
							width: 33%;
							border-top: 1px solid #E0E0E0;
							border-left: 1px solid #E0E0E0; 
							border-bottom: 1px solid #E0E0E0;
							color: #999;

							> span {
								font-size: 0.9rem;
								font-style: normal;
								i {
									font-size: 1.1rem;
									margin-right: 5px;	
								}
							}

							&:hover {
								background: #BFBFBF;
								color: $qw-white;
							}

							&:active {
								background: #262626;
								color: $qw-white;
							}

							&.active {
								background: #262626;
								color: $qw-white;
							}

							&:last-child {
								border-top-right-radius: $global-radius;
								border-bottom-right-radius: $global-radius;
								border-right: 1px solid #E0E0E0;
							}

							&:first-child {
								border-top-left-radius: $global-radius;
								border-bottom-left-radius: $global-radius;
							}
						}
					}

					> .tasknote {
						border-radius: $global-radius;
						margin-top: $qw-add-task-content-tasknote-margin-top;
						position: relative;
						min-height: $qw-add-task-content-tasknote-min-height;
						background: $qw-add-task-content-tasknote-bg-color;

						textarea {
							background: #f0f0f0;
							border: 0;
							border-radius: $global-radius;
						} 
					}
				}

				> .buttons {
					margin-top: $qw-add-task-content-buttons-margin-top;
					height: $qw-add-task-content-buttons-height;
					font-style: italic;
					> .finish {
						float: left;
						width: $qw-add-task-content-buttons-finish-width;
					}

					> .cancel {
						width: $qw-add-task-content-buttons-cancel-width;
						float: right;
					}
				}
			}
		}
	}
}

