[data-leftbar] section {
  > .heading {
    text-transform: uppercase;
    color: darken($body-bg, 50%);
    display: block;
    width: 100%;
    padding: rem-calc(5);
    cursor: pointer;

    &:hover {
      background: darken($body-bg, 10%);
    }

    .adorner {
      @extend .fa;
      @extend .right;
      padding-top: rem-calc(5);
      padding-right: rem-calc(10);
      font-size: 0.8rem;
    }

  }

  &:first-child {
      margin-top: 5px + $qw-top-two-height;
      border-top: 1px solid $qw-border-bg;
  }

  > ul {
    @include side-nav(
      $divider-color: $qw-weblist-divider-color,
      $font-size: $qw-weblist-font-size,
      $link-color: $qw-weblist-link-color,
      $link-color-hover: $qw-weblist-link-color-hover
    );

    background: $qw-content-bg;
    transition: max-height 0.2s ease-in-out;
    overflow-y: hidden;
    padding: 0 0 0 0.2rem;

    li {
      margin: 0;
      list-style: none;

      a:not(.button) {
        padding: 0.1rem 0.5rem;
      }
    }

    ul {
      padding-left: 0.5rem;
      margin-left: 0;
      > li > a {
        padding-left: 0.5rem;
        margin-left: 0;
      }
    }
  }

  &.active {
    > .heading {
      background: darken($body-bg, 5%);
      border-bottom: 1px solid $qw-border-bg;
    }

    > .heading > .adorner {
      @extend .fa-chevron-down;
    }

      > ul {
      height: 100%;
      max-height: 1000px;
      border-bottom: 1px solid $qw-border-bg;
    }
  }

  &:not(.active) {
    > .heading > .adorner {
      @extend .fa-chevron-left;
    }

    > ul {
      max-height: 0;
    }
  }
}


[data-rightbar] {
  height: calc( 100% - #{$qw-top-one-height} );
  > section {
    @include grid-column( $columns: 12 );
  }

  > .heading {
    min-height: 5px + $qw-top-two-height;
    max-height: 5px + $qw-top-two-height;
    border-bottom: 5px solid $qw-border-bg;
    padding: rem-calc(5 15);

    h3 { color: darken($body-bg, 15%); }
  }

  > .content {
    height: calc( 100% - (5px + #{$qw-top-two-height}) );
    background: $qw-content-bg;
  }
}
