@mixin topbar($bg: #fff, $height: 50px) {
  @include grid-row($behavior: collapse);
  background: $bg;
  height: $height;
}

.qw-top {
  position: fixed;
  top: 0;
  padding: 0;
  min-width: $qw-page-width;
  transition: transform .3s ease-in-out;
  z-index: 99;

  @media #{$mobile-up} {
    min-width: 100%;
    width: 100%;
    left: 0;
  }

  @media #{$medium-up} {
    min-width: $qw-page-width;
    width: $qw-page-width;
    left: $qw-leftbar-width;
  }

  &.leftbar-active {
    @media #{$mobile-up} {
      transform: translate3d($qw-leftbar-width-expanded, 0, 0);
    }

    @media #{$medium-up} {
      $tx: $qw-leftbar-width-expanded - $qw-leftbar-width;
      transform: translate3d($tx, 0, 0);
    }
  }
}

.qw-top-one {
  @include topbar($bg: $qw-top-one-bg, $height: $qw-top-one-height);

  > .tabs {
    @media #{$mobile-up} {@include grid-column($columns: 10, $collapse: true);}
    @media #{$large-only} {@include grid-column($columns: 8, $collapse: true);}
    @media #{$extended-up} {@include grid-column($columns: 9, $collapse: true);}
    height: inherit;
  }

  > .search {
    @media #{$mobile-up} {@include grid-column($columns: 2, $collapse: true);}
    @media #{$large-only} {@include grid-column($columns: 4, $collapse: true);}
    @media #{$extended-up} {@include grid-column($columns: 3, $collapse: true);}
    height: inherit;
  }
}

.qw-top-two {
  @include topbar($bg: $qw-top-two-bg, $height: $qw-top-two-height);
  padding: 0 $qw-breadcrumbs-padding;

  > .wrapper {
    @include grid-row($behavior: collapse);
    height: inherit;

    @media #{$mobile-up} {@include grid-column($columns: 12, $collapse: true);}

    @media #{$large-only} {
      $c: $total-columns/3*2;
      $p: percentage($c/$total-columns);
      width: calc(#{$p} - 2 * #{$qw-breadcrumbs-padding});
      border-bottom: 1px solid $qw-top-one-bg;
    }

    @media #{$extended-up} {
      $c: $total-columns/4*3;
      $p: percentage($c/$total-columns);
      width: calc(#{$p} - 2 * #{$qw-breadcrumbs-padding});
      border-bottom: 1px solid $qw-top-one-bg;
    }

    > .breadcrumbs {
      @include grid-column($columns: 8, $collapse: true);
    }

    > .actions {
      @include grid-column($columns: 4, $collapse: true);
      // height: inherit;
    }
  }
}
