@mixin qw-topbar {
  position: fixed;
  left:0;
  min-width: 100%;
  z-index: 99;
}

.qw-tb-1 {
  @include qw-topbar;
  top: 0;
  height: $qw-top-one-height;
  background: $qw-top-one-bg;
  border-bottom: $qw-border-width solid $qw-border-bg;
}

.qw-tb-2 {
  @include qw-topbar;
  top: $qw-top-one-height;
  height: $qw-top-two-height;
  background: $qw-top-two-bg;
}
