@import "../settings";

.qw-topbar {
  position: fixed;
  left:0;
  min-width: 100%;
  z-index: 99;
}

.qw-tb-1 {
  @extend .qw-topbar;
  top: 0;
  height: $qw-tb-1-h;
  background: $qw-tb-1-bg;

  // * {
  //   max-height: $qw-tb-1-h;
  // }
}

.qw-tb-2 {
  @extend .qw-topbar;
  top: $qw-tb-1-h;
  height: $qw-tb-2-h;
  background: $qw-tb-2-bg;
}
