.qw-page {
  position: absolute;
  padding: 0;

  @media #{$mobile-only} {top: $qw-top-height-mobile;}
  @media #{$small-up} {top: $qw-top-height;}

  @media #{$mobile-up} {
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  @media #{$medium-up} {
    left: $qw-leftbar-width;
    width: $qw-page-width;
    max-width: $qw-page-width;
  }
  $p: percentage(1/$total-columns);
  @media #{$large-only} {width: calc(8 * #{$p} - 2.01*#{$qw-content-padding});}
  @media #{$extended-up} {width: calc(9 * #{$p} - 2.01*#{$qw-content-padding});}
  background: $qw-content-bg;

  bottom: 0;
  overflow-y: auto;
  @include flex-container($direction:column);

  > .heading > div {
    padding: 0.6rem 0.6rem;
  }

  > .heading {
    background: $qw-content-bg;
    width: 100%;
    @include flex($grow:0,$shrink:0);
  }

  > .content {
    @include flex-container($align:stretch);
    @include flex($grow:1);
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    $adorner-width: 30px;

    > .topic {
      position: relative;
      @include flex($grow:1);
      vertical-align: top;
      padding: 0 $qw-content-padding;

      &.adorner-visible {
        padding-right: $qw-content-padding/4;
      }
    }

    > .adorner {
      position: relative;
      @include flex($grow:0,$shrink:0);
      vertical-align: top;

      &.adorner-hidden {
        display: none;
      }

      &.adorner-visible {
        width: $adorner-width;
        padding-right: $qw-content-padding/4;

        > div {
          position: absolute;
        }
      }
    }
  }

  &.maximized {
    background: $qw-content-bg;
    @include grid-column($columns: $total-columns, $collapse: true);
  }

  &.offcanvas {
    &.leftbar {
      @media #{$mobile-up} {
        transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
      }
    }
  }

  &:not(.no-transition) {
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
