.qw-page {
  position: absolute;
  top: $qw-top-height;
  left: $qw-leftbar-width;
  padding: 0;
  width: $qw-page-width;
  max-width: $qw-page-width;

  > .heading > div {
    padding-top: $qw-content-padding;
  }

  > .content, .heading {
    background: $qw-content-bg;

    $p: percentage(1/$total-columns);
    @media #{$mobile-up} {width: 100%;}
    @media #{$large-only} {width: calc(8 * #{$p} - #{$qw-content-padding}/2);}
    @media #{$extended-up} {width: calc(9 * #{$p} - #{$qw-content-padding}/2);}

    > div {
      @media #{$mobile-up} {padding: $qw-content-padding;}
      padding-bottom: $qw-top-height;
    }
  }

  &.maximized {
    > .content, .heading {
      background: $qw-content-bg;
      @include grid-column($columns: $total-columns, $collapse: true);
      width: calc(100% - #{$qw-content-padding});
    }
  }

  &.offcanvas {
    &.leftbar {
      @media #{$mobile-up} {
        transform: translate3d( $qw-leftbar-width-expanded, 0, 0 );
      }
    }
  }

  &:not(.no-transition) {
    > .content, .heading {
      transition: width 0.3s ease-in-out;
    }
  }
}
