$qwiki-colors: (
  primary: #52CAE4,
  primary-hover: #75D5EA,
  success: #84BB2E,
  success-hover: #9DC958,
  failure: #D83314,
  failure-hover: #E05C43,
  warning: #E2AF19,
  warning-hover: #EECF75,
  brown: #7F7B71,
  sand: #E5E0D5,
  body-text: #282C2E,
  dark-grey: #84878A,
  light-grey: #E2E2E2,
  grey: #A4AEB9,
  bg-beige: #F5F3EF,
  bg-light: #F7F7F7
) !default;
