//
// Modell Aachen Default Colors
//

$ma-primary: #52cae4;
$ma-primary-hover: #75d5ea;
$ma-success: #84bb2e;
$ma-success-hover: #9dc958;
$ma-success-light: #e1eecc; // equals rgba($ma-success, 0.3) on white background
$ma-failure: #d83314;
$ma-failure-hover: #e05c43;
$ma-failure-light: #f5cec6; // equals rgba($ma-failure, 0.3) on white background
$ma-warning: #e2af19;
$ma-warning-hover: #eecf75;
$ma-warning-light: #f6e7ba; // equals rgba($ma-warning, 0.3) on white background
$ma-brown: #7f7b71;
$ma-sand: #e5e0d5;
$ma-body-text: #282c2e;
$ma-darker-grey: #3E4143;
$ma-dark-grey: #84878a;
$ma-light-grey: #e2e2e2;
$ma-medium-grey: #e5e8eb;
$ma-grey: #a4aeb9;
$ma-bg-beige: #f5f3ef;
$ma-bg-light: #f7f7f7;
$ma-light-border: #f1efea;
$ma-help-text: #9a9a9a;
$ma-white: white;
$ma-black: black;
$ma-select-multi-text-color: #8c7b71;
$ma-data-table-border: #cdd0d3;

$ma-font-regular: 'Open Sans';
$ma-font-semibold: $ma-font-regular;
$ma-font-bold: $ma-font-regular;

$ma-border-radius: 4px;

$primary-hover: $ma-primary-hover;
$success-hover: $ma-success-hover;
$warning-hover: $ma-warning-hover;
$alert-hover: $ma-failure-hover;

//
// Override of Foundation Globals
// See 'node_modules/foundation-sites/scss/_global.scss' for a full list of
// variables.
//

$global-flexbox: true;
$global-radius: $ma-border-radius;

$foundation-palette: (
  primary: $ma-primary,
  secondary: $ma-dark-grey,
  success: $ma-success,
  warning: $ma-warning,
  alert: $ma-failure,
);

$primary-color: map-get($foundation-palette, 'primary');
$secondary-color: map-get($foundation-palette, 'secondary');
$success-color: map-get($foundation-palette, 'success');
$warning-color: map-get($foundation-palette, 'warning');
$alert-color: map-get($foundation-palette, 'alert');

$light-gray: $ma-light-grey;
$medium-gray: $ma-grey;
$dark-gray: $ma-dark-grey;
$body-background: white;
$body-font-color: $ma-body-text;
$body-font-family: $ma-font-regular;

//
// Layout settings
//

$ma-left-width: rem-calc(180);
$ma-top-height: rem-calc(60);
$ma-common-spacing: rem-calc(14);

// headers
$ma-h3-margin-bottom: rem-calc(3);