@import 'util/util';

//
// Modell Aachen Default Colors
//

$ma-primary: #57c9e8;
$ma-colored-text: #0069bf;
$ma-colored-text-hover: #0069bf;
$ma-secondary: #003764;
$ma-success: #9dc958;
$ma-warning: #e6ba30;
$ma-failure: #d83215;
$ma-failure-hover: #f28b79;

$ma-darker-grey: #395055;
$ma-dark-grey: #6a7f84;
$ma-grey: #b0c0c4;
$ma-light-grey: #dee4e5;
$ma-sand: #f5f3ef;
$ma-pale-grey: #e9eff0;
$ma-button-grey: #eff3f4;
$ma-white-grey: #fafafa;

$ma-white: white;
$ma-black: black;
$ma-body-text: rgba(0,0,0,0.87);
$ma-secondary-text: rgba(0,0,0,0.54);
$ma-disabled-text: rgba(0,0,0,0.34);
$ma-akzent-text: $ma-colored-text;


$ma-font-regular: 'Open Sans', sans-serif;
$ma-font-semibold: $ma-font-regular;
$ma-font-bold: $ma-font-regular;

$ma-border-radius: 4px;

/*
$primary-hover: $ma-primary-hover;
$success-hover: $ma-success-hover;
$warning-hover: $ma-warning-hover;
$alert-hover: $ma-failure-hover;
*/

$global-width: 960px;
$grid-margin-gutters: (
  small: 16px,
  medium: 24px,
  large: 40px,
);

$breakpoints: (
  small: 0,
  medium: 360px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
  xxxlarge: 1650px,
  xxxxlarge: 1850px,
);
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge xxxxlarge);

$limited-width: (
  large: 600px,
);

$spacings: (
  small: 8px,
  medium: 16px,
  large: 24px,
  xlarge: 32px,
  xxlarge: 40px,
  3xlarge: 48px,
);

//
// Override of Foundation Globals
// See 'node_modules/foundation-sites/scss/_global.scss' for a full list of
// variables.
//

$global-flexbox: true;
$global-radius: $ma-border-radius;
$global-font-size: 14px;

$foundation-palette: (
  primary: $ma-primary,
  secondary: $ma-dark-grey,
  success: $ma-success,
  warning: $ma-warning,
  alert: $ma-failure,
);

$primary-color: map-get($foundation-palette, 'primary');
$secondary-color: map-get($foundation-palette, 'secondary');
$success-color: map-get($foundation-palette, 'success');
$warning-color: map-get($foundation-palette, 'warning');
$alert-color: map-get($foundation-palette, 'alert');

$light-gray: $ma-light-grey;
$medium-gray: $ma-grey;
$dark-gray: $ma-dark-grey;
$body-background: white;
$body-font-color: $ma-body-text;
$body-font-family: $ma-font-regular;

$switch-paddle-radius: 50%;
$switch-radius: .5rem;

//
// Layout settings
//
$ma-left-width: rem-calc(180);
$ma-top-height: rem-calc(60);
$ma-common-spacing: rem-calc(14);

// headers
$ma-h3-margin-bottom: rem-calc(3);

//
// table settings
//
$table-head-background: $ma-white;
$table-background: $ma-white;
$table-border: 0;
$table-is-striped: "none"; //Disable foundation default stripes
$table-head-font-color: $ma-secondary-text;
$table-padding: rem-calc(12 48 12 0);
$table-inner-border: 0;