{
	extends: ["eslint:recommended"],
	plugins: ["html"],
	parser: "babel-eslint",
	env: {
		"browser": true,
		"node": true,
		"commonjs": true,
		"es6": true,
		"jasmine": true
	},
	globals: {
		"Vue": false
	},
	rules: {
		"linebreak-style": ["error", "unix"],
		"no-console": "warn",
		"no-var": "warn"
	}
}