.task-overlay .viewer {
  .jqTab {
    border: 0;
  }

  .jqTabGroup {
    border-left: 0;

    li {
      margin: 0;
    }

    a,
    a:hover {
      @extend .noselect;
      background-color: $white;
      border: none;
      color: #39526d;
      font-size: 0.8em;
      font-weight: bold;
      min-height: 19px; // 49px - 2*15px
      height: 19px; // without this sometimes the total comes out to 49.5px -KRU
      padding: 15px;
      text-shadow: none;
      text-transform: uppercase;
      transition: background-color .2s ease-in-out,
                  color .2s ease-in-out;
    }

    a:hover {
      color: #78c5ff;
    }

    .current > a,
    .current > a:hover {
      color: $white;
      border: none;
      background: $dark-blue;
      text-shadow: none;
    }

    span.label {
      font-size: 1em;
      width: auto;
    }
  }

  .jqTabContents {
    padding: 0;
  }

  .changes {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;

    .more-changes {
      color: $grey;
      display: block;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div[name="comment"] {
  background-color: #f8fcff;
  border: 1px solid #def1ff;
  border-radius: 4px;
  padding: 5px;
  min-height: 100px;
  text-align: left;
  font-size: 13px;
}

.task-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, .3);
  display: none;

  > .panel-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    .foswikiAlert {
      font-size: 1.4em;
      top: 0.2em;
      position: relative;
    }

    background-color: transparent;
    min-width: 748px;
    width: calc(40% + 48px);

    transform: translate3d(100%, 0, 0);
    transition: transform .5s ease-in-out;

    &.active {
      transform: translate3d(0, 0, 0);
    }

    > .close {
      position: absolute;
      top: 0;
      left: 0;
      width: 47px; // 48 - border-left
      height: 47px; // 48 - border-bottom
      background-color: #4b6b8e;
      box-shadow: -2px 2px 5px #39526d;
      border-bottom-left-radius: 5px;
      border-bottom: 1px solid #39526d;
      border-left: 1px solid #39526d;
      color: $white;
      cursor: pointer;
      text-align: center;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: #628dbd;

        > i {
          color: $white;
        }
      }

      &:active {
        background-color: #39526d;

        > i {
          color: $white;
        }
      }

      > i {
        color: #78c5ff;
        font-size: 1.25em;
        line-height: 48px;
      }
    }

    > .panel {
      position: absolute;
      top: 0;
      bottom: 48px;
      left: 48px;

      background-color: $white;
      border-left: 1px solid #39526d;
      box-shadow: -2px 0 5px #39526d;
      width: calc(100% - 48px);
      overflow-x: hidden;
    }

    > .buttons {
      position: absolute;
      bottom: 0;
      left: 48px;
      z-index: 2;

      background-color: #39526d;
      box-shadow: -2px 0 5px #39526d;
      height: 48px;
      width: calc(100% - 48px);

      > .edit, > .view {
        position: inherit;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transform: translate3d(0, 100%, 0);
        transition: transform .3s ease-in-out;

        > div {
          position: absolute;
          bottom: 0;

          display: inline-block;
          height: 48px;
          width: auto;

          &:first-child {
            left: 0;
          }

          &:last-child:not(:first-child) {
            right: 0;
          }
        }

        &.active {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    > .permalink > input {
      background: white;
      border-color: white;
      border-radius: 4px;
      width: calc(100% - 34px);
      padding: 5px;
      margin-top: 5px;
    }

    > .textarea, >.permalink {
      position: absolute;
      bottom: 48px;
      left: 48px;
      z-index: 1;

      $pad: 10px;
      background-color: #39526d;
      padding: $pad;
      height: auto;
      width: calc(100% - 48px);

      transform: translate3d(0, 100%, 0);
      transition: transform .3s ease-in-out;

      &.active {
        transform: translate3d(0, 0, 0);
      }

      label {
        color: $white;
      }

      [contenteditable] {
        background: white;
        border-radius: 4px;
        width: calc(100% - 34px);
        min-height: 100px;
        padding: 5px;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }

    > .upload {
      position: absolute;
      bottom: 48px;
      left: 48px;
      width: calc(100% - 48px);
      z-index: 1;

      background-color: #39526d;
      padding: 10px 0;

      transform: translate3d(0, 100%, 0);
      transition: transform .3s ease-in-out;

      &.active {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .cke_chrome {
    box-shadow: none;
  }

  .jqTextboxListValue {
    background-color: $light-blue;
    background-image: url('../assets/images/TasksAPI/user.png');
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 12px;
    border-radius: $global-radius;
    color: $blue;
    font-size: 12px;
    padding: 2px 15px 2px 23px;
  }
}

.panel-btn {
  transition: color .3s ease-in-out;

  color: $white;
  > i {
    color: white;
    font-size: 1.5em;
    line-height: 48px;
    text-align: center;
    width: 38px
  }

  &:hover {
    color: #78c5ff;
    > i {
      color: #78c5ff;
    }
  }
}

.panel-wrapper > .panel > .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;

  transform: translate3d(100%, 0, 0);
  transition: transform .3s ease-in-out;

  &.slide-in {
    transform: translate3d(0, 0, 0);
  }

  &.slide-out {
    transform: translate3d(-100%, 0, 0);
  }
}

.task-changeset {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  background-color: lighten(#e9eff5, 2%);
  padding: 10px;
  transition: background-color .3s ease-in-out;
  word-break: break-all;

  i {
    color: #aaa;
  }

  i:hover {
    color: #39526d;
  }

  > .task-changeset-header {
    border-bottom: dashed 1px #b1b1b1;
    font-weight: bold;
    padding-bottom: 5px;

    > .task-changeset-add {
      float: right;
    }

    > .task-changeset-id {
      color: #aaa;
    }
  }

  > .task-changeset-comment {
    background-color: inherit;
    height: auto;
    min-height: 1px;
    transition: background-color .3s ease-in-out,
                min-height .3s ease-in-out;

    > .icons {
      display: inline-block;
      float: right;
      margin-top: 5px;

      i {
        margin: 3px 6px 0 0;
      }
    }

    > .comment {
      &:not(:empty) {
        background-color: lighten(#e9eff5, 5%);
        border-radius: 5px;
        padding: 5px;
        word-break: initial;
      }

      &[contenteditable="true"] {
        background-color: $white;
        border-radius: 4px;
        min-height: 40px;
      }
    }
  }

  del {color: $del-color}
  ins {color: $ins-color;}
}


.task-twisty {
  display: block;
  text-align: right;

  &:hover > span,
  &:active > span, {
    color: $dark-red;
  }

  > span {
    color: $label-color;
    font-weight: bold;
  }
}

.task-attachments.foswikiAttachments > table.foswikiTable {
  thead th {
    background-color: #f0f0f0 !important;
    height: 1em;

    &:first-child {
      width: 20px;
    }
  }

  tbody {
    tr:nth-child(odd) td {
      background-color: $white !important;
    }

    tr:nth-child(even) td {
      background-color: $light-blue !important;
    }
  }
}

.task-details {
  > .caption {
    @include flex-container($align: stretch, $justify: space-between);

    background-color: $dark-blue;
    border-left: 7px solid transparent;
    box-shadow: 0 2px 5px #39526d;
    clear: left;
    color: $white;
    margin-bottom: 20px;

    &.prioritize {
      border-left: 7px solid $prioritized;
    }

    > div:not(:first-child) {
      @include flex($align: stretch);
      padding: 14px;
    }

    > .title {
      @include flex($align: center);
      padding: 10px;

      &,
      table {
        &,
        input {
          width: 100%;
        }
      }

      .foswikiAlert {
        margin-left: 10px; // do not collide with border from input field
        color: white;
      }

      span.label {
        display: block;
      }

      .title {
        color: $white;
        display: block;
        font-size: 1em;
        margin-top: 5px;
        text-transform: none;
      }

      &.view-only .title {
        font-size: 1.25em;
        font-weight: bold;
      }
    }

    > .controls {
      @include flex($align: stretch);

      background-color: lighten($dark-blue, 10%);
      border-left: 3px solid $mid-blue;
      border-radius: 0;
      padding: 14px;
      width: 31px; // 65 - 2*14
      cursor: pointer;

      &:hover {
        i,
        i.closed {
          color: $white;
        }
      }

      // ToDo:
      // move to .tasks-btn-close default definition
      .tasks-btn-close {
        background: none;
        background-image: none;
        border: none;
        float: none;
        margin-right: 0;
        padding: 0;
      }

      // ToDo: use dedicated class
      i {
        color: darken($light-blue, 25%);
        transition: color 0.5s ease;
        font-size: 2.5em;

        &:hover {
          color: $white;
        }

        &.closed {
          color: $light-green;

          &:hover{
            color: $white;
          }
        }
      }
    }
  }

  > .content {
    @include flex-container($align: flex-start);

    border-bottom: 3px solid #eee;
    margin-bottom: 20px;
    padding: 0 10px;

    > .meta {
      @include flex-container($align: flex-start, $direction: column);
      @include flex();

      margin-top: 20px;
      width: 25%;
      min-width: 200px;
    }

    > .description {
      @include flex();
      width: 75%;

      article {
        padding: 0 0 5px;
        word-break: break-word;
      }
    }

    > .comment {
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;

      span {
        color: #808080;
        display: block;
        font-size: 0.8em;
        text-transform: uppercase;
        margin-bottom: 3px;
      }
    }
  }

  > .upload {
    border-bottom: 3px solid #eee;
    color: #808080;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
  }
}

.task-meta-entry {
  @include flex-container($align: center);
  @include flex();

  background-color: $white;
  max-width: 100%;
  padding-bottom: 12px;
  width: 100%;

  > i {
    color:$grey;
    font-size: 1.5em;
    margin-right: 3px;
    text-align: center;
    width: 25px;
  }

  > div {
    max-width: inherit;
    width: inherit;
  }

  > div span {
    font-size: 1em;
    word-break: break-all;

    &.title {
      display: block;
      color: $grey;
      font-size: 0.8em;
      margin: 0 3px 0 0;
      text-transform: uppercase;
    }
  }
}

.task-overlay {
  input.foswikiInputField,
  select.foswikiSelect {
    background-color: $light-blue;
    border: 1px solid darken($light-blue, 5%);
    border-radius: 3px;
    color: $dark-blue;
    outline: none;
    padding: 3px;
    transition: background-color .2s ease-in-out;

    &:focus {
      border-color: darken($light-blue, 5%);
      background-color: darken($light-blue, 5%);
    }

    &:hover {
      background-color: darken($light-blue, 2%);
    }
  }

  select.foswikiSelect {
    cursor: pointer;
  }

  .select2-container {
    .select2-selection,
    .select2-selection-multi {
      background-color: $light-blue;
      border: 1px solid darken($light-blue, 5%);
      border-radius: 3px;
      color: $dark-blue;
    }
  }
}

.select2-hide-arrow .select2-selection__arrow {
  display: none;
}
/* hide permalink, po wants to think about it */
a.panel-btn.link {
  display: none !important;
}
