%TMPL:DEF{"ATTACH:files:header"}%<div class="qw-attachments-container">%TMPL:END%

%TMPL:DEF{"ATTACH:files:row"}%<!--ATTACH:files:row-->
<div>
  <span class="icon">%A_ICON%</span>
  <span class="ext">%A_EXT%</span>
  <span class="url">%ATTACHURLPATH%/%ENCODE{%A_FILE%}%</span>
  <span class="name"><noautolink>%A_FILE%</noautolink></span>
  <span class="size">%A_SIZE%</span>
  <span class="date">%A_DATE%</span>
  <span class="user">%A_USER%</span>
  <span class="comment">%A_COMMENT%</span>
</div>
<!--/ATTACH:files:row-->%TMPL:END%

%TMPL:DEF{"ATTACH:files:footer"}%</div>%TMPL:END%

%TMPL:DEF{"ATTACH:versions:footer"}%%TMPL:END%
%TMPL:DEF{"ATTACH:versions:header"}%%TMPL:END%
%TMPL:DEF{"ATTACH:versions:row"}%%TMPL:END%
