%TMPL:INCLUDE{"css"}%

%TMPL:DEF{"styles:screen"}%
<link rel="stylesheet" type="text/css" media="all" href="%PUBURLPATH%/%SYSTEMWEB%/FontAwesomeContrib/css/font-awesome.css%QUERYVERSION{name="FontAwesomeContrib" format="?version=$version"}%" />
<link rel="stylesheet" href="%PUBURLPATH%/%SYSTEMWEB%/FlatSkin/css/flatskin.min.css%QUERYVERSION{name="FlatSkinPlugin" format="?version=$version"}%">
<style type="text/css" media="all">%IF{ "defined FOSWIKI_PROJECT_URL and $FOSWIKI_PROJECT_URL" then="@import url('%FOSWIKI_PROJECT_URL%?version=%QUERYVERSION{"ModacSkin" default=""}%');"}%
</style>
%IF{ "$ USERLAYOUTURL or $ USERSTYLEURL or $ USERCOLORSURL" then="$percntTMPL:P{$quotstyles:user_defined$quot}$percnt"}%%TMPL:P{"styles:dynamic"}%%TMPL:END%

%TMPL:DEF{"styles:print"}%%TMPL:END%

%TMPL:DEF{"styles:iespecific"}%%TMPL:END%
