%TMPL:INCLUDE{"edit"}%
%TMPL:DEF{"context"}%edit%TMPL:END%

%TMPL:DEF{"content"}%<!--content-->
%TMPL:P{"formstart"}%
%TMPL:P{"formtop"}%
%TMPL:P{"textarea"}%
%TMPL:P{"formbottom"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%
<!--/content-->%TMPL:END%



%TMPL:DEF{"body:content"}%<!--body:content-->
%TMPL:PREV%
<div id="ckarea" class="follows-canvas"></div>
<a href="#" class="button" onclick="$('#main').append('<input type=&quot;hidden&quot; name=&quot;action_save&quot; value=&quot;Save&quot;>').submit();">Default Button</a>
<!--/body:content-->%TMPL:END%


%TMPL:DEF{"topbar:one:mid"}%<!--topbar:one:mid-->
<div class="qw-edit-title">
  <h5 class="content">
    <span class="edit-color">%MAKETEXT{"Draft"}%:</span>
    <span>%IF{"'%TOPIC%'/TopicTitle" then="TopicTitle" else="%TOPIC%"}%</span>
    <span class="edit-color">[%MAKETEXT{"Version"}% %CALC{"$INT(%REVINFO{format="$rev"}% + 1)"}%]</span>
  </h5>
</div>
<!--/topbar:one:mid-->%TMPL:END%

%TMPL:DEF{"topbar:one:right"}%<!--topbar:one:right-->
<div class="qw-cancel-edit">
  <a href="/%WEB%/%TOPIC%" class="button tiny secondary"><i class="fa fa-times"></i> %MAKETEXT{"Cancel"}%</a>
</div>
<!--/topbar:one:right-->%TMPL:END%

%TMPL:DEF{"offcanvas:rightbar:includes"}%<!--offcanvas:rightbar:includes-->
%TMPL:PREV%
<div data-rightbar-item>
  <a href="#" data-content="#qw-documentform" data-title="%MAKETEXT{"TBD Dokumentenlenkung"}%">
    %MAKETEXT{"Fübär"}% <i class="fa fa-chevron-right right"></i>
  </a>
  <div id="qw-documentform">%TMPL:P{"form"}%</div>
</div>
<!--/offcanvas:rightbar:includes-->%TMPL:END%
