%TMPL:INCLUDE{"edit"}%
%TMPL:DEF{"context"}%edit%TMPL:END%

%TMPL:DEF{"content"}%<!--content-->
%TMPL:P{"formstart"}%
%TMPL:P{"formtop"}%
%TMPL:P{"textarea"}%
%TMPL:P{"formbottom"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%
<!--/content-->%TMPL:END%

%{ textareas for WYSIWYG_TEXT }%
%TMPL:DEF{"textarea"}%%IF{"defined 'EDITOR_MESSAGE'" then="<div class='foswikiAlert'>%EDITOR_MESSAGE%</div>"}%<div class="foswikiEditTextarea">%TMPL:P{context="WYSIWYG_TEXT" then="textarea_wysiwyg" else="textarea_nowysiwyg"}%</div>%TMPL:END%
%TMPL:DEF{"textarea_nowysiwyg"}%<textarea class="foswikiTextarea foswikiEditboxStyleProportional foswikiWysiwygEdit" id="topic" name="text" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style='%EDITBOXSTYLE%'>%TEXT%</textarea>%TMPL:END%
%TMPL:DEF{"textarea_wysiwyg"}%<input type="hidden" name="WYSIWYG_TEXT" value="1" /><textarea class="foswikiTextarea foswikiEditboxStyleProportional foswikiWysiwygEdit WYSIWYG_TEXT WYSIWYG_TEXT_HIDDEN" id="topic" name="text" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style='%EDITBOXSTYLE%'>%WYSIWYG_TEXT%</textarea>%TMPL:END%

%{ We are showing the form in the rightbar, so be need to remove it from the bottom: }%
%TMPL:DEF{"formbottom"}%%TMPL:END%

%TMPL:DEF{"body:content"}%<!--body:content-->
%TMPL:PREV%
<div id="ckarea" data-offcanvas></div>
<!--/body:content-->%TMPL:END%


%TMPL:DEF{"documentcontrol:bar"}%<!--documentcontrol:bar-->
<div class="qw-documentcontrol qw-littleoffcanvas" data-offcanvas data-target="documentcontrol">
  <div>
    <div class="header">
      <span>%MAKETEXT{"Document control"}%</span>
      <a href="#" class="qw-back-btn right"  data-offcanvas-toggle="documentcontrol"></a>
    </div>
    <div class="content">
      <div id="qw-documentform">%TMPL:P{"form"}%</div>
    </div>
  </div>
</div>
<!--/documentcontrol:bar-->%TMPL:END%

%TMPL:DEF{"offcanvas:bars"}%<!--offcanvas:bars-->
%TMPL:PREV%
%TMPL:P{"documentcontrol:bar"}%
<!--/offcanvas:bars-->%TMPL:END%

%TMPL:DEF{"topbar"}%<!--topbar-->
<nav class="qw-top" data-offcanvas>
  <div class="one">
    <div id="cke-toolbar-container" class="editor"></div>
    <div class="buttons">
      <div>%TMPL:P{"topbar:buttons"}%</div>
    </div>
  </div>
  <div class="two">
    <div class="actions">
      <div>
        <div>
          <div class="tabs">
            <div>%TMPL:P{"topbar:tabs"}%</div>
          </div>
        </div>
        <div>
          <div class="topicactions">%TMPL:P{"topbar:actions"}%</div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--/topbar-->%TMPL:END%

%TMPL:DEF{"menutoggle"}%<!--menutoggle-->
<div class="qw-menutoggle edit">
  <div><i class="icon-edit"></i></div>
</div>
<!--/menutoggle-->%TMPL:END%

%TMPL:DEF{"topbar:buttons"}%<!--topbar:buttons-->
<div class="save">
  <div>
    <a href="#" class="qw-prio1-btn save stretch" data-submit-form="#main">%MAKETEXT{"save"}%</a>
  </div>
</div>
<div class="cancel">
  <div>
    <a href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%" class="qw-prio2-btn cancel stretch">%MAKETEXT{"cancel"}%</a>
  </div>
</div>
<!--/topbar:buttons-->%TMPL:END%
