%{ This is a default template }%
%TMPL:INCLUDE{"DocumentFormTable"}%

%TMPL:DEF{"changeform"}%
<input type="submit" name="action_replaceform" value='%MAKETEXT{"Replace form..."}%' class="foswikiChangeFormButton foswikiButton" />
%TMPL:END%

%TMPL:DEF{"mandatory"}%
<span class="foswikiAlert">*</span> %MAKETEXT{"indicates mandatory fields"}%
%TMPL:END%

%{ omitting the REPEATs will cause lots of 'uninitialized values' }%
%TMPL:DEF{"repeatedformrows"}%
%REPEAT%%REPEAT%%REPEAT%
%TMPL:END%

%TMPL:DEF{"formtail"}%
%TMPL:P{context="mandatoryfields" then="mandatory"}%
%TMPL:END%

%TMPL:P{"modacformtable:edit"}%
