%TMPL:DEF{"document"}%
%TMPL:P{"doctype"}%
%TMPL:P{"htmlstart"}%
%TMPL:P{"head"}%
%TMPL:P{"body"}%
<script>
  $(document).foundation();
</script>
%TMPL:P{"htmlend"}%
%TMPL:END%

%{
  Prints the entire document.
  (wrapped in comments to prevent foswiki's theme engine to produce unwanted paragraphs)
}%
%{}%%TMPL:P{"document"}%%{}%

%{ HTML5 doctype }%
%TMPL:DEF{"doctype"}%<!DOCTYPE html>%TMPL:END%
%TMPL:DEF{"htmlstart"}%<html class="no-js" lang="%LANG%">%TMPL:END%
%TMPL:DEF{"htmlend"}%</html>%TMPL:END%

%TMPL:DEF{"head"}%%{
}%<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="%TOPIC%">
  <meta name="TEXT_NUM_TOPICS" content="%MAKETEXT{"Number of topics:"}%">
  <meta name="TEXT_MODIFY_SEARCH" content="%MAKETEXT{"Modify search"}%">
  <meta name="robots" content="noindex">
  %MA_PACE%
  <link rel="icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
  %TMPL:P{"script"}%
  %TMPL:P{"windowtitle"}%
  %TMPL:P{"defaultstyle"}%
  <base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%" />
</head>%TMPL:END%




%{
  Default page layout containing placeholders for
    * both topbars (primary/secondary)
    * all off-screen menus (offcanvas)
    * the actual topic content
}%
%TMPL:DEF{"body"}%
<body>%JQREQUIRE{"blockui, cookie, jsonrpc, placeholder"}%
<div class="fixed">%TMPL:P{"topbar"}%</div>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Title</label></li>
        <li><a href="#">Entry</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foo</label></li>
        <li><a href="#">Bar</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div class="row">
        <div>
          <div class="ma-content">%TMPL:P{"content"}%</div>
        </div>
      </div>
    </section>

    <a class="exit-off-canvas"></a>
  </div>
</div>
</body>%TMPL:END%



%TMPL:DEF{"topbar"}%
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a class="left-off-canvas-toggle" href="#"><i class="fa fa-navicon"></i><span>%MAKETEXT{"Menu"}%</span></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>

    <ul class="right">
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff" class="right-off-canvas-toggle">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</nav>
%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"topbar2"}%
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a class="left-off-canvas-toggle" href="#"><i class="fa fa-navicon"></i><span>%MAKETEXT{"Menu"}%</span></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>

    <ul class="right">
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff" class="right-off-canvas-toggle">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</nav>
%TMPL:END%
