%TMPL:INCLUDE{"login"}%


%TMPL:DEF{"form"}%<!--form-->
%TMPL:P{"form:start"}%
%TMPL:P{"field:username"}%
%TMPL:P{"field:password"}%
%TMPL:P{"field:submit"}%
%TMPL:P{"form:end"}%
<!--/form-->%TMPL:END%

%TMPL:DEF{"form:start"}%<!--form:start-->
<form action="%SCRIPTURLPATH{"login"}%%PATH_INFO%" name="loginform" method="post" onsubmit="document.loginform.foswiki_origin.value+=window.location.hash" data-abide>
<!--/form:start-->%TMPL:END%

%TMPL:DEF{"form:end"}%<!--form:end-->
<literal>%QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%</literal>
<input type="hidden" name="foswiki_origin" value="%FOSWIKI_ORIGIN%" />
</form>
<!--/form:end-->%TMPL:END%

%TMPL:DEF{"username"}%<strong>%IF{"{TemplateLogin}{AllowLoginUsingEmailAddress}" then="%MAKETEXT{"Username or email address"}%" else="%MAKETEXT{"Username"}%"}%</strong>%TMPL:END%

%TMPL:DEF{"field:username"}%<!--field:username-->
<div class="content">
  <div class="input">
    <label>%TMPL:P{"username"}%
      <input tabindex="1" type="text" name="username" value="%URLPARAM{"usernamestep"}%" %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% required>
    </label>
  </div>
</div>
<!--/field:username-->%TMPL:END%

%TMPL:DEF{"password"}%<strong>%MAKETEXT{"Password"}%</strong>%TMPL:END%

%TMPL:DEF{"field:password"}%<!--field:password-->
<div class="content">
  <div class="input">
    <label>%TMPL:P{"password"}%
      <input tabindex="2" type="password" name="password" value="" %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% required>
    </label>
  </div>
</div>
<!--/field:password-->%TMPL:END%

%TMPL:DEF{"field:submit"}%<!--field:submit-->
<div class="content">
  <div class="submit">
    <button tabindex="3" type="submit" class="qw-login-btn" value="%MAKETEXT{"Logon"}%">%MAKETEXT{"Sign in"}%</button>
  </div>
  <div class="reset">
    <a href="/%SYSTEMWEB%/ResetPassword" tabindex="4" class="qw-reset-login-btn">%MAKETEXT{"Password forgotten?"}%</a>
  </div>
</div>
<!--/field:submit-->%TMPL:END%


%TMPL:DEF{"errorstep"}%<!--errorstep-->
%IF{
  "defined ERROR AND $ERROR != ''"
  then="<div data-alert class='alert-box alert'>%ERROR%<a href='#' class='close'>&times;</a></div>"
}%
%IF{
  "(defined BANNER AND $BANNER != '')"
  then="<div data-alert class='alert-box secondary'>%BANNER%<a href='#' class='close'>&times;</a></div>"}%
<!--/errorstep-->%TMPL:END%

%TMPL:DEF{"topbar:one"}%%TMPL:END%
%TMPL:DEF{"topbar:two"}%%TMPL:END%

%TMPL:DEF{"body:start"}%<!--body:start-->
<body>
<div class="qw-login-page">
<!--/body:start-->%TMPL:END%

%TMPL:DEF{"body:content"}%<!--body:content-->
<section class="qw-login-framgment">
  <div class="qw-form">%TMPL:P{"form"}%</div>
</section>
<section class="qw-login-framgment">
  <div class="qw-errors">
    <div class="content">
      %TMPL:P{"errorstep"}%
    </div>
  </div>
</section>
<!--/body:content-->%TMPL:END%

%TMPL:DEF{"body:end"}%<!--body:end-->
</div>
<script>
  $(document).qwiki();
</script>
</body>
<!--/body:end-->%TMPL:END%

%TMPL:DEF{"body"}%<!--body-->
%TMPL:P{"body:start"}%
%TMPL:P{"body:content"}%
%TMPL:P{"body:end"}%
<!--/body-->%TMPL:END%
