%TMPL:INCLUDE{"metacomments"}%

%{ ################################################################################ 
   comments::format::linear - format one comment in linear format
}%
%TMPL:DEF{"comments::format::linear"}%<!-- -->
<div class='cmtCommentContainer cmtComment$evenodd $percntIF{"$COMMENTMODERATION='on' and not('$state'=~'\bapproved\b')" then="cmtCommentNeedsApproval"}$percnt' id='cmtComment$index'>
  <div class='cmtComment {comment_id:"$id", index:"$index", author:"$percntSPACEOUT{$author}$percnt", date:"$date"}'>
    <a name='comment$id'></a>
    <div class='cmtBoxTitle'>
    %TMPL:P{
      "comment::photo"
      web="%USERSWEB%"
      topic="%USERINFO{"$author" format="$wikiname"}%"
    }%<!-- -->
    <span class='cmtAuthor'>%RENDERUSER{"$author"}%</span>
    <span class='foswikiSmallish foswikiGrayText'>
      <span class='cmtDate'>$date</span>
    </span>
    $percntIF{"$COMMENTMODERATION='on' and not('$state'=~'\bapproved\b')"
      then="<span class='foswikiAlert cmtAlert'>(%MAKETEXT{"needs approval"}%)</span>"
    }$percnt<!-- -->
    %TMPL:P{"comments::controls"}%<!-- -->
    %CLEAR%
    </div>
    <div class='cmtBoxContent'>
      %IF{"'%ENCODE{"$title" type="entity"}%'!=''" 
        then="<h3><noautolink>%ENCODE{"$title" type="entity"}%</noautolink></h3>"
      }%<!-- -->
      <div class='cmtCommentText'>$n$text</div>
    </div>
  </div> $subcomments
  <a name='bottomcomment$id'></a>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################
   comments::format::threaded - format comments in threaded format
}%
%TMPL:DEF{"comments::format::threaded"}%<!-- -->
<div class='cmtCommentContainer cmtComment$evenodd $percntIF{"$COMMENTMODERATION='on' and not('$state'=~'\bapproved\b')" then="cmtCommentNeedsApproval"}$percnt' id='cmtComment$index'>
  <div class='cmtComment {comment_id:"$id", index:"$index", author:"$percntSPACEOUT{$author}$percnt", date:"$date"}'>
    <a name='comment$id'></a>
    <div class='cmtBoxTitle'>
    %TMPL:P{
      "comment::photo"
      web="%USERSWEB%"
      topic="%USERINFO{"$author" format="$wikiname"}%"
    }%<!-- -->
    <span class='cmtAuthor'>%RENDERUSER{"$author"}%</span>
    <span class='foswikiSmallish foswikiGrayText'>
      <span class='cmtDate'>$date</span>
    </span>
    $percntIF{"$COMMENTMODERATION='on' and not('$state'=~'\bapproved\b')"
      then="<span class='foswikiAlert cmtAlert'>(%MAKETEXT{"needs approval"}%)</span>"
    }$percnt<!-- -->
    %TMPL:P{"comments::controls"}%<!-- -->
    %CLEAR%
    </div>
    <div class='cmtBoxContent'>
      %IF{"'%ENCODE{"$title" type="entity"}%'!=''" 
        then="<h3><noautolink>%ENCODE{"$title" type="entity"}%</noautolink></h3>"
      }%<!-- -->
      <div class='cmtCommentText'>$n$text</div>
    </div>
  </div> $subcomments
  <a name='bottomcomment$id'></a>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################
   comment::photo - renders an image of the commenter
   (TopicInteractionPlugin (tip) not supported)
}%

%TMPL:DEF{"comment::photo::tip"}%%TMPL:P{"comment::photo::default"}%%TMPL:END%

%TMPL:DEF{"comment::photo::default"}%<!-- -->
  %IMAGE{
    "%IF{"'%web%.%topic%'/Photo"
      then="$percntFORMFIELD{\"Photo\" topic=\"%web%.%topic%\"}$percnt" 
      else="%IF{"'%web%.%topic%'/attachments[name=~'\.(gif|png|jpe?g)$']"
        then="%QUERY{"'%web%.%topic%'/attachments[name=~'\.(gif|png|jpe?g)'][0].name"}%"
        else="%PUBURLPATH%/%SYSTEMWEB%/MetaCommentPlugin/nobody.gif"
      }%"
    }%"
    topic="%web%.%topic%"
    type="plain"
    align_="%IF{"'%align%'=~'^(left|right)$'" then="%align%" else="left"}%"
    href="%SCRIPTURLPATH{"view"}%/%web%/%topic%"
    size="30"
    crop="northwest"
    title="%SPACEOUT{"%topic%"}%"
  }%
<!-- -->%TMPL:END%

%TMPL:DEF{"comments::formstart"}%%TMPL:PREV%<div class="grid-block">%TMPL:END%
%TMPL:DEF{"comments::formend"}%</div>%TMPL:PREV%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::titlestep"}%<!-- -->
  <div class="row expanded">
    <div class="column small-1"><label class=""><strong>%MAKETEXT{"Title:"}%</strong></label></div>
    <div class="column"><input class="foswikiInputField" type="text" name="title" size="60" /></div>
  </div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::textstep"}%<!-- -->
  <div class="row expanded">
    <div class="column small-1"><label><strong>%MAKETEXT{"Comment:"}%</strong></div>
    <div class="column"><textarea class="foswikiTextarea" wrap="virtual" name="text"  rows="%ROWS%" cols="80"></textarea></div>
  </div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::namestep"}%<!-- -->
<div class="foswikiFormStep">
  <input class="foswikiInputField" type="text" size="60" name="author" value="%USERNAME%" />
  <label for="author"><strong>Name:</strong></label>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::buttonstep"}%<!-- -->
  <div class="row expanded">
    <div class="column small-1"></div>
    <div class="column">%BUTTON{"%MAKETEXT{"Save"}%" icon="tick" type="save"}%</div>
  </div>
<!-- -->%TMPL:END%

%{ ################################################################################ 
   comments::add::default - constructing the form to add a new comment
}%
%TMPL:DEF{"comments::add::default"}%<!-- -->
<div class="foswikiHideOnPrint cmtAddComment">
%TMPL:P{"comments::formstart"}%<!-- -->
%TMPL:P{"comments::namestep::hidden"}%<!-- -->
%TMPL:P{"comments::titlestep"}%<!-- -->
%TMPL:P{"comments::moresteps"}%<!-- -->
%TMPL:P{"comments::textstep" ROWS="10"}%<!-- -->
%TMPL:P{"comments::buttonstep"}%<!-- -->
%TMPL:P{"comments::formend"}%<!-- -->
</div>
<!-- -->%TMPL:END%
