%TMPL:INCLUDE{"more"}%

%TMPL:DEF{"topicname"}%<!-- -->
<div class="topic_manual">
<span class="modacjqWikiWord modacjqWikiWordTouch {source:'input[name=inputtopic]'%IF{"defined WIKIWORD_ALLOWED" then=", allow:'$percentWIKIWORD_ALLOWED$percent'"}%}"><input type="hidden" class="foswikiInputField inputName" name="topic" id="topic" value="%TOPIC%Copy" /></span>
<span class="modacjqWikiWord {source:'input[name=TopicTitle]'%IF{"defined WIKIWORD_ALLOWED" then=", allow:'$percentWIKIWORD_ALLOWED$percent'"}%}"><input type="text" class="foswikiInputField" name="inputtopic" size="60" /></span>
<div class="foswikiFormDescription">
%MAKETEXT{"Please enter the article name without special characters."}%
</div>
</div>
<!--//topicname -->%TMPL:END%
%{</verbatim>}%

%TMPL:DEF{"setparent"}%#SetParent
<div class="requireModacChangePermission"><h2>%MAKETEXT{"Set new topic parent"}%</h2>
<form name="main" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%?action_save=1" method="post" class="modacChanging">
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
<h3>%MAKETEXT{"Select topic parent"}%</h3>
%TMPL:P{"topicparent"}%
</div>
<div class="foswikiFormStep foswikiLast modacDialogButton">
<p><input type='submit' class='foswikiButton' value='%MAKETEXT{"Set new parent"}%' /></p>
</div>
</div>
</form></div>%TMPL:END%

%{
  Copy/Paste/Modify ModacSkinWebCreateNewTopicTemplate
     * Used search string instead of URLPARAM{topicparent}
     * removed ID
     * added a div with min-height to avoid scrollbars in dialog
}%
%{<verbatim class="tml">}%
%TMPL:DEF{"topicparent_select2"}%<!-- -->
%INCLUDE{"%SYSTEMWEB%.ModacAjaxHelper" section="selecttopic"}%
<div class="select2minheight"><input type="hidden" class="jqTopicSelect {include_web: false}" name="topicparent" value="%SUBST{text="%SEARCH{ "name = '%TOPIC%'" scope="topic" type="query" nosearch="on" nototal="on" format="$parent"}%" pattern="%WORKFLOWSUFFIX%$" format=""}%" /></div>
<!-- -->%TMPL:END%
%{</verbatim>}%

%{<verbatim class="tml">}%
%TMPL:DEF{"topicparent_select"}%<!-- -->
<select name="topicparent" class="foswikiSelect">
<option value="%SUBST{text="%SEARCH{ "name = '%TOPIC%'" scope="topic" type="query" nosearch="on" nototal="on" format="$parent"}%" pattern="%WORKFLOWSUFFIX%$" format=""}%" selected="selected">%SUBST{text="%URLPARAM{"topicparent" default="WebHome"}%" pattern="%WORKFLOWSUFFIX%$" format=""}%</option>
%SEARCH{
  "1"
  scope="topic"
  web="%BASEWEB%"
  excludetopic="*EditTemplate,*WebCreateNewTopicTemplate,*ViewTemplate"
  type="query"
  nonoise="on"
  format="<option value=\"$web.$topic\">$topic</option>"
}%
</select>
<!-- -->%TMPL:END%
%{</verbatim>}%
%{End Copy/Paste}%

%{<verbatim class="tml">}%
%TMPL:DEF{"topicparent"}%<!-- -->
%TMPL:P{context="Select2Enabled" then="topicparent_select2" else="topicparent_select"}%
<!-- -->%TMPL:END%
%{</verbatim>}%
