%TMPL:INCLUDE{"oops"}%
%TMPL:INCLUDE{"topicactions"}%

%{Need to undfine it here, because a view/edit-script might have included the sidebar}%
%TMPL:DEF{"sidebar"}%%TMPL:END%

%TMPL:DEF{"bodyclassname"}%modacNoViewPage modacOopsPage%TMPL:END%

%{ Hide elements we do not want: }%
%TMPL:DEF{"breadcrumb"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"menutoggle"}%%TMPL:END%
%TMPL:DEF{"document:head"}%%TMPL:END%

%TMPL:DEF{"bottombarcontents"}%<div id="patternBottomBarContents"></div>%TMPL:END%
