%TMPL:DEF{"topicaction"}%<div class="patternBorder"><a name="topic-actions"></a><div class="patternTopicActions"><div class="patternTopicAction"><span class="patternActionButtons">%TMPL:P{"topicactionbuttons"}%</span></div></div></div>%TMPL:END%

%TMPL:DEF{"canceltopicaction"}%<span><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" title='%MAKETEXT{"Back to topic"}%' %MAKETEXT{"accesskey='c'"}% rel='nofollow'>%MAKETEXT{"&Cancel"}%</a></span>%TMPL:END%

