%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"DocumentFormTable"}%

%TMPL:DEF{"offcanvas:bars"}%<!--offcanvas:bars-->
%TMPL:PREV%
%TMPL:P{"leftbar"}%
%TMPL:P{"infobar"}%
%TMPL:P{"quicksearch"}%
%TMPL:P{"attachments"}%
%TMPL:P{"documentcontrol:bar"}%
<!--/offcanvas:bars-->%TMPL:END%

%{
   Prints the document.
   Note: The usage of the content template is mandatory.
}%
%TMPL:DEF{"content"}%%TEXT%#TopicEnd%TMPL:END%

%TMPL:DEF{"topbar:two:right:edit"}%<a href="#" class="qw-action-button" data-offcanvas-toggle="infobar"><i class="icon-page-info"></i></a>
%TMPL:PREV% %TMPL:END%

%{ Add a "view-only" document controls to the rightbar. }%
%TMPL:DEF{"documentcontrol:bar"}%<!--documentcontrol:bar-->
<div class="qw-documentcontrol qw-littleoffcanvas" data-offcanvas data-title="%MAKETEXT{"Document control"}%" data-target="documentcontrol">
  <div>
    <div class="header">
      %MAKETEXT{"Document control"}%
      <a href="#" class="qw-back-btn right"  data-offcanvas-toggle="documentcontrol"></a>
    </div>
    <div class="content">
      <div id="qw-documentform">%TMPL:P{"modacformtable:view"}%</div>
    </div>
  </div>
</div>
<!--/documentcontrol:bar-->%TMPL:END%
