%TMPL:INCLUDE{"foswiki"}%

%{
   Prints the document.
   Note: The usage of the content template is mandatory.
}%
%TMPL:DEF{"content"}%%TEXT%#TopicEnd%TMPL:END%
%TMPL:DEF{"context"}%%IF{"context KVPIsDiscussion" then="edit" else="approved"}%"%TMPL:END%
