html body {
	.qw-page > .content {
	h1 {
		//font-family: $kc-font-family;
		font-size: $kc-h1-font-size;
		color: $kc-h1-font-color;
		line-height: $kc-h1-line-height;
		font-weight: $kc-font-weight;
		}

	h2 {
		//font-family: $kc-font-family;
		font-size: $kc-h2-font-size;
		color: $kc-h1-font-color;
		line-height: $kc-h2-line-height;
		font-weight: $kc-font-weight;
		}
	}
}	
