@import "variables.less";

.nav.ma-breadcrumb {
  list-style: none;
  overflow: hidden;

  > li {
    float: left;

    &:first-child {
      border-left: @ma-border-width solid @ma-border-color;

      a {
        padding-left: 20px !important;
        padding-right: 0 !important;
      }
    }

    &:last-child {
      a {
        background: transparent !important;
        color: #333333;
        cursor: default;
        pointer-events: none;

        &:after {
          border-left: 30px solid transparent;
        }

        &:before {
          border-left: 30px solid transparent;
        }
      }
    }

    > a {
      color: #333333;
      text-decoration: none;
      padding: 15px 15px 15px 55px;
      background: #fff;
      position: relative;
      display: block;
      float: left;

      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #fff;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }

      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid @ma-border-color;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }

      &:hover {
        background: #f2f2f2 !important;

        &:after {
          border-left-color: #f2f2f2 !important;
        }
      }
    }
  }
}
