.cke_chrome {
  border: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

.cke_top {
  border: none !important;
  background: #333 !important;
  background-image: none !important;
}

.cke_toolgroup {
  background: #333 !important;
  margin: 0 25px 5px 0 !important;
  border: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
