@import "variables.less";
@import "breadcrumb.less";
@import "helper.less";
@import "mixins.less";

@import "overrides/bootstrap/include.less";
@import "overrides/ckeditor/include.less";
@import "overrides/font-awesome/include.less";
@import "overrides/jasny/include.less";
@import "overrides/pace/include.less";

body {
  padding-top: 5px + @ma-topbar-height + @ma-topbar-secondary-height;
  padding-bottom: @ma-topbar-height;
}

.ma-content {
  background: @ma-content-bg;
  padding: @ma-content-padding;
}

.affix, .slimScrollDiv {
  width: inherit !important;

  &.list-group {
    padding-right: @ma-grid-gutter-width;
    word-wrap: break-word;
  }
}

.nav-tabs {
  border-bottom: none;
}

.ma-offcanvas-left {
  z-index: 1;
}

.ma-offcanvas-right {
  display: none;

  &.in {
    display: block;
  }
}

.ma-offcanvas-search {
  background: @ma-content-bg;
}


.ma-hover {
  margin-left: -1 * (@ma-content-padding + @panel-body-padding);
  margin-right: -1 * (@ma-content-padding + @panel-body-padding);
  padding-left: @ma-content-padding + @panel-body-padding;
  padding-right: @ma-content-padding + @panel-body-padding;

  background: #fbfbfb;
  cursor: hand;
}

.ma-comment {
  @ma-comment-border-width: 5px;
  margin-right: -1 * (@ma-content-padding + @panel-body-padding + @ma-comment-border-width);
  padding-right: (@ma-content-padding + @panel-body-padding + @ma-comment-border-width);
  border-right: @ma-comment-border-width solid;

  &.ma-comment-info { border-right-color: @brand-info; }
  &.ma-comment-warning { border-right-color: @brand-warning; }
  &.ma-comment-danger { border-right-color: @brand-danger; }
  &.ma-comment-primary { border-right-color: @brand-primary; }
  &.ma-comment-success { border-right-color: @brand-success; }
}

.btn-comment-suggestion.active {
  background: @brand-info;
  color: white;
}
.btn-comment-neutral.active {
  background: @brand-warning;
  color: white;
}
.btn-comment-issue.active {
  background: @brand-danger;
  color: white;
}







#cmt-target {
  @offset: @ma-grid-gutter-width/2;
  position: absolute;
  left: @offset;
  right: @offset;
}

#cmt-adorner {
  max-width: 90px;
  min-width: 90px;

  max-height: 48px;
  min-height: 48px;

  position: absolute;
  top: 0;
  left: -48px;
  overflow: hidden;

  > * {
    background: white;
    width: 48px;
    height: 48px;
  }

  > :first-child {
    position: absolute;
    left: 16px;

    .rotate( -45deg );
    .ma-border-top();
    .ma-border-left();
  }

  > :last-child {
    position: absolute;
    right: 0;
    width: 60px;
    height: 48px;
    padding: 12px 16px;

    .ma-border-top();
    .ma-border-bottom();
    .ma-border-right();
  }
}


.cursor-hand {
  cursor: hand;
  cursor: pointer;
  color: darken(@text-color, 20%);
}
