@import "variables.less";
@import "breadcrumb.less";
@import "helper.less";

@import "overrides/bootstrap/include.less";
@import "overrides/ckeditor/include.less";
@import "overrides/font-awesome/include.less";
@import "overrides/jasny/include.less";
@import "overrides/pace/include.less";

body {
  padding-top: 102px;
  padding-bottom: 50px;
}

.ma-content {
  background: @ma-content-bg;
  padding: 30px;
}

.affix, .slimScrollDiv {
  width: inherit !important;

  &.list-group {
    padding-right: 20px;
    word-wrap: break-word;
  }
}
