@import "vars.less";

// border styles
.ma-border { border: @ma-border-width solid @ma-border-color; }
.ma-borderless { border-color: transparent; }
.ma-border-bottom { border-bottom: @ma-border-width solid @ma-border-color; }
.ma-border-top { border-top: @ma-border-width solid @ma-border-color; }
.ma-border-left { border-left: @ma-border-width solid @ma-border-color; }
.ma-border-right { border-right: @ma-border-width solid @ma-border-color; }

// font sizes
.ma-text-small { font-size: @ma-font-size-small; }
.ma-text-extrasmall { font-size: @ma-font-size-extra-small; }
.ma-text-large { font-size: @ma-font-size-large; }
.ma-text-extralarge { font-size: @ma-font-size-extra-large; }

// font styles
.ma-text-bold { font-weight: bold; }
.ma-text-italic { font-style: italic; }

// paddings
.ma-padding { padding: @ma-padding; }
.ma-padding-small { padding: @ma-padding-small; }
.ma-padding-large { padding: @ma-padding-large; }
.ma-padding-left { padding-left: @ma-padding; }
.ma-padding-left-small { padding-left: @ma-padding-small; }
.ma-padding-left-large { padding-left: @ma-padding-large; }
.ma-padding-right { padding-right: @ma-padding; }
.ma-padding-right-small { padding-right: @ma-padding-small; }
.ma-padding-right-large { padding-right: @ma-padding-large; }
.ma-padding-top { padding-top: @ma-padding; }
.ma-padding-top-small { padding-top: @ma-padding-small; }
.ma-padding-top-large { padding-top: @ma-padding-large; }
.ma-padding-bottom { padding-bottom: @ma-padding; }
.ma-padding-bottom-small { padding-bottom: @ma-padding-small; }
.ma-padding-bottom-large { padding-bottom: @ma-padding-large; }
