@import "variables.less";

///////////////////
// border styles //
///////////////////
.ma-border { border: @ma-border-width solid @ma-border-color; }
.ma-borderless { border-color: transparent; }
.ma-border-bottom { border-bottom: @ma-border-width solid @ma-border-color; }
.ma-border-top { border-top: @ma-border-width solid @ma-border-color; }
.ma-border-left { border-left: @ma-border-width solid @ma-border-color; }
.ma-border-right { border-right: @ma-border-width solid @ma-border-color; }


////////////////
// font sizes //
////////////////
.ma-text-small { font-size: @ma-font-size-small; }
.ma-text-extrasmall { font-size: @ma-font-size-extra-small; }
.ma-text-large { font-size: @ma-font-size-large; }
.ma-text-extralarge { font-size: @ma-font-size-extra-large; }


/////////////////
// font styles //
/////////////////
.ma-text-bold { font-weight: bold; }
.ma-text-italic { font-style: italic; }
.ma-text-underline { text-decoration: underline; }
.ma-text-italic { text-decoration: line-through; }


//////////////
// paddings //
//////////////
.ma-padding { padding: @ma-padding; }
.ma-padding-small { padding: @ma-padding-small; }
.ma-padding-large { padding: @ma-padding-large; }
.ma-padding-left { padding-left: @ma-padding; }
.ma-padding-left-small { padding-left: @ma-padding-small; }
.ma-padding-left-large { padding-left: @ma-padding-large; }
.ma-padding-right { padding-right: @ma-padding; }
.ma-padding-right-small { padding-right: @ma-padding-small; }
.ma-padding-right-large { padding-right: @ma-padding-large; }
.ma-padding-top { padding-top: @ma-padding; }
.ma-padding-top-small { padding-top: @ma-padding-small; }
.ma-padding-top-large { padding-top: @ma-padding-large; }
.ma-padding-bottom { padding-bottom: @ma-padding; }
.ma-padding-bottom-small { padding-bottom: @ma-padding-small; }
.ma-padding-bottom-large { padding-bottom: @ma-padding-large; }

/////////////
// margins //
/////////////
.ma-margin { margin: @ma-margin; }
.ma-margin-small { margin: @ma-margin-small; }
.ma-margin-large { margin: @ma-margin-large; }
.ma-margin-left { margin-left: @ma-margin; }
.ma-margin-left-small { margin-left: @ma-margin-small; }
.ma-margin-left-large { margin-left: @ma-margin-large; }
.ma-margin-right { margin-right: @ma-margin; }
.ma-margin-right-small { margin-right: @ma-margin-small; }
.ma-margin-right-large { margin-right: @ma-margin-large; }
.ma-margin-top { margin-top: @ma-margin; }
.ma-margin-top-small { margin-top: @ma-margin-small; }
.ma-margin-top-large { margin-top: @ma-margin-large; }
.ma-margin-bottom { margin-bottom: @ma-margin; }
.ma-margin-bottom-small { margin-bottom: @ma-margin-small; }
.ma-margin-bottom-large { margin-bottom: @ma-margin-large; }
