.progress {
  padding: 1px;
  height: 8px;
  border: 1px solid;
  border-radius: 0;
  background-color: transparent;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

.progress-danger {
  border-color: @brand-danger;
}
