/////////////////////
// content padding //
/////////////////////
@ma-content-padding: 30px;


/////////////////
// page colors //
/////////////////
@ma-body-bg: #f2f2f2;
@ma-content-bg: #fff;


//////////////////
// brand colors //
//////////////////
@ma-brand-success: #70af57;
@ma-brand-primary: #3F7FB1;
@ma-brand-danger: #DD6936;
@ma-brand-info: #3F7FB1;
@ma-brand-yellow: yellow;


///////////////
// topbar(s) //
///////////////
@ma-topbar-bg: #fff;
@ma-topbar-secondary-bg: @ma-body-bg;
@ma-topbar-height: 50px;
@ma-topbar-secondary-height: 50px;
@ma-topbar-border-radius: 0px;


/////////////
// leftbar //
/////////////
@ma-leftbar-bg: @ma-body-bg;
@ma-leftbar-pad-left: 20px;
@ma-leftbar-pad-right: 20px;


/////////////////
// grid/gutter //
/////////////////
@ma-grid-gutter-width: 20px;


////////////
// helper //
////////////
@ma-font-size-small: 0.85em;
@ma-font-size-extra-small: 0.7em;
@ma-font-size-large: 1.2em;
@ma-font-size-extra-large: 1.4em;
@ma-padding-small: 6px;
@ma-padding: 12px;
@ma-padding-large: 24px;
@ma-margin-small: 6px;
@ma-margin: 12px;
@ma-margin-large: 24px;
@ma-border-width: 1px;
@ma-border-color: #bdbdbd;


//////////
// pace //
//////////
@ma-pace-color: #f90;
@ma-pace-height: 3px;


///////////////
// font path //
///////////////
@ma-glyph-path: "../src/bootstrap/dist/fonts/";
@ma-fa-path: "../src/font-awesome/fonts";
