// page background color
@ma-body-bg: #f2f2f2;

// content pane bg color
@ma-content-bg: #fff;


// navbar
@ma-navbar-bg: #fff;
@ma-navbar-secondary-bg: @ma-body-bg;
@ma-navbar-height: 50px;
@ma-navbar-secondary-height: 50px;
@ma-navbar-border-radius: 0px;
@navbar-secondary-border: none;

// grid
@ma-grid-gutter-width: 20px;

// content container
@ma-container-margin-top: @navbar-height + 54px;

@brand-success: #70af57;
@brand-primary: #3F7FB1;
@brand-danger: #DD6936;


@ma-border-color: @ma-body-bg;
@ma-border-width: 1px;

@ma-font-size-small: 0.85em;
@ma-font-size-extra-small: 0.7em;
@ma-font-size-large: 1.2em;
@ma-font-size-extra-large: 1.4em;

@ma-padding-small: 6px;
@ma-padding: 12px;
@ma-padding-large: 24px;
