$button-background: $ma-button-grey;
$button-radius: $ma-border-radius;
$button-padding: 0 rem-calc(16);
$button-color: $ma-body-text;
//$button-background-hover: scale-color($button-background, $lightness: $lightness);
$buttongroup-spacing: 5px;
$button-margin-bottom: 1rem;
$button-margin-right: rem-calc(8);

@include foundation-button;
@include foundation-button-group;


//Unfortunately the button-background-hover only applies
//if no styling class besides 'button' is set (e.g. alert).
// Therefore we have to override the background color for styles
// we want to use.
@mixin button-hover-active($bg-color, $color-effect, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    &:hover, &:focus {
        background-color: lighten($bg-color, $color-effect);
        color: $text-color;
    }
    &:active {
        background-color: darken($bg-color, $color-effect);
        color: $text-color;
    }
    &[disabled] {
        color: $text-color;
        &:active, &:hover {
            color: $text-color;
            background-color: $bg-color;
        }
    }
}

.button, a.button {
    @include ma-font('semibold');
    @include button-hover-active($button-background, 3%, $ma-secondary-text);
    line-height: rem-calc(36);
    border: 0;
    margin-right: $button-margin-right;
    margin-bottom: $button-margin-bottom;
    .fa,.far,.fal {
        margin-right: rem-calc(16);
        font-size: 1.33333333em;
    }
    &, &:link, &:visited {
        @include button-hover-active($button-background, 3%, $ma-secondary-text);
    }
}

.button, a.button {
    &.primary {
        @include button-hover-active($ma-primary, 10%, $ma-white);
    }
    &.delete {
        @include button-hover-active($ma-failure, 15%, $ma-white);
    }
    &.ghost {
        @include button-hover-active($button-background, 3%, $ma-secondary-text);
        background-color: $ma-white;
        &[disabled] {
            &:active, &:hover {
                background-color: $ma-white;
                color: $ma-secondary-text;
            }
        }
    }
    &.icon {
      padding: rem-calc(8) rem-calc(5);
      width: rem-calc(36);
      .fa,.far,.fal {
        margin-right: 0px;
        font-size: 1.45em;
      }
      &.ma-warning-color {
        color: $ma-warning;
      }
    }
}
