.ma-primary-color {
    color: $ma-primary;
    &.hoverable:hover {
        color: $ma-primary-hover;
    }
}
.ma-success-color {
    color: $ma-success;
    &.hoverable:hover {
        color: $ma-success-hover;
    }
    &.light {
        color: $ma-success-light;
    }
}
.ma-failure-color {
    color: $ma-failure;
    &.hoverable:hover {
        color: $ma-failure-hover;
    }
    &.light {
        color: $ma-failure-light;
    }
}
.ma-warning-color {
    color: $ma-warning;
    &.hoverable:hover {
        color: $ma-warning-hover;
    }
    &.light {
        color: $ma-warning-light;
    }
}
.ma-brow-color {
    color: $ma-brown;
}
.ma-sand-color {
    color: $ma-sand;
}
.ma-grey-color {
    color: $ma-grey;
    &.light {
        color: $ma-light-grey;
    }
    &.dark {
        color: $ma-dark-grey;
    }
    &.darker {
        color: $ma-darker-grey;
    }
    &.medium {
        color: $ma-medium-grey;
    }
}
.ma-black-color {
    color: $ma-black;
}
.ma-white-color {
    color: $ma-white;
}
.ma-bg-white-color {
    background-color: $ma-white;
}
.ma-bg-beige-color {
    background-color: $ma-bg-beige;
}
.ma-bg-light-color {
    background-color: $ma-bg-light;
}
.ma-bg-light-border-color {
    border-color: $ma-light-border;
}
.ma-help-color {
    color: $ma-help-text;
}
