@mixin color-definition($color) {
    color: $color;
    &.hoverable:hover {
        color: rgba($color, 0.7);
    }
}
@mixin bg-definition($color) {
    background-color: $color;
}

$color-list: $ma-primary, $ma-colored-text, $ma-colored-text-hover, $ma-secondary, $ma-success, $ma-warning, $ma-failure, $ma-failure-hover, $ma-darker-grey, $ma-dark-grey, $ma-grey, $ma-light-grey, $ma-sand, $ma-pale-grey, $ma-button-grey, $ma-white-grey, $ma-white, $ma-black, $ma-body-text;

@each $color in $color-list {
  .ma-#{$color}-color {
    @include color-definition(#{$color});
  }
  .ma-#{$color}-bg {
    @include bg-definition($ma-#{$color});
  }
  .ma-hover-#{$color}-color:hover {
    color: $ma-#{$color};
  }
}

.ma-primary-color {

}
