// generate .ma-margin-top-small etc.
@each $name, $size in $spacings {
  .ma-margin-top-#{$name} {
    margin-top: $size;
  }
}

@each $name, $size in $limited-width {
  .flatskin-wrapped .ma-width-#{name} table,
  .ma-width-#{$name} {
    width: $size;
  }
  .flatskin-wrapped .ma-max-width-#{name} table,
  .ma-max-width-#{$name} {
    max-width: $size;
  }
  .flatskin-wrapped .ma-min-width-#{name} table,
  .ma-min-width-#{$name} {
    min-width: $size;
  }
}
