@mixin ma-input {
	border: 1px solid #bbb;
	padding:1px 10px 1px 10px;
  	background-color: #E5E8EB;
  	border-radius: 4px;
  	color: #A4AEB9;
	font-size: 13px;
	height: rem-calc(38);
	line-height: 18px;
	font-family: 'OpenSans-Italic';
  	font-style: italic;
  	margin: 5px 1px 1px 1px;
}

// input {
//   @include ma-input;
// }