.ma-sidebar {
  height: 100%;
  width: 100%;

  background-color: $ma-body-text;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.ma-sidebar-item {
  flex-grow: 0;

  &.stretch {
    flex-grow: 2;
  }
}

.ma-logo {
  overflow: hidden;

  &.bottom {
    padding-bottom: rem-calc(6);
  }

  &.top {
    padding-top: rem-calc(6);
    background-color: $white;
    border-bottom-left-radius: rem-calc(5);
    border-bottom-right-radius: rem-calc(5);
    overflow: hidden;
  }
}

.ma-sidebar-item {
  a,
  a:active,
  a:focus,
  a:hover,
  a:link,
  a:visited {
    color: $white;
  }
}
