.ma-sidebar {
  height: 100%;
  width: 100%;

  background-color: $ma-body-text;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.ma-sidebar-item {
  algin-self: flex-start;
  width: 100%;

  &.stretch {
    algin-self: stretch;
  }

  .right {
    float: right;
    margin-right: rem-calc(5);
  }
  .ma-flyout-icon {
    line-height: rem-calc(20);
    color: $ma-dark-grey;
  }

  i {
    margin: rem-calc(2 5);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
  }

  li {
    padding-left: rem-calc(22);
    &.active,
    &:hover {
      background-color: $ma-bg-light;
      a {
        color: $black;
        text-decoration-line: none;
      }
    }
  }
}

@mixin ma-leftbar-box($topbar, $content) {
  margin-bottom: rem-calc(12);
  .twistyPlugin:first-child {
    height: rem-calc(30);
    .foswikiLinkLabel {
      font-size: rem-calc(13);
      line-height: rem-calc(30);
      color: $white;
    }
    background: $topbar;
  }
  .right {
    float: right;
    margin-right: rem-calc(5);
    line-height: rem-calc(25);
  }
  .twistyPlugin {
    background: $content;
  }
  ul {
    padding: rem-calc(5 0);
  }
}

.ma-leftbar-user-twisty {
  @include ma-leftbar-box($ma-dark-grey, $ma-grey);
}

.ma-leftbar-location-twisty {
  @include ma-leftbar-box($ma-primary, $ma-primary-hover);
}

.ma-leftbar-twisty-link {
  margin: rem-calc(8 0);

  &:hover {
    text-decoration-line: none;
  }


  .foswikiLinkLabel {
    color: $ma-dark-grey;
  }
}

.ma-logo {
  overflow: hidden;

  &.bottom {
    padding-bottom: rem-calc(6);
  }

  &.top {
    padding: rem-calc(6);
    margin-bottom: rem-calc(12);
    background-color: $white;
    border-bottom-left-radius: rem-calc(5);
    border-bottom-right-radius: rem-calc(5);
    overflow: hidden;
    margin: auto;
    width: 85%;
  }
}

.ma-sidebar-item {
  a,
  a:active,
  a:focus,
  a:hover,
  a:link,

  a:visited {
    color: $white;
  }
}
