.cmtBoxTitle {
  background-color: $ma-light-grey;
  border-top-left-radius: $ma-border-radius;
  border-top-right-radius: $ma-border-radius;
  line-height: 40px; // no rem-calc, because the avatar height is coded in metacomment.flat.tmpl
  height: 40px;
  padding-left: $ma-common-spacing;
}
.cmtBoxContent {
  background-color: $ma-bg-light;
  border-bottom-left-radius: $ma-border-radius;
  border-bottom-right-radius: $ma-border-radius;
  padding-left: $ma-common-spacing;
  padding-bottom: $ma-common-spacing;
}
.cmtComment {
  margin-bottom: $ma-common-spacing;

  h3 {
    margin-bottom: $ma-h3-margin-bottom;
    margin-top: 0;
  }
}
.cmtAuthor {
  font-weight: bold;
}
.cmtSubComments {
  border: none;
  margin-left: $ma-common-spacing;
}
.cmtControls {
  float: right;
}


// Undo some ModacSkin styles
#modacComments .cmtCommentOdd .cmtControls,
#modacComments .cmtCommentEven .cmtControls {
  background-color:  $ma-light-grey;
  margin-right: $ma-common-spacing;
}
#modacComments .cmtCommentEven {
  border: none;
}
.cmtComments {
  border: none;
  padding: $ma-common-spacing;
}
