@mixin ma-font($type: 'regular') {
  @if $type == 'regular' {
    font-family: $ma-font-regular;
    font-weight: $ma-font-weight-regular;
  }

  @if $type == 'semibold' {
    font-family: $ma-font-semibold;
    font-weight: $ma-font-weight-semibold;
  }

  @if $type == 'bold' {
    font-family: $ma-font-bold;
    font-weight: $ma-font-weight-bold;
  }
}

@mixin disable-anchor-hover() {
  color: $body-font-color;
}

@mixin input-label() {
  color: $ma-secondary-text;
  font-weight: $ma-font-weight-bold;
  margin-bottom: map-get($spacings, 'xsmall');
}