@mixin ma-font($type: 'regular') {
  @if $type == 'regular' {
    font-family: $ma-font-regular;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
  }

  @if $type == 'semibold' {
    font-family: $ma-font-semibold;
    font-weight: 600;
  }

  @if $type == 'bold' {
    font-family: $ma-font-bold;
    font-weight: bold;
  }
}

@mixin disable-anchor-hover() {
  color: $body-font-color;
}