p.ma-notification {
	background-color: $ma-bg-beige;
	border-radius: $ma-border-radius;
	padding: rem-calc(11);
	border: 1px solid $ma-sand;
}

p.ma-notification.ma-success {
	background-color: $ma-success-hover;
	color: white;
	border-color: $ma-success;
}

p.ma-notification.ma-warning {
	background-color: $ma-warning-hover;
	color: black;
	border-color: $ma-warning;
}

p.ma-notification.ma-failure {
	background-color: $ma-failure-hover;
	color: white;
	border-color: $ma-failure;
}