.pagination-container {
  padding-left: 10px;
}

.pagination {
  display: inline-block;
  > li {
    &:first-child a{
      padding-right: rem-calc(16);
    }
    &:last-child a{
      padding-left: rem-calc(16);
    }
    display: inline;
    span {
      padding: rem-calc(10 8);
      &:hover {
        background-color: transparent;
      }
    }
    a {
      padding: rem-calc(10 8);
      margin: 0;
      font-size: 14px;
      &:hover {
        background-color: transparent;
        color: $ma-primary;
        text-decoration: underline;
      }
    }
    &.active {
      > a {
        @include ma-font('bold');
        background-color: transparent;
        color: $ma-body-text;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.disabled {
      > a {
        color: $ma-disabled-text;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

