.pagination-container {
  padding-left: 10px;
}

.pagination {
  display: inline-block;
  li {
    display: inline;
    &.paginationjs-page a {
      border-radius: $ma-border-radius;
      padding: 10px 13px;
      color: $ma-dark-grey;
      background-color: transparent;
      &:hover {
        color: $ma-primary;
        text-decoration: none;
      }
    }
    &.active {
        > a {
        @include ma-font('bold');
        color: $ma-primary;
        }
    }
  }
}

.ma-pager-prev,
.ma-pager-next {
  color: $ma-dark-grey;
  background-color: $ma-light-grey;
  border-radius: $ma-border-radius;
  padding: 10px 13px;
  &:hover {
    background-color: $ma-medium-grey;
  }
}

.disabled {
.ma-pager-prev,
.ma-pager-next {
    opacity: 0.2;
  &:hover {
    opacity: 0.2;
  }
}
}
