.solrSearchHit {
  h3 img {
    display: none;
    font-family: ma-font('regular');
  }
  .solrContainerLink {
    a {
      color: $ma-dark-grey;
    }
    em {
      font-size: inherit !important;
    }
  }
}

.solrSearchHitsList {
  margin-top: 5px !important;
}

//Search header style
.solrHeader .patternBorder {
  background-color: $ma-bg-beige;
  border: 0;
  border-radius: $ma-border-radius;
  padding: 15px;

  .foswikiFormSteps {
    background-color: $ma-white;
    border-radius: $ma-border-radius;
    padding: 10px;
  }

  .foswikiLayoutTable {
    display: none;
  }
  .search-field {
    margin-bottom: 0;
  }
}

.facet-heading {
  border-bottom: solid 1px $ma-black;
  color: $ma-black;

  p {
    display: inline;
  }

  .ma-twisty-icon {
    font-size: 2em;
  }
}

//Pager styles
.solrPager {
  border-bottom: 0 !important;
  margin: 0 !important;

  .solrPagerPrev, .solrPagerNext {
    background-color: $ma-medium-grey;
    border: 0;
    border-radius: 5px;
    color: transparent;
    display: inline-block;
    font-weight: normal;
    height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 40px;

    &::before {
      color: $ma-dark-grey;
      font-family: 'FontAwesome';
      font-size: 3em;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: $ma-medium-grey !important;
    }
  }

  .solrPagerPrev {
    &::before {
      content: '\f104';
    }
  }
  .solrPagerNext {
    &::before {
      content: '\f105';
    }
  }

  :link,
  :visited {
    @include ma-font('regular');
    color: $ma-brown;
    margin: 5px;

    &:hover,
    &:focus,
    &:hover {
      color: $ma-brown;
      background: transparent !important;
    }

    &.solrPagerPrev,
    &.solrPagerNext {
      color: transparent;
      background: $ma-medium-grey !important;
    }

  }

  a.current {
    background-color: transparent !important;
    color: $ma-primary !important;
  }
}

.solrFooter .solrPager {
  border-top: 0 !important;
}

#modacSolrRightBar {
  background-color: $ma-white;
  border-radius: 5px;

  h2 {
    border-bottom: 1px;
    border-style: solid;
    margin: 5px;
  }

  #solrCurrentSelection h3 {
    margin: 5px;
  }
}

.solr-sorting {
  display: table;
  float: right;
}

.right-bar-wrapper {
  background-color: $ma-bg-beige;
  border-radius: $ma-border-radius;
  padding: 15px;
}

.facet-field {
  margin: 5px 0;
  white-space: nowrap;
}

//SerialPager styling

a.jqSerialPagerPrev,
a.jqSerialPagerNext {
  background-image: none !important;
  &::before {
    color: $ma-brown;
    font-family: 'FontAwesome';
    font-size: 2em;
  }
}

a.jqSerialPagerPrev{
  &::before {
    content: '\f104';
  }
}

a.jqSerialPagerNext{
  &::before {
    content: '\f105';
  }
}

.solrSearchField {
  min-width: 400px;
  width: 400px;
}

//This is a placeholder style and needs to be removed once we have
//the real button styles.

.button {
  @include ma-font('semibold');
  background-color: $ma-primary;
  border-radius: $ma-border-radius;
  color: $ma-white;
  padding: 14px 32px;
}