.solrSearchHit {
  h3 img {
    display: none;
    font-family: ma-font('regular');
  }
  .solrContainerLink {
    a {
      color: $ma-dark-grey !important;
    }
    em {
      font-size: inherit !important;
    }
  }
}

.solrSearchHitsList {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

//Search header style
.solrHeader .patternBorder {
  background-color: $ma-bg-beige;
  border: 0;
  border-radius: $ma-border-radius;
  padding: 15px;

  .foswikiFormSteps {
    background-color: $ma-white;
    border-radius: $ma-border-radius;
    padding: 10px;
  }

  .foswikiLayoutTable {
    display: none;
  }
  .search-field {
    margin-bottom: 0;
  }
}

.facet-heading {
  border-bottom: solid 1px $ma-black;
  color: $ma-black;
  margin: 5px;

  p {
    vertical-align: middle;
    display: inline;
  }

  .ma-twisty-icon {
    vertical-align: middle;
    font-size: 2em;
  }
}

#modacSolrRightBar {
  background-color: $ma-white;
  border-radius: 5px;

  h2 {
    border-bottom: 1px;
    border-style: solid;
    margin: 5px;
  }

  #solrCurrentSelection h3 {
    margin: 5px;
    font-size: rem-calc(16);
  }

  [type=checkbox]+label {
    margin-left: 0px;
  }
}

.solr-sorting {
  display: table;
  float: right;
}

.right-bar-wrapper {
  background-color: $ma-bg-beige;
  border-radius: $ma-border-radius;
  padding: 15px;
}

.facet-field {
  margin: 5px 0;
  white-space: nowrap;
}

//SerialPager styling

a.jqSerialPagerPrev,
a.jqSerialPagerNext {
  background-image: none !important;
  &::before {
    color: $ma-brown;
    font-family: 'FontAwesome';
    font-size: 2em;
  }
}

a.jqSerialPagerPrev{
  &::before {
    content: '\f104';
  }
}

a.jqSerialPagerNext{
  &::before {
    content: '\f105';
  }
}

.solrSearchField {
  min-width: 200px;
}

.pagination {
  padding-left: 0;
}

.pagination-container{
  padding-left: 0px;
}

.solrClear{
  background-image: none !important;
}

.solrPager {
  margin: 0 !important;
  border: 0 !important;
}

.solrHeader {
  table td:first-child {
    padding-right: 10px;
  }
}
//This is a placeholder style and needs to be removed once we have
//the real button styles.

.button {
  @include ma-font('semibold');
  background-color: $ma-primary;
  border-radius: $ma-border-radius;
  color: $ma-white;
  padding: 14px 32px;
}