.solrSearchHit {
  h3 img {
  display: none;
  font-family: ma-font('regular');
  }
  .solrContainerLink {
    color: $ma-dark-grey;
    a {
      color: $ma-dark-grey;
    }
    em {
      font-size: inherit !important;
    }
  }
}

.solrSearchHitsList {
  margin-top: 5px !important;
}

//Search header style
.solrHeader .patternBorder {
  padding: 15px;
  background-color: $ma-bg-beige;
  border-radius: $ma-border-radius;
  border: none;

  .foswikiFormSteps {
    padding: 10px;
    background-color: white;
    border-radius: $ma-border-radius;
  }

  .foswikiLayoutTable {
    display: none;
  }
}

.facet-heading {
  border-bottom: solid 1px black;
  color: black;
  p {
    display: inline;
  }
}

//Select style
.foswikiSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
    color: black;
    border-radius: 5px;
    background-color: $ma-medium-grey;
    width: 100%;
    border: none;
    /* border: 1px solid #bbb; */
    padding: .75em 1em .5em 1em;
    /* box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2); */
    /* background-color: white; */
    background-image: url(../images/select-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 35px;
}

//Pager styles
.solrPager {
  border-bottom: none !important;
  margin: 0 !important;
  a {
    @include ma-font('regular');
    margin: 5px 5px !important;
    color: $ma-brown !important;
    &:hover {
      background: transparent !important;
    }

  }
  a.solrPagerPrev,a.solrPagerNext{
    &:hover {
      background: $ma-medium-grey !important;
    }
  }
  a.current {
    color: $ma-primary !important;
    background-color: transparent !important;
  }
  .solrPagerPrev, .solrPagerNext {
    display: inline-block;
    vertical-align: middle;
      width: 40px;
      overflow: hidden;
      height: 40px;
      background-color: $ma-medium-grey;
      background-repeat: no-repeat;
      //background-image: url(../images/select-arrow.png);
      border: 0px;
      border-radius: 5px;
      color: transparent !important;
      background-position: center;
      padding: 0;
      position: relative;
      font-weight: normal;
      margin: 0;
      &:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 50%;
        left: 50%;
        color: $ma-dark-grey;
        font-size: 3em;
        transform: translate(-50%, -50%);
      }
  }
  .solrPagerPrev {
    &:before {
      content: "\f104";
    }
  }
  .solrPagerNext {
    &:before {
      content: "\f105";
    }
  }
}

#modacSolrRightBar {
  border-radius: 5px;
    background-color: white;
    h2 {
      border-bottom: 1px;
      border-style: solid;
      margin: 5px;
    }

    #solrCurrentSelection h3 {
      margin: 5px;
    }
}

.solr-sorting {
  display: table;
  float: right;
}

.right-bar-wrapper {
  padding: 15px;
  background-color: $ma-bg-beige;
  border-radius: $ma-border-radius;
}

.facet-field {
  margin: 5px 0;
  white-space: nowrap;
}

//SerialPager styling

a.jqSerialPagerPrev,
a.jqSerialPagerNext {
  background-image: none !important;
  &::before {
    font-family: "FontAwesome";
    font-size: 2em;
    color: $ma-brown;
  }
}

a.jqSerialPagerPrev{
  &::before {
    content: "\f104";
  }
}

a.jqSerialPagerNext{
  &::before {
    content: "\f105";
  }
}

.solrSearchField {
  width: 400px;
}