.jqTabPane {
  .jqTab {
    border-top: rem-calc(2) solid $ma-light-grey;
    border-right: rem-calc(0) solid $ma-light-grey;
    border-bottom: rem-calc(0) solid $ma-light-grey;
    border-left: rem-calc(0) solid $ma-light-grey;
  }
  .jqTabGroup {
    margin: rem-calc(-1);
    li > a{
      padding: rem-calc(13 22);
      border: rem-calc(0) solid $ma-light-grey !important;
      border-radius: rem-calc(3 3 0 0);
      background-color: $ma-white;
      color: $ma-dark-grey;
      &:hover {
        padding: rem-calc(13 22);
        background-color: $ma-light-grey;
        color: $ma-dark-grey;
      }
    }
  }
  .jqTabGroup li.current > a{
    color: $ma-primary;
    border-top: rem-calc(2) solid $ma-light-grey !important;
    border-right: rem-calc(2) solid $ma-light-grey !important;
    border-bottom: rem-calc(0) solid $ma-light-grey !important;
    border-left: rem-calc(2) solid $ma-light-grey !important;
  }
}

