.ma-table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;

  th, td {
    font-size: rem-calc(13);
    border: 0;
    border-bottom: 1px solid $ma-light-border;
    line-height: 1.4;
  }
  th {
    @include ma-font('bold');
    padding: rem-calc(11 0 11 14);
  }
  td {
    @include ma-font('regular');
    padding: rem-calc(13 14 13 14);
  }
  tr:last-child td {
    border-bottom: 0;
  }
  tr.ma-success {
    background-color: rgba($ma-success, 0.3);
  }
  tr.ma-warning {
    background-color: rgba($ma-warning, 0.3);
  }
  tr.ma-failure {
    background-color: rgba($ma-failure, 0.3);
  }
}
.ma-table.ma-striped {
  //To avoid !important for the context colors we exclude them here
  //so they take precedence.
  tr:not(.ma-success):not(.ma-warning):not(.ma-failure):nth-child(even) {
    background-color: $ma-bg-light;
  }
}

.ma-table.ma-definition {
  tr td{
    border-style: none;
  }
  tr td:first-child {
    @include ma-font('semibold');
    border-top-left-radius: $ma-border-radius;
    border-bottom-left-radius: $ma-border-radius;
  }
  tr td:last-child {
    border-top-right-radius: $ma-border-radius;
    border-bottom-right-radius: $ma-border-radius;
  }
  tr:nth-child(odd) {
    background-color: $ma-bg-light;
  }
}

//Specific overwrites for the old modac skin
.Modac_Standard {
  @extend .ma-table;
  thead tr:first-child {
    background-color: white;
  }
  th {
    color: black;
    text-align: left;
  }
}

.Modac_Standard.autonumbered{
  tbody tr td:first-child:before {
    color: $primary-color;
  }
}