.jqTabPaneFlat {
  > .jqTabGroup {
    a {
      background: $ma-white;
      border: 0;
      border-top-left-radius: $ma-border-radius;
      border-top-right-radius: $ma-border-radius;
      color: $ma-dark-grey;
      font-weight: bold;
      line-height: 100%;
      padding: rem-calc(13 22);

      &:hover {
        color: inherit;
        background: $ma-light-grey;
        border-bottom: 2px solid $ma-light-grey;
      }
    }

    li {
      background: transparent;
      margin: rem-calc(0 8 -2 4);

      &:first-child {
        margin-left: rem-calc(8);
      }

      &.current a {
        background: $ma-white;
        border: 2px solid $ma-light-grey;
        border-bottom: 2px solid $ma-white;
        color: $ma-primary;
        font-weight: bold;
      }
    }
  }

  .jqTab.current {
    border: 0;
    border-top: 2px solid $ma-light-grey;
  }
}
