$tooltip-margin: rem-calc(8);
$tooltip-arrow-size: 8;
$color: $ma-darker-grey;

.tooltip {
  display: block !important;
  z-index: 10000;
  border-radius: $ma-border-radius;

  .tooltip-inner {
    color: white;
    border-radius: $ma-border-radius;
    padding: rem-calc(5 10 4);
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $tooltip-margin;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: rem-calc($tooltip-arrow-size);

    .tooltip-arrow {
      border-width: rem-calc($tooltip-arrow-size $tooltip-arrow-size 0 $tooltip-arrow-size);
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: rem-calc(-$tooltip-arrow-size);
      left: rem-calc(50% - $tooltip-arrow-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $tooltip-margin;

    .tooltip-arrow {
      border-width: rem-calc(0 $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size);
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: rem-calc(-$tooltip-arrow-size);
      left: rem-calc(50% - $tooltip-arrow-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: rem-calc($tooltip-arrow-size);

    .tooltip-arrow {
      border-width: rem-calc($tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0);
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: rem-calc(-$tooltip-arrow-size);
      top: rem-calc(50% - $tooltip-arrow-size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: rem-calc($tooltip-arrow-size);

    .tooltip-arrow {
      border-width: rem-calc($tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size);
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: rem-calc(-$tooltip-arrow-size);
      top: rem-calc(50% - $tooltip-arrow-size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {

    .popover-inner {
      background: $color;
      color: black;
      padding: rem-calc(24);
      border-radius: $ma-border-radius;
      box-shadow: 0 rem-calc(5) rem-calc(30) rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
