.widgetBlockTitle {
  @include ma-font('semibold');
  background: 0;
  border-bottom: 2px solid $ma-pale-grey;
  color: $primary-color;
  font-size: rem-calc(24);
  line-height: rem-calc(19);
  margin-bottom: rem-calc(7);
  padding-bottom: rem-calc(10);
}

.widgetBlockContent {
  @include ma-font();
  border: 0;
  font-size: rem-calc(13);
  line-height: rem-calc(21);
  margin: 0;
  padding: 0;
}

.wrapper,
.widgetBoxWrapper {
  padding: rem-calc(7);
  border-radius: $ma-border-radius;
  & > div {
      width: 100%;
      border-radius: $ma-border-radius;
      padding: rem-calc(7);
  }
}
.wrapper {
  background-color: $ma-sand;
  & > div {
      background-color: $ma-white;
  }
  .facet {
    word-wrap: break-word;
  }
}
